<form action="javascript:;" method="post" id="formCostcenterEdit" name="form1">
    <div class="modalHeader">
		<h2>{$smarty.config.Cost_center_edit}</h2>
		<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
	</div>
	<div class="modalContent">
		<div class="clearfix">
			<ul class="lstForm clearfix">
				<li>
					<ul>
						<li class="info">
							<label for="companyEdit">{$smarty.config.Company}:</label>
						</li>
						<li class="field ">
							<select class="w240" name="company" id="companyEdit">
								<option value="">{$smarty.config.Select_company}</option>
								{html_options values=$corpsids output=$corpsvals selected=$company}
							</select>
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="nameCostCeEdit">{$smarty.config.Name}:</label>
						</li>
						<li class="field ">
							<input name="name" id="nameCostCeEdit" type="text" class="w240" maxlength="120" value="{$name}"/>
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="codEdit">{$smarty.config.Code}:</label>
						</li>
						<li class="field ">
							<input name="cod" id="codEdit" type="text" class="w150" maxlength="30" value="{$cod}" />
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="modalFooter">
		<div class="clearfix">
			<ul class="lst-btn">
				<li class="last">
					<input type="hidden" id="id" name="id" value="{$id}"/>
					<input type='submit' name="submit" id="btnSendCostcenterEdit" class="btnOrange tp1" value="{$smarty.config.Save}" />						
				</li>
			</ul>
		</div>
	</div>
</form>