<form action="javascript:;" method="post" id="formCostcenterInsert" name="form1">
    <div class="modalHeader">
		<h2>{$smarty.config.Cost_center_insert}</h2>
		<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
	</div>
	<div class="modalContent">
		<div class="clearfix">
			<ul class="lstForm clearfix">
				<li>
					<ul>
						<li class="info">
							<label for="company">{$smarty.config.Company}:</label>
						</li>
						<li class="field ">
							<select class="w240" name="company" id="company">
								<option value="">{$smarty.config.Select_company}</option>
								{html_options values=$corpsids output=$corpsvals}
							</select>
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="nameCostCe">{$smarty.config.Name}:</label>
						</li>
						<li class="field ">
							<input name="name" id="nameCostCe" type="text" class="w240" maxlength="120" />
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="cod">{$smarty.config.Code}:</label>
						</li>
						<li class="field ">
							<input name="cod" id="cod" type="text" class="w150" maxlength="30" />
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="modalFooter">
		<div class="clearfix">
			<ul class="lst-btn">
				<li class="last">
					<input type='submit' name="submit" id="btnSendCostcenter" class="btnOrange tp1" value="{$smarty.config.Record_btn}" />						
				</li>
			</ul>
		</div>
	</div>
</form>