<div id="formnatural" >
	<ul class="lstForm clearfix">
		<li>
			<ul>
				<li class="info">
					<label for="login">Login:</label>
				</li>
				<li class="field">					
					<input name="login" id="login" type="text" class="w240"  maxlength="40"/>
					<span class="loading-tp1 none_i"></span>
				</li>
			</ul>
		</li>
		<!--  -->
		<li>
			<ul>
				<li class="info">
					<label for="logintype">{$smarty.config.Login_type}:</label>
				</li>
				<li class="field">					
					<select name="logintype" class="w240" id="logintype">
			            {html_options values=$logintypeids output=$logintypevals selected = $sellogintype }
			        </select>
				</li>
			</ul>
		</li>
		<!-- -->			
		<li>
			<ul>
				<li class="info">
					<label for="password">{$smarty.config.Password}:</label>
				</li>
				<li class="field">					
					<input name="password" id="password" type="password" class="w240" maxlength="20"/>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="info">
					<label for="cpassword">{$smarty.config.Confirm_password}:</label>
				</li>
				<li class="field">					
					<input name="cpassword" id="cpassword" type="password" class="w240" maxlength="20"/>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="info">
					<label for="changePassInsert">{$smarty.config.Change_password}:</label>
				</li>
				<li class="field mr15">
					<input name="changePassInsert" id="changePassInsert" type="checkbox" value="1"/>
					<label for="changePassInsert">{$smarty.config.Change_password_required}</label>
				</li>
			</ul>
		</li>

		<li>
			<ul>
				<li class="info">
					<label for="namenatural">{$smarty.config.Name}:</label>
				</li>
				<li class="field">					
					<input name="namenatural" id="namenatural" type="text" class="w240" maxlength="150"/>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="info">
					<label for="cpf">{$smarty.config.cpf}:</label>
				</li>
				<li class="field">					
					<input name="cpf" id="cpf" type="text" class="w130 mask" data-format="{$mask}" maxlength="14"/>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="info">
					<label for="male">{$smarty.config.Gender}:</label>
				</li>
				<li class="field mr15">					
					<input name="gender" id="male" type="radio" value="M"/><label for="male"> {$smarty.config.Male}</label>
				</li>
				<li>
					<input name="gender" id="female" type="radio" value="F"/><label for="female"> {$smarty.config.Female}</label>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="info">
					<label for="dtbirth">{$smarty.config.Birth_date}:</label>
				</li>
				<li class="field">					
					<input name="dtbirth" id="dtbirth" type="text" class="w70 mask" data-format="99/99/9999" maxlength="10"/>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="info">
					<label for="email">{$smarty.config.email}:</label>
				</li>
				<li class="field">					
					<input name="email" id="email" type="text" class="w240" maxlength="150" />
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="info">
					<label for="company">{$smarty.config.Company}:</label>
				</li>
				<li class="field">					
					<select name="company" class="w240" id="company">
			            <option value="">{$smarty.config.Select_company}</option>
			            {html_options values=$juridicalids output=$juridicalvals selected = $juridical }
			        </select>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="info">
					<label for="department">{$smarty.config.Department}:</label>
				</li>
				<li class="field">					
					<select class="w240" name="department" id="department" >
			            <option value="">{$smarty.config.Select_department}</option>
			            {html_options values=$departmentids output=$departmentvals selected = $department }
			        </select>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="info">
					<label for="phone">{$smarty.config.Phone}:</label>
				</li>
				<li class="field mr15">
					<input name="phone" id="phone" type="text" class="mask w128" data-format="(99)9999-9999?99" maxlength="15" />
				</li>
				<li class="info wAuto">
					<label for="branch">{$smarty.config.Branch}:</label>
				</li>
				<li class="field">
					<input name="branch" id="branch" type="text" maxlength="5" class="w40" />
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="info">
					<label for="mobile">{$smarty.config.Mobile_phone}:</label>
				</li>
				<li class="field">
					<input name="mobile" id="mobile" class="mask w128" data-format="(99)9999-9999?99" type="text" maxlength="15" />
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="info">
					<label for="vip">{$smarty.config.VIP_user}:</label>
				</li>
				<li class="field">
					<input name="vip" id="vip" type="checkbox"/>
					<label for="vip">{$smarty.config.Yes}</label>
				</li>
			</ul>
		</li>

		<li>
			<ul>
				<li class="info">
					<label for="type_user">{$smarty.config.Acess_level}:</label>
				</li>
				<li class="field">
					<select name="type_user" class="w240" id="type_user">
			            <option value="">{$smarty.config.Select_acess_level}</option>
			            {html_options values=$levelids output=$levelvals selected = $level }
			        </select>
				</li>
			</ul>
		</li>
<!-- -->
        <div id="select_group_permission" class="none">
            <ul class="lstForm clearfix">
                <li>
                    <ul>
                        <li class="info">
                            <label >{$smarty.config.Permission_Groups}:</label>
                        </li>
                        <li class="field">

                            <label >{$smarty.config.Permission_Groups_Select}</label>
                        </li>
                    </ul>
                </li>

                <li>
                    <ul>
                        <li class="info">
                            <label></label>
                        </li>
                        <li class="field">
                            {html_checkboxes name="check_list" options=$perm_checkboxes separator="<br />"}
                        </li>
                    </ul>
                </li>

            </ul>

        </div>
<!-- -->
        <div id="acess_level_operator" class="none">

            <ul class="lstForm clearfix">
                <li>
                    <ul>
                        <li class="info">
                            <label for="country">{$smarty.config.Time_value}:</label>
                        </li>
                        <li class="time_value">
                            <input name="time_value" id="time_value" type="text" class="w240" maxlength="40"/>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li class="info">
                            <label for="overtime">{$smarty.config.Overtime}:</label>
                        </li>
                        <li class="time_value">
                            <input name="overtime" id="overtime" type="text" class="w240" maxlength="40"/>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div id="acess_level_user" class="none">

            <ul class="lstForm clearfix">
                <li>
                    <ul>
                        <li class="info">
                            <label for="location">{$smarty.config.Location}:</label>
                        </li>
                        <li class="field">
                            <select name="location" class="w240 mr5" id="location">
                                {html_options values=$locationids output=$locationvals selected = $level }
                            </select>
                        </li>
                        <li>
                            <a href="#modalPersonAddLocation" class="lnk-tp1 openModal" title="{$smarty.config.Add_location}">{$smarty.config.Add_location}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <li>
			<ul>
				<li class="info">
					<label for="type_user">{$smarty.config.Fill_adress}</label>
				</li>
				<li class="field">
					<input name="filladress" id="filladress" type="checkbox"/>
					<label for="filladress">{$smarty.config.Fill}</label>
				</li>
			</ul>
		</li>
	</ul>



	<div class="none formAdress">
		
		
		<ul class="lstForm clearfix">
			<li>
				<ul>
					<li class="info">
						<label for="country">{$smarty.config.Country}:</label>
					</li>
					<li class="field">
						<select name="country" class="w240 country" id="country">
							<option value='1'>{$smarty.config.Select}</option>
		                    {html_options values=$countryids output=$countryvals}
		                </select>
					</li>
				</ul>
			</li>
			<li class="none">
				<ul>
					<li class="info">
						<label for="state">{$smarty.config.State}:</label>
					</li>
					<li class="field">
						 <select name="state" class="w240 mr5 state" id="state">
		                    <option value="1">{$smarty.config.Select_country_first} </option>
		                </select>
					</li>
					<li>
						<a href="#modalPersonAddState" class="lnk-tp1 openModal" title="{$smarty.config.Add_State}">{$smarty.config.Add_State}</a>
					</li>
				</ul>
			</li>
			<li class="none">
				<ul>
					<li class="info">
						<label for="city">{$smarty.config.City}:</label>
					</li>
					<li class="field">
						<select name="city" class="w240 mr5" id="city">
		                    <option value="1">{$smarty.config.Select_state_first} </option>
		                </select>
					</li>
					<li>
						<a href="#modalPersonAddCity" class="lnk-tp1 openModal" title="{$smarty.config.Add_City}">{$smarty.config.Add_City}</a>
					</li>
				</ul>
			</li>
			<li>
				<ul>
					<li class="info">
						<label for="neighborhood">{$smarty.config.Neighborhood}:</label>
					</li>
					<li class="field mr15">
						<input name="neighborhood" id="neighborhood" type="text" class="w100" maxlength="40"/>
					</li>
					<li class="info wAuto">
						<label for="zipcode">{$smarty.config.Zipcode}:</label>
					</li>
					<li class="field">
						<input name="zipcode" id="zipcode" type="text" class="w80" maxlength="12"/>
					</li>
				</ul>
			</li>
			<li>
				<ul>
					<li class="info">
						<label for="type_street">{$smarty.config.Type_adress}:</label>
					</li>
					<li class="field mr15">
						<select name="type_street" class="campo w70" id="type_street">
		                    {html_options values=$typestreetids output=$typestreetvals selected = $typestreet }
		                </select>
					</li>
					<li class="info wAuto">
						<label for="address">{$smarty.config.Adress}:</label>
					</li>
					<li class="field ui-widget">
						<input name="address" id="address" type="text" class="campo w111" maxlength="200"/>
					</li>
				</ul>
			</li>
			<li>
				<ul>
					<li class="info">
						<label for="number">{$smarty.config.Number}:</label>
					</li>
					<li class="field mr15">
						<input name="number" id="number" type="text" class="w50" maxlength="40"/>
					</li>
					<li class="info wAuto">
						<label for="complement">{$smarty.config.Complement}:</label>
					</li>
					<li class="field">
						<input name="complement" id="complement" type="text" class="w74" maxlength="40"/>
					</li>
				</ul>
			</li>
		</ul>
		

	</div>
	


</div>