<form action="javascript:;" method="post" id="formCategoryInsert" name="form1">
    <div class="modalHeader">
		<h2>{$smarty.config.Category_edit}</h2>
		<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
	</div>
	<div class="modalContent">
		<div class="clearfix">
			<div class="mb15" style="width: 100%; max-height: 300px; overflow: auto;">
				<table class='tab-services pop' width='100%' border='0' cellpadding='0' cellspacing='0' style="border:none;">	        
		        	<colgroup>
		        		<col width='90%'/>
		        		<col width='10%'/>				
		        	</colgroup>	
		            {foreach from=$categories item=cat}
						<tr>
			            	<td>{$cat.name}</td>
			            	<td><a href='{$cat.id}' class='btnEdit-tp1 loadCat' alt='{$smarty.config.edit}'>{$smarty.config.edit}</a></td>            	
			            </tr>
					{/foreach}		            
	            </table>
			</div>
		</div>
	</div>
</form>