<form action="javascript:;" method="post" id="formCategoryEdit" name="form1">
    <div class="modalHeader">
		<h2>{$smarty.config.Category_edit}</h2>
		<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
	</div>
	<div class="modalContent">
		<div class="clearfix">
			<ul class="lstForm clearfix">				
				<li>
					<ul>
						<li class="info">
							<label for="txtName">{$smarty.config.Name}:</label>
						</li>
						<li class="field ">
							<input type="text" name="txtName" id="txtName" class="w240" value="{$name}"/>							
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="cmbCategory">{$smarty.config.Parent_Category}:</label>
						</li>
						<li class="field">
							<select class="w240" name="cmbCategory" id="cmbCategory">
								<option value="">{$smarty.config.Select}</option>
								{foreach from=$categories item=category}
									{if $category.id == $idcategory_reference}
										<option value="{$category.id}" selected="selected">{$category.name}</option>
									{elseif $category.id != $idcategory}
										<option value="{$category.id}">{$category.name}</option>
									{/if}									
								{/foreach}
							</select>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="modalFooter">
		<div class="clearfix">
			<ul class="lst-btn">
				<li class="last">
					
					<input type="hidden" name="id" value="{$idcategory}"/>
					<input type='submit' name="submit" id="btnEditCategory" class="btnOrange tp1" value="{$smarty.config.Save}" />						
				</li>
			</ul>
		</div>
	</div>
</form>