<div class="modalHeader">
	<h2>{$smarty.config.Article_see}</h2>
	<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
</div>
<div class="modalContent">
	<div class="clearfix">
		<ul class="lstForm clearfix">	
			<li>
				<ul>
					<li class="info">
						{$smarty.config.Category}:
					</li>
					<li class="field">
						{$category}
					</li>
				</ul>
			</li>
			<li>
				<ul>
					<li class="info">
						{$smarty.config.Title}:
					</li>
					<li class="field ">
						{$title}
					</li>
				</ul>
			</li>
			<li>
				<ul>
					<li class="info">
						{$smarty.config.Author}:
					</li>
					<li class="wAuto mr20">
						{$author}
					</li>

					<li class="info wAuto">
						{$smarty.config.Date}:
					</li>
					<li class="wAuto mr20">
						{$date}
					</li>

					<li class="info wAuto">
						{$smarty.config.Faq}:
					</li>
					<li class="field ">
						{if $faq == 1}
							{$smarty.config.Yes}
						{else}
							{$smarty.config.No}
						{/if}
					</li>
				</ul>
			</li>

			{if $author_edit && $date_edit}
			<li>
				<ul>
					<li class="info">
						{$smarty.config.Amended_by}:
					</li>
					<li class="field">
						{$author_edit} - {$date_edit}
					</li>
				</ul>
			</li>
			{/if}

			{if $idattachment && $real_filename}
			<li>
				<ul>
					<li class="info">
						{$smarty.config.File}:
					</li>
					<li class="field">
						 

						<a href="downloads/getFile/pathAt/{$path_file}/nameAt/{$real_filename}/filename/{$filename}" class="lnk-tp2">{$real_filename}</a>
					</li>
				</ul>
			</li>
			{/if}

			<li>
				<ul>
					<li class="info">
						{$smarty.config.Problem_description}:
					</li>
					<li class="field w440">
						{$problem}
					</li>
				</ul>
			</li>
			<li>
				<ul>
					<li class="info">
						{$smarty.config.Problem_solution}:
					</li>
					<li class="field w440">
						<div id="solutionInfo" class="mb15" style="width: 100%; max-height: 300px; overflow: auto;">
							{$solution}
						</div>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<div class="modalFooter">
	<div class="clearfix">
		<ul class="lst-btn">
			<li class="last">
				<a href="#modalSearchKBase" class="openModal btnOrange tp1">{$smarty.config.Back_btn}</a>
				<a href="javascript:;" id="btnUseSolution" class="btnOrange tp1">{$smarty.config.Use_solution}</a>	
			</li>
		</ul>
	</div>
</div>
