<form action="javascript:;" method="post" id="formCategoryInsert" name="form1">
    <div class="modalHeader">
		<h2>{$smarty.config.category_insert}</h2>
		<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
	</div>
	<div class="modalContent">
		<div class="clearfix">
			<ul class="lstForm clearfix">				
				<li>
					<ul>
						<li class="info">
							<label for="txtName">{$smarty.config.Name}:</label>
						</li>
						<li class="field ">
							<input type="text" name="txtName" id="txtName" class="w240"/>							
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="cmbCategory">{$smarty.config.Parent_Category}:</label>
						</li>
						<li class="field">
							<select class="w240" name="cmbCategory" id="cmbCategory">
								<option value="">{$smarty.config.Select}</option>
								{foreach from=$categories item=category}
									<option value="{$category.id}">{$category.name}</option> 
								{/foreach}
							</select>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="modalFooter">
		<div class="clearfix">
			<ul class="lst-btn">
				<li class="last">
					<input type='submit' name="submit" id="btnSendCategory" class="btnOrange tp1" value="{$smarty.config.Record_btn}" />						
				</li>
			</ul>
		</div>
	</div>
</form>