<form action="javascript:;" method="post" id="form_erpLogosStart" name="form1" enctype="multipart/form-data">

    <input type="hidden" name="loc" id= "loc" value="{$location}">

    <input type="hidden" name="_token" id= "_token" value="{$token}">

    <input type="hidden" name="flagFirstUpload" id= "flagFirstUpload" value="OK">



    <div class="modalHeader">
		<h2>{$smarty.config.Logos_Title}</h2>
		<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
	</div>
	<div class="modalContent">
		<div class="clearfix">
			<ul class="lstForm clearfix">


                <li>
                    <ul>
                        <li class="info">
                            {if $location eq "header"}
                                <label>{$smarty.config.Page_header_logo}:</label>
                            {elseif $location eq "login"}
                                <label>{$smarty.config.Login_page_logo}:</label>
                            {elseif $location eq "reports"}
                                <label>{$smarty.config.Reports_logo}:</label>
                            {/if}
                        </li>
                        <li class="field">
                            <div id="image">
                                <img src="{$path}/app/uploads/logos/{$logo}" height="{$height}px" width="{$width}px" id="myImage"/>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li class="info">
                            <!-- -->
                        </li>
                        <li class="field ">
                            {if $location eq "header"}
                                {$smarty.config.Info_header_logo}
                            {elseif $location eq "login"}
                                {$smarty.config.Info_login_logo}
                            {elseif $location eq "reports"}
                                {$smarty.config.Info_reports_logo}
                            {/if}
                        </li>
                    </ul>
                </li>



                <ul>
                    <li>
                        <ul>
                            <li class="info">
                                <label for="description">{$smarty.config.File}:</label>
                            </li>
                            <li class="field ui-widget " >
                                <input name="COD_ANEXO" type="hidden" id="COD_ANEXO"/>
                                <input name="ARQUIVO" id="ARQUIVO" type="file"/>
                                <!-- <input name="description" id="description" type="text" class="w400" size="300" maxlength="300""/> -->
                            </li>
                        </ul>
                    </li>

                </ul>




			</ul>
		</div>
	</div>
	<div class="modalFooter">
		<div class="clearfix">
			<ul class="lst-btn">
				<li class="last">
					<input type='submit' name="submit" id="btnSendLogosStatement" class="btnOrange tp1" value="{$smarty.config.Record_btn}" />
				</li>
			</ul>
		</div>
	</div>
</form>