
{literal}
<script type="text/javascript">	
	$(document).ready(function() {
		AtualizaAnalytics();
	});
	
	function AtualizaAnalytics()
	{
		var d = new Date();
		$('#mostra_tempo').empty().html('Atualizado a cada 15 minutos. &#218;ltima atualiza&ccedil;&atilde;o: '+d.getHours()+'h'+d.getMinutes()+'min'); 
		
		//var timeAnalytics = setTimeout("AtualizaAnalytics()", 900000); // Loop de 15 minutos
		
		var options = {
			lines: { show: true, fill:true },
			points: { show: false },
			xaxis: {
					mode: "time",
					timeformat: "%d",
					minTickSize: [1, "day"],
					twelveHourClock: true,
					ticks: 20
					},
			grid: { borderWidth: 0.8 },
			legend: {
					show: true,
					noColumns: 3,
					position: 'nw', //"ne" or "nw" or "se" or "sw"
					backgroundOpacity: 0.3
					},
			colors: [ "#ff0000","#afd8f8", "#4da74d", "#9440ed"]		
		};		
					
		var myDataSets;
				
		$.getJSON("{/literal}{$path}{literal}/dashboard/cms_analyticsacessos/json/idwidget/{/literal}{$idwidget}{literal}", function (data) {
			myDataSets = data;
			$.plot("#analytics_acessos", myDataSets, options);	
		});	  
	}
	
	setInterval('AtualizaAnalytics()', {/literal}{$refresh}{literal});
	
</script>
{/literal}	

<div id="analytics_acessos" style="width:100%;height:150px;font-size:small;"></div>
<div id="mostra_tempo" style="font-size:9px;"></div>

