<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <!-- <img src="http://monitora.marioquintana.com.br:8888/embratel.png" /> -->
		
		<img src="http://monitora.marioquintana.com.br:8888/graph_image_pipe.php?action=edit&local_graph_id=5&rra_id=1&graph_height=100&graph_width=270" />
    </body>
</html>
