    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		{literal}
			<style type="text/css">
				.first
				{ 
					color: #4da74d; 
					margin: 5px;
					font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
					font-size: 10px;
				}
			</style>		
		{/literal}
		<script type="text/javascript">	
		{literal}
			$(document).ready(function() {
				AtualizaRequestAssets() ;
			});	
			function AtualizaRequestAssets()
			{	
				var d = new Date();
				$('#tempo_assets_request').empty().html('Atualizado a cada {/literal}{$timeToRefresh}{literal} minutos. &#218;ltima atualiza&ccedil;&atilde;o: '+d.getHours()+'h'+d.getMinutes()+'min'); 
					
				var options = {
					lines: { show: true , fill: true },
					points: { show: false },
					xaxis:  {
							mode: "time",
							timeformat: "%Hh",
							minTickSize: [1, "hour"],
							ticks: {/literal}{$ticks}{literal}
							},
					grid:   { borderWidth: 0	,hoverable: false, clickable: false },
					legend: {
							show: true,
							noColumns: 3,
							position: 'nw', //"ne" or "nw" or "se" or "sw"
							backgroundOpacity: 0.3
							},
					colors: ["#4da74d","#afd8f8", "#cb4b4b", "#edc240", "#9440ed"]
				};		
								
				var myDataSets;
				$('#assets_request').empty().html('<img src= \"{/literal}{$path}{literal}/app/themes/orange/images/loading_laranja.gif\">')	
				$.getJSON("{/literal}{$path}{literal}/dashboard/hdk_requestassets/json/idwidget/{/literal}{$idwidget}{literal}", function (data) {
					myDataSets = data;		
					$.plot("#assets_request", myDataSets, options);	
				});	 			
			}	
				
			setInterval('AtualizaRequestAssets()', {/literal}{$refresh}{literal});
		{/literal}
		</script>
    </head>
    <body>
			
		<div id="assets_request" style="width:100%;height:120px;font-size:small;"></div>
		<div id="tempo_assets_request" class="first"> </div>
	</body>

