
{literal}
<style type="text/css">
	body
	{
		line-height: 1.6em;
	}
	#hor-minimalist-b
	{
		font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		font-size: 10px;
		background: #fff;
		margin: 5px;
		width: 360px;
		border-collapse: collapse;
		text-align: left;
	}
	#hor-minimalist-b th
	{
		font-size: 12px;
		font-weight: normal;
		color: #039;
		padding: 2px 6px;
		border-bottom: 2px solid #6678b1;
	}
	#hor-minimalist-b td
	{
		border-bottom: 1px solid #ccc;
		color: #669;
		padding: 1px 8px;
	}
	#hor-minimalist-b tbody tr:hover td
	{
		color: #009;
	}
	p.first
	{ 
	color: red; 
	margin: 5px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 10px;

	}
</style>
<script type="text/javascript">	
	$(document).ready(function() {
		AtualizaRbl();
	});
	function AtualizaRbl()
	{
		$('#inf_rbl').empty().html('<img src= \"{/literal}{$path}{literal}/app/themes/orange/images/loading_laranja.gif\">')
		$.getJSON("{/literal}{$path}{literal}/dashboard/inf_rbl/json/idwidget/{/literal}{$idwidget}{literal}", function (data) {
            $('#inf_rbl').empty().html(data.linha);
		});	
	}	
	setInterval('AtualizaRbl()', {/literal}{$refresh}{literal}); 
</script>

{/literal}	
<body>
	<div id="inf_rbl"></div>
</body>

