<HEADER>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="-1">

</HEADER>
{literal}
<script type="text/javascript">	
	$(document).ready(function() {
		AtualizaSquid();
	});
	function AtualizaSquid()
	{
		var d = new Date();
		$('#atu_Squid').empty().html('&#218;ltima atualiza&ccedil;&atilde;o: '+d.getHours()+'h'+d.getMinutes()+'min'); 

		$('#inf_Squid').empty().html("<img src=\"{/literal}{$url}{literal}\" style=\"width: 100%;\"/>") ;
	}	
	setInterval('AtualizaSquid()', {/literal}{$refresh}{literal}); // that's 5 seconds
</script>

{/literal}	

<div id="inf_Squid"></div>
<div id="atu_Squid" style="font-size:9px;"></div>



