<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script type="text/javascript">	
		$(document).ready(function() {
				AtualizaImpUsuario() ;
		});	
		function AtualizaImpUsuario()
		{
			var d = new Date();
			$('#tempo_maq_impusuario').empty().html('<br>Atualizado a cada {/literal}{$timeToRefresh}{literal} minutos. &#218;ltima atualiza&ccedil;&atilde;o: '+d.getHours()+'h'+d.getMinutes()+'min'); 

			var options = {
				lines: { show: true },
				points: { show: false },
				 xaxis: {
						mode: "time",
						timeformat: "%d",
						minTickSize: [1, "day"],
						twelveHourClock: true,
						ticks: 31
						},
				grid: { hoverable: true, clickable: true },
				legend: {
						show: true,
						noColumns: 3,
						position: 'nw', //"ne" or "nw" or "se" or "sw"
						backgroundOpacity: 0.3
						},
				colors: ["#edc240", "#cb4b4b","#afd8f8", "#4da74d", "#9440ed"]
			};		
							
			var myDataSets;
			
				
			$.getJSON("../app/modules/dashboard/views/mq_imp_usuario.php", function (data) {
				myDataSets = data;		
				$.plot("#placeholder", myDataSets, options);	
			});	 			
		}
		
		setInterval('AtualizaImpUsuario()', {/literal}{$refresh}{literal});
		
		</script>
    </head>
    <body>
		<div id="placeholder" style="width:100%;height:150px;font-size:small;"></div>
		<div id="tempo_maq_impusuario" style="font-size:9px;"></div>
	</body>
</html>
