<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script type="text/javascript">	
		$(document).ready(function() {
			var options = {
				lines: { show: true },
				points: { show: false },
				 xaxis: {
						mode: "time",
						timeformat: "%d",
						minTickSize: [15, "day"],
						twelveHourClock: true,
						ticks: 31
						},
				grid:  { 
						show: true, 
						hoverable: false, 
						clickable: false ,
						borderWidth:  0
						},
				legend: {
						show: true,
						noColumns: 1,
						position: 'nw', //"ne" or "nw" or "se" or "sw"
						backgroundOpacity: 0.3
						},
				colors: ["#edc240", "#cb4b4b","#afd8f8", "#4da74d", "#9440ed"]
			};		
							
			var myDataSets;
			
				
			$.getJSON("../app/modules/dashboard/views/sourceforge_countrys.php", function (data) {
				myDataSets = data;		
				$.plot("#sourceforge_countrys", myDataSets, options);	
			});	 			
  			
			
		});	
		
		</script>
    </head>
    <body>
		
		<div id="sourceforge_countrys" style="width:100%;height:150px;font-size:small;"></div>
	</body>
</html>
