<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<script type="text/javascript">	
		{literal}
            retTicks = [];

			$(document).ready(function() {
                $.ajax("{/literal}{$path}{literal}/dashboard/tms_mediaturmas/jsonTurmas/idwidget/{/literal}{$idwidget}{literal}", function (data) {
                    //retTicks = data;
                    retTicks = [[0, "M31"], [1, "M32"], [2, "M33"],[3, "F61"], [4, "F62"], [5, "F53"],[6, "F62"]] ;
                    alert(retTicks);
                });
                AtualizaMediaTurmas() ;
			});

			function AtualizaMediaTurmas()
			{
                var a1 = [[0,3],[1,19],[2,15],[3,5],[4,11]];
                var a2 = [[0,8],[1,6],[2,12],[3,10],[4,1]];
                var a3 = [[0,3],[1,12],[2,11],[3,2],[4,13]];

                var ticks = [[0, "M31"], [1, "M32"], [2, "M33"],[3, "F61"], [4, "F62"], [5, "F53"],[6, "F62"]] ;

                var data2 = [
                    {
                        label: "France",
                        data: a1
                    },
                    {
                        label: "Germany",
                        data: a2
                    },
                    {
                        label: "Italy",
                        data: a3
                    }
                ];

                var options = {

                    bars: 	{ show: true , barWidth: 0.2, align: "center" },
                    grid: 	{
                        hoverable: false,
                        clickable: false,
                        borderWidth:  0
                    },
                    legend: {
                        show: false,
                        noColumns: 3,
                        position: 'ne', //"ne" or "nw" or "se" or "sw"
                        backgroundOpacity: 0.3
                    },
                    yaxis: 	{
                        tickDecimals: 1
                    },
                    xaxis: {
                        //mode: "time",
                        //timeformat: "%d/%m",
                        //minTickSize: [1, "day"],
                        //ticks: 7
                        ticks: retTicks
                    },
                    colors: [ "#cb4b4b", "#4da74d","#afd8f8"]
                };

                var myDataSets;



                $.getJSON("{/literal}{$path}{literal}/dashboard/tms_mediaturmas/json/idwidget/{/literal}{$idwidget}{literal}", function (data) {
                    myDataSets = data;

                    $.plot("#tms_mediaturmas", myDataSets, options );
                });







            }

			// setInterval('AtualizaMediaTurmas()', 3600000);

		{/literal}
		</script>
    </head>
    <body>
        <div id="tms_mediaturmas" style="width:100%;height:120px;font-size:small;"></div>
	</body>
</html>
