{if $showin != 1}
	<div class="modalHeader">
		<h2>{$title_topic}</h2>
		<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
	</div>
	<div class="modalContent">
		<div class="clearfix">
			<strong>{$title_warning}</strong>
			<div style="overflow-y: auto; max-height: 300px; margin: 20px 0;">
				<p class="warningDesc">{$description}</p>
			</div>
			<p class="validDate">{$smarty.config.Valid}: {$datestart} {$timestart} {if $until == "S"} {$smarty.config.until_closed}. {else} {$smarty.config.until} {$dateend} {$timeend} {/if}</p>
		</div>
	</div>
	<div class="modalFooter">
		<div class="clearfix">
			<ul class="lst-btn">
				<li class="last">
					<a href="javascript:;" class="closeModal btnOrange tp1">{$smarty.config.Close}</a>
				</li>
			</ul>
		</div>
	</div>
{else}
	<div class="modalHeader">
		<h2>{$smarty.config.Notification}</h2>
		<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
	</div>
	<div class="modalContent">
		<div class="notification error">
			<p>{$smarty.config.Alert_no_permission}</p>			
		</div>
	</div>
{/if}
