.geral {width:800px; margin:0 auto;}
p {margin:0; padding:0;}
#accordion h3 {background-color:#ccc; margin:0; padding:0; border:1px solid #999; cursor:pointer; height:25px; padding:5px 0 0 10px;}
#accordion h3 a {color:#333; font-size:14px; text-decoration:none; font-family:Arial, Helvetica, sans-serif;}
