<form action="javascript:;" method="post" id="formProgramsInsert">
	<input type="hidden" name="_token" id= "_token" value="{$token}">
    <div class="modalHeader">
		<h2>{$smarty.config.Programs_insert}</h2>
		<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
	</div>
	<div class="modalContent">
		<div class="clearfix">
			<ul class="lstForm clearfix">
				<li>
					<ul>
						<li class="info">
							<label for="modules">{$smarty.config.Module}:</label>
						</li>
						<li class="field">
							<select name="modules" id="modules" class="w200">
								<option value="">{$smarty.config.Select}</option>
								{html_options values=$modulesids output=$modulesvals}
							</select>
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="category">{$smarty.config.Category}:</label>
						</li>
						<li class="field">
							<select name="category" id="category" class="w200 mr5">
								<option value="">{$smarty.config.Select_module}</option>
							</select>
						</li>
						<li>
							<a href="#modalProgramInsertCategory" class="openModal lnk-tp1">{$smarty.config.Add_category}</a>
						</li>
					</ul>
				</li>
				
				<li>
					<ul>
						<li class="info">
							<label for="name">{$smarty.config.Name}:</label>
						</li>
						<li class="field">
							<input name="name" id="name" type="text" class="w200" maxlength="30" />
						</li>
					</ul>
				</li>
				
				<li>
					<ul>
						<li class="info">
							<label for="controller">{$smarty.config.Controller}:</label>
						</li>
						<li class="field">
							<input name="controller" id="controller" type="text" class="w200" maxlength="20" />
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="smarty">{$smarty.config.Smarty}:</label>
						</li>
						<li class="field">
							<input name="smarty" id="smarty" type="text" class="w200" maxlength="30" />
						</li>
					</ul>
				</li>				
				<li>
					<ul>
						<li class="info mb0">
							<label>{$smarty.config.Operations}:</label>
						</li>
						<li class="field mb0">
							<input name="opnew" id="opnew" type="checkbox" value="Y"/>
							<label for="opnew">{$smarty.config.New}</label>
						</li>
						<li class="nivel1">
							<input name="opedit" id="opedit" type="checkbox" value="Y"/>
							<label for="opedit">{$smarty.config.edit}</label>
						</li>
						<li class="nivel1">
							<input name="opdelete" id="opdelete" type="checkbox" value="Y"/>
							<label for="opdelete">{$smarty.config.Delete}</label>
						</li>
						<li class="nivel1">
							<input name="opexport" id="opexport" type="checkbox" value="Y"/>
							<label for="opexport">{$smarty.config.Export}</label>
						</li>
						<li class="nivel1">
							<input name="opemail" id="opemail" type="checkbox" value="Y"/>
							<label for="opemail">{$smarty.config.email}</label>
						</li>
						<li class="nivel1">
							<input name="opsms" id="opsms" type="checkbox" value="Y"/>
							<label for="opsms">{$smarty.config.SMS}</label>
						</li>
					</ul>
				</li>
			</ul>
			
		</div>
	</div>
	<div class="modalFooter">
		<div class="clearfix">
			<ul class="lst-btn">
				<li class="last">					
					<input type='submit' name="submit" id="btnSendProgramInsert" class="btnOrange tp1" value="{$smarty.config.Record_btn}" />						
				</li>
			</ul>
		</div>
	</div>
</form>









