<div id="modalProgramInsertCategory" class="window" style="width:450px;">

	<form action="javascript:;" method="post" id="formProgamsInsertCategory">
	    <div class="modalHeader">
			<h2>{$smarty.config.Category_insert}</h2>
			<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
		</div>
		<div class="modalContent">
			<div class="clearfix">
				<ul class="lstForm clearfix">
					<li>
						<ul>
							<li class="info">
								<label for="modules2">{$smarty.config.Module}:</label>
							</li>
							<li class="field">
								<select name="modules2" id="modules2" class="w200">
									<option value="">{$smarty.config.Select}</option>
									{html_options values=$modulesids output=$modulesvals}
								</select>
							</li>
						</ul>
					</li>
					<li>
						<ul>
							<li class="info">
								<label for="newCategory">{$smarty.config.New_category}:</label>
							</li>
							<li class="field">
								<input name="newcategoryname" id="newCategory" type="text" class="w200" maxlength="10" />
							</li>
						</ul>
					</li>
				</ul>			
			</div>
		</div>
		<div class="modalFooter">
			<div class="clearfix">
				<ul class="lst-btn">
					<li class="last">
						<a href="javascript:;" class="backModal btnOrange tp1">{$smarty.config.Back_btn}</a>
						<input type='submit' id="btnAddCategory" name="submit" class="btnOrange tp1" value="{$smarty.config.Record_btn}" />						
					</li>
				</ul>
			</div>
		</div>
	</form>	
</div>