<form action="javascript:;" method="post" id="formWidgetEdit" name="form1">
    <div class="modalHeader">
		<h2>{$smarty.config.Widget_edit}</h2>
		<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
	</div>
	<div class="modalContent">
		<div class="clearfix">
			<ul class="lstForm clearfix">
				<li>
					<ul>
						<li class="info">
							<label for="categoryEdit">{$smarty.config.Category}:</label>
						</li>
						<li class="field ">
							<select class="w240" name="categoryEdit" id="categoryEdit">
								<option value="">{$smarty.config.Select_category}</option>
								{html_options values=$categoryids output=$categoryvals selected = $category}
							</select>
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="nameEdit">{$smarty.config.Name}:</label>
						</li>
						<li class="field ">
							<input name="nameEdit" id="nameEdit" type="text" class="w240" maxlength="150" value="{$name}"/>
						</li>
					</ul>
				</li>
				
				<li>
					<ul>
						<li class="info">
							<label for="controllerEdit">{$smarty.config.Controller}:</label>
						</li>
						<li class="field ">
							<input name="controllerEdit" id="controllerEdit" type="text" class="w130" maxlength="45" value="{$controller}" />
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="authorEdit">{$smarty.config.Author}:</label>
						</li>
						<li class="field ">
							<input name="authorEdit" id="authorEdit" type="text" class="w240" maxlength="100" value="{$author}"/>
						</li>
					</ul>
				</li>

				<li>
					<ul>
						<li class="info">
							<label for="descriptionEdit">{$smarty.config.Description}:</label>
						</li>
						<li class="field ">
						<textarea name="descriptionEdit" id="descriptionEdit" rows="4" cols="50" >
							{$description}
						</textarea>

						</li>
					</ul>
				</li>

				<li>
					<ul>
						<li class="info">
							<label for="dbhostEdit">{$smarty.config.DbHost}:</label>
						</li>
						<li class="field ">
							<input name="dbhostEdit" id="dbhostEdit" type="text" class="w130" maxlength="45" value="{$dbhost}"/>
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="dbnameEdit">{$smarty.config.DbName}:</label>
						</li>
						<li class="field ">
							<input name="dbnameEdit" id="dbnameEdit" type="text" class="w130" maxlength="45" value="{$dbname}"/>
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="dbuserEdit">{$smarty.config.DbUser}:</label>
						</li>
						<li class="field ">
							<input name="dbuserEdit" id="dbuserEdit" type="text" class="w130" maxlength="45" value="{$dbuser}"/>
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="dbpassEdit">{$smarty.config.DbPass}:</label>
						</li>
						<li class="field ">
							<input name="dbpassEdit" id="dbpassEdit" type="text" class="w130" maxlength="45" value="{$dbpass}"/>
						</li>
					</ul>
				</li>
				

				<li>
					<ul>
						<li class="info">
							<label for="field1Edit">{$smarty.config.Field1}:</label>
						</li>
						<li class="field ">
							<input name="field1Edit" id="field1Edit" type="text" class="w340" maxlength="200" value="{$field1}"/>
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="field2Edit">{$smarty.config.Field2}:</label>
						</li>
						<li class="field ">
							<input name="field2Edit" id="field2Edit" type="text" class="w340" maxlength="200" value="{$field2}"/>
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="field3Edit">{$smarty.config.Field3}:</label>
						</li>
						<li class="field ">
							<input name="field3Edit" id="field3Edit" type="text" class="w340" maxlength="200" value="{$field3}"/>
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="field4Edit">{$smarty.config.Field4}:</label>
						</li>
						<li class="field ">
							<input name="field4Edit" id="field4Edit" type="text" class="w340" maxlength="200" value="{$field4}"/>
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="field5Edit">{$smarty.config.Field5}:</label>
						</li>
						<li class="field ">
							<input name="field5Edit" id="field5Edit" type="text" class="w340" maxlength="200" value="{$field5}"/>
						</li>
					</ul>
				</li>


				
				<li class="txtNew ">
					<ul>
						<li class="info">
							<label>{$smarty.config.File}:</label>
						</li>
						
						<li class="field ">
							<input type="hidden" name="oldfile" id="oldfile" value="{$oldfile}" /> 
							<iframe src="widget/upload" name="ianexo" id="ianexo" width="300" height="21" frameborder="0" scrolling="no"></iframe>
						</li>
					</ul>
				</li>
				
				
			</ul>
		</div>
	</div>
	<div class="modalFooter">
		<div class="clearfix">
			<ul class="lst-btn">
				<li class="last">
					<input type="hidden" id="id" name="id" value="{$id}"/>
					<input type='submit' name="submit" id="btnSendWidgetEdit" class="btnOrange tp1" value="{$smarty.config.Save}" />						
				</li>
			</ul>
		</div>
	</div>
</form>