<form action="javascript:;" method="post" id="formWidgetInsert" name="form1">
    <div class="modalHeader">
		<h2>{$smarty.config.Widget_insert}</h2>
		<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
	</div>
	<div class="modalContent">
		<div class="clearfix">
			<ul class="lstForm clearfix">
				<li>
					<ul>
						<li class="info">
							<label for="category">{$smarty.config.Category}:</label>
						</li>
						<li class="field ">
							<select class="w240" name="category" id="category">
								<option value="">{$smarty.config.Select_category}</option>
								{html_options values=$categoryids output=$categoryvals}
							</select>
						</li>
					</ul>
				</li>

				<li>
					<ul>
						<li class="info">
							<label for="name">{$smarty.config.Name}:</label>
						</li>
						<li class="field ">
							<input name="name" id="name" type="text" class="w240" maxlength="45" />
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="controller">{$smarty.config.Controller}:</label>
						</li>
						<li class="field ">
							<input name="controller" id="controller" type="text" class="w130" maxlength="45" />
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="author">{$smarty.config.Author}:</label>
						</li>
						<li class="field ">
							<input name="author" id="author" type="text" class="w240" maxlength="100" />
						</li>
					</ul>
				</li>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="description">{$smarty.config.Description}:</label>
						</li>
						<li class="field ">
						<textarea name="description" id="description" rows="4" cols="50">
						
						</textarea>
							<!-- <input name="description" id="description" type="text" class="w130" maxlength="45" /> -->	
						</li>
					</ul>
				</li>

				<li>
					<ul>
						<li class="info">
							<label for="dbhost">{$smarty.config.DbHost}:</label>
						</li>
						<li class="field ">
							<input name="dbhost" id="dbhost" type="text" class="w130" maxlength="45" />
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="dbname">{$smarty.config.DbName}:</label>
						</li>
						<li class="field ">
							<input name="dbname" id="dbname" type="text" class="w130" maxlength="45" />
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="dbuser">{$smarty.config.DbUser}:</label>
						</li>
						<li class="field ">
							<input name="dbuser" id="dbuser" type="text" class="w130" maxlength="45" />
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="dbpass">{$smarty.config.DbPass}:</label>
						</li>
						<li class="field ">
							<input name="dbpass" id="dbpass" type="text" class="w130" maxlength="45" />
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="field1">{$smarty.config.Field1}:</label>
						</li>
						<li class="field ">
							<input name="field1" id="field1" type="text" class="w340" maxlength="200" />
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="field2">{$smarty.config.Field2}:</label>
						</li>
						<li class="field ">
							<input name="field2" id="field2" type="text" class="w340" maxlength="200" />
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="field3">{$smarty.config.Field3}:</label>
						</li>
						<li class="field ">
							<input name="field3" id="field3" type="text" class="w340" maxlength="200" />
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="field4">{$smarty.config.Field4}:</label>
						</li>
						<li class="field ">
							<input name="field4" id="field4" type="text" class="w340" maxlength="200" />
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="field5">{$smarty.config.Field5}:</label>
						</li>
						<li class="field ">
							<input name="field5" id="field5" type="text" class="w340" maxlength="200" />
						</li>
					</ul>
				</li>
				
				
				
				<li class="txtNew">
					<ul>
						<li class="info">
							<label>{$smarty.config.Image}:</label>
						</li>
						<li class="field ">
							<iframe src="widget/upload" name="ianexo" id="ianexo" width="300" height="21" frameborder="0" scrolling="no"></iframe>
						</li>
					</ul>
				</li>
				
				
			</ul>
		</div>
	</div>
	<div class="modalFooter">
		<div class="clearfix">
			<ul class="lst-btn">
				<li class="last">
					<input type='submit' name="submit" id="btnSendWidget" class="btnOrange tp1" value="{$smarty.config.Record_btn}" />						
				</li>
			</ul>
		</div>
	</div>
</form>