<form action="javascript:;" method="post" id="formReasonInsert" name="form1">
    <div class="modalHeader">
		<h2>{$smarty.config.Reason_insert}</h2>
		<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
	</div>
	<div class="modalContent">
		<div class="clearfix">
			<ul class="lstForm clearfix">
				<li>
					<ul>
						<li class="info">
							<label for="reason">{$smarty.config.Reason}:</label>
						</li>
						<li class="field ">
							<input name="reason" id="reason" type="text" class="w240"maxlength="120" />
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="service">{$smarty.config.Service}:</label>
						</li>
						<li class="field ">
							<select class="w240" name="service" id="service">
								<option value="">{$smarty.config.Select}</option>
								{html_options values=$typeids output=$typevals}
							</select>
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="available">{$smarty.config.Available}:</label>
						</li>
						<li class="field ">
							<input name="available" type="checkbox" id="available" checked="checked" value="A"> 
							<label for="available">{$smarty.config.Available_text}</label>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="modalFooter">
		<div class="clearfix">
			<ul class="lst-btn">
				<li class="last">
					<input type='submit' name="submit" id="btnSendReason" class="btnOrange tp1" value="{$smarty.config.Record_btn}" />						
				</li>
			</ul>
		</div>
	</div>
</form>