<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href='{$path}/favicon.ico' rel='shortcut icon'/>
		<link href='{$path}/favicon.png' rel='icon' type='image/png'/>
        <title>{$pagetitle}</title>
        {literal}
        <script type="text/javascript" src="{/literal}{$path}{literal}/includes/classes/jquery/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="{/literal}{$path}{literal}/includes/classes/jquery.fileDownload/jquery.fileDownload.js"></script>
        <script type="text/javascript" src="{/literal}{$path}{literal}/includes/classes/jquery-treeview/jquery.treeview.js"></script>
        <script type="text/javascript" src="{/literal}{$path}{literal}/includes/classes/ajax/ajax.js"></script>
        <script type="text/javascript" src="{/literal}{$path}{literal}/includes/classes/flexigrid.js"></script>
        <script type="text/javascript" src="{/literal}{$path}{literal}/includes/classes/jquery-maskedinput/jquery.maskedinput-1.2.1.pack.js"></script>
        <script type="text/javascript" src="{/literal}{$path}{literal}/includes/classes/jscalendar1.9/js/jscal2.js"></script>
        <script type="text/javascript" src="{/literal}{$path}{literal}/includes/classes/jscalendar1.9/js/lang/{/literal}{$lang}{literal}.js"></script>
        <script type='text/javascript' src='{/literal}{$path}{literal}/includes/classes/jquery-autocomplete/jquery.autocomplete.js'></script>

        <script type="text/javascript"  async  src="{/literal}{$ckEditor}{literal}"></script>

        <script type="text/javascript" src="{/literal}{$path}{literal}/includes/classes/jquery-validation-1.10.0/dist/jquery.validate.min.js"></script>
		<script type="text/javascript" src="{/literal}{$path}{literal}/includes/classes/jquery-validation-1.10.0/localization/messages_{/literal}{$lang}{literal}.js"></script>
        <script src="{/literal}{$path}{literal}/includes/classes/ajax/flex_lang.js"></script>
        <script type="text/javascript" src="{/literal}{$path}{literal}/includes/js/default.js"></script>
        <script type="text/javascript" src="{/literal}{$path}{literal}/includes/js/jquery.address-1.5.min.js"></script>
        <script type="text/javascript" src="{/literal}{$path}{literal}/includes/classes/jquery-mask-money/jquery.maskMoney.js"></script>

        
        <script type="text/javascript">
            
            var default_lang = "{/literal}{$lang}{literal}",
            	path = "{/literal}{$path}{literal}",
            	langName = '{/literal}{$smarty.config.Name}{literal}',
            	theme = '{/literal}{$theme}{literal}',
            	timesession = '{/literal}{$timesession}{literal}';
           
            
            $(document).ready(function() {
            	countdown.start(timesession);
                var tpperson = '{/literal}{$typeperson}{literal}' ;
                var enterprise = '{/literal}{$enterprise}{literal}' ;
				if(!enterprise)
				{
					if( tpperson == 1)
					{
						$.post('home/get_last_release', function(data) {
							if(data)
							{
								if(data != 'updated'){

									//$("#contentRelease").append('{/literal}{$smarty.config.Release_out_of_date}{literal}'+ data +" <a href='http://sourceforge.net/projects/helpdezk/files/' target='_blank'>Download</a>");

                                    $("#contentRelease").append("<a href='javascript:;' id='systemUpdate' class='lnk-tp1' >{/literal}{$smarty.config.Release_out_of_date}{literal}</a>");
								}
								
								
							}
						});
					}
                }
                $("#holiday_date").mask("99/99/9999");
                $("#menu").treeview({
                    animated : "fast",
                    collapsed : true,
                    control : "#treecontrol"
                });
				
                
                $("#menu").on("click", ".loadMenu", function(event){
					event.preventDefault();
					var $self = $(this);
					var file = $self.attr('rel'),
						addr = $.address.path().substring(1);

					$.address.value(file);
					
					if(addr == file){
						objDefault.loaderMenu("content",96);
						$('#content').load(path+"/admin/"+file,function(){
							$(document.getElementById('menu')).find('a').removeClass('on');
	                    	$self.addClass('on');
						});
					}
				});
                                
                $.address.change(function(){
                	var addr = $.address.path(),
                		tree = $.address.path().substring(1),
                		link = $("#menu").find("a[rel='"+tree+"']");
                	
                	if(addr != "/"){
                		objDefault.loaderMenu("content",96);
                		$('#content').load(path+"/admin/"+addr,function(){
                			$(document.getElementById('menu')).find('a').removeClass('on');
							link.parents("ul").show();
                			link.addClass('on');
						});
                	}
                })
				
				


				$("#systemUpdate").live("click",function(){
					var modalSystemUpdate = $(document.getElementById("modalSystemUpdate"));
		            objDefault.maskLoaderShow();
		            modalSystemUpdate.load("home/systemUpdate/", function(){
		            	objModal.openModal("modalSystemUpdate");
		            	objDefault.maskLoaderHide();
		            });
					
					
				})
				
				      
				
				
            });

            function formUserEdit(id){
                window.open('person/editform/id/'+id,'','height = 615, width = 500');
            }
            
        </script>

        {/literal}
		
		<link rel="stylesheet" type="text/css" href="{$path}/includes/css/structure.css" />
        <link rel="stylesheet" type="text/css" href="{$path}/app/themes/{$theme}/smoothness.jquery-ui-1.8rc1.custom.css" />
        <link rel="stylesheet" type="text/css" href="{$path}/app/themes/{$theme}/style.css" />
        <link rel="stylesheet" type="text/css" href="{$path}/includes/classes/flexigrid/flexigrid.css" />
        <link rel="stylesheet" type="text/css" href="{$path}/includes/classes/jquery-treeview/jquery.treeview.css" />
        <link rel="stylesheet" type="text/css" href="{$path}/includes/classes/jscalendar1.9/css/jscal2.css" />
        <link rel="stylesheet" type="text/css" href="{$path}/includes/classes/jscalendar1.9/css/border-radius.css" />
        <link rel="stylesheet" type="text/css" href="{$path}/includes/classes/jscalendar1.9/css/steel/steel.css" />
       	<link type="text/css" rel="stylesheet" href="{$path}/includes/classes/jscalendar1.9/css/reduce-spacing.css" />
        
    </head>
    <body style="background-color: #FFF;">
    	<input type="hidden" id="activeModal" />
        <!--- div site - div de auxilio para centralizar e definir tamanho do site NAO MEXER -->
        <div id="site">
            <!-- div centro - div de auxilio para centralizar e definir tamanho do site NAO MEXER -->
            <div id="centro">
                <div id="header">
                    <div id="boxlogo">
                    	<a href="{$path}">
                    		<img src="{$path}/app/uploads/logos/{$headerlogo}" height="{$headerheight}px" width="{$headerwidth}px">
                    	</a>
                    </div>
                    <div class="fr">
                    	<div id="sessExpire" class="texto">
                        	{$smarty.config.timeouttext}:
                        	<span id="numberCountdown"><!-- --></span>
                        </div>
                    	<div id="boxlogoff" class="texto">
	                    	<p>
	                    		{$smarty.config.User}: 
	                    		{$nom_usuario}
	                    	</p>
	                        <a href="home/logout/" title="{#Logoff#}" class="btnLogout">
	                        	{#Logoff#} 
	                        </a>  
	                    </div>
	                    {php} 
	                    	if($_SESSION['SES_TYPE_PERSON'] == 3 || $_SESSION['SES_TYPE_PERSON'] == 1){
	                   	{/php}
	                    <div id="opbackbuton"  class="texto">
	                    	<a href='{$path}/helpdezk/operator'> 
	                        	<div id="attimg" >
	                        		<image src="{$path}/app/themes/{$theme}/images/atendimento_25.png" height="25" border="0" width="25"/>      
	                        		<p class="title">{$smarty.config.Attendance}</p> 
	                        	</div> 
	                    	</a> 
	                    </div>
	                    {php}  
	                    	}
	                    {/php}
	                    
	                    {php} 
	                    	if($_SESSION['SES_TYPE_PERSON'] == 2){
	                   	{/php}
	                    <div id="opbackbuton"  class="texto">
	                    	<a href='{$path}/helpdezk/user'> 
	                        	<div id="attimg" >
	                        		<image src="{$path}/app/themes/{$theme}/images/atendente_25.png" height="25" border="0" width="25"/>      
	                        		<p class="title">{$smarty.config.My_requests}</p> 
	                        	</div> 
	                    	</a> 
	                    </div>
	                    {php}  
	                    	}
	                    {/php}
	                    
                    </div>
                </div>
                <div id="main" class="clearfix">
                    <div id="menutreeview" class="textomenu">
                        {include file="menu.tpl.html"}
                    </div>
                    <div id="content" style="text-align: left;">
						{if !$enterprise}
                            <div id="contentRelease">
                                <p>
                                    <!-- <a href="javascript:;" id="systemUpdate" class="lnk-tp1">Clique aqui para atualizar o HelpDEZk.</a> -->

                                </p>
                            </div>
                            {/if}
                    </div>
                </div>
                <div id="footer" class="textoRodape">
                    {$smarty.config.Footer_msg}
                </div>
                
            <div id="sessionTimeoutWarning" style="display: none"><!-- --></div>            
            <div id="sessiondestroy" style="width: 1px; height:1px;"><!-- --></div>            
            </div>
        </div>
        <div id="mask">
			<div class="maskLoader"><!-- --></div>
		</div>
		
		<div id="modalSystemUpdate" class="window" style="width:600px;"><!-- --></div>

		
		<div id="modalPermission" class="window" style="width:400px;">
		    <div class="modalHeader">
				<h2>{$smarty.config.Permissions}</h2>
				<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
			</div>
			<div class="modalContent">
				<div class="notification error">
					<p>{$smarty.config.Alert_no_permission}</p>						
				</div>
			</div>
		</div>
		
		<div id="modalInfo" class="window" style="width:400px;">
		    <div class="modalHeader">
				<h2>{$smarty.config.Notification}</h2>
				<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
			</div>
			<div class="modalContent"><!-- --></div>
		</div>
		
    </body>
</html>

