<table id="flexigrid2"></table>
{literal}
<script  src="{/literal}{$path}{literal}/includes/classes/ajax/departments_list.js"></script>
{/literal}
<div id="modalDepartmentsInsert" class="window" style="width:500px;"><!-- --></div>
<div id="modalDepartmentsEdit" class="window" style="width:500px;"><!-- --></div>
<div id="modalDepartmentsDisable" class="window" style="width:400px;"><!-- --></div>
<div id="modalDepartmentsActive" class="window" style="width:400px;"><!-- --></div>
<div id="modalDepartmentsDelete" class="window" style="width:400px;"><!-- --></div>