<table id="flexigrid2"></table>
{literal}
<script  src="{/literal}{$path}{literal}/includes/classes/ajax/downloads_list.js"></script>
{/literal}

<div id="pop" class="w600">
</div>

<div id="modalDownloadsInsert" class="window" style="width:600px;"><!-- --></div>
{include file="modais/downloads/downloadsinsertcategory.tpl.html"}
<div id="modalDownloadsDisable" class="window" style="width:450px;"><!-- --></div>
<div id="modalDownloadsActive" class="window" style="width:450px;"><!-- --></div>
<div id="modalDownloadsDelete" class="window" style="width:450px;"><!-- --></div>
<div id="modalDownloadsEdit" class="window" style="width:600px;"><!-- --></div>