<table class="tab-vars" cellspacing="0" cellpadding="2" width="100%">
	<tr class="text">
		<td class="texto_12" style="background-color: #F7F7F7;">$USER</td>
		<td>{$smarty.config.Var_user}</td>
	</tr>
	<tr class="text">
		<td class="texto_12" style="background-color: #F7F7F7;">$PHONE</td>
		<td>{$smarty.config.Var_phone}</td>
	</tr>
	<tr class="text">
		<td class="texto_12" style="background-color: #F7F7F7;">$BRANCH</td>
		<td>{$smarty.config.Var_branch}</td>
	</tr>
	<tr class="text">
		<td class="texto_12" style="background-color: #F7F7F7;">$DATE</td>
		<td>{$smarty.config.Var_date}</td>
	</tr>
	<tr class="text">
		<td class="texto_12" style="background-color: #F7F7F7;">$REQUEST</td>
		<td>{$smarty.config.Var_request}</td>
	</tr>
	<tr class="text">
		<td class="texto_12" style="background-color: #F7F7F7;">$SUBJECT</td>
		<td>{$smarty.config.Var_subject}</td>
	</tr>
	<tr class="text">
		<td class="texto_12" style="background-color: #F7F7F7;">$DESCRIPTION</td>
		<td>{$smarty.config.Var_description}</td>
	</tr>
	<tr class="text">
		<td class="texto_12" style="background-color: #F7F7F7;">$RECORD</td>
		<td>{$smarty.config.Var_record}</td>
	</tr>
	<tr class="text">
		<td class="texto_12" style="background-color: #F7F7F7;">$EXPIRE_DATE</td>
		<td>{$smarty.config.Var_expire}</td>
	</tr>
	<tr class="text">
		<td class="texto_12" style="background-color: #F7F7F7;">$ASSUME</td>
		<td>{$smarty.config.Var_assume}</td>
	</tr>
	<tr class="text">
		<td class="texto_12" style="background-color: #F7F7F7;">$FINISH_DATE</td>
		<td>{$smarty.config.Var_finish}</td>
	</tr>
	<tr class="text">
		<td class="texto_12" style="background-color: #F7F7F7;">$REJECTION</td>
		<td>{$smarty.config.Var_rejection}</td>
	</tr>
	<tr class="text">
		<td class="texto_12" style="background-color: #F7F7F7;">$STATUS</td>
		<td>{$smarty.config.Var_status}</td>
	</tr>
	<tr class="text">
		<td class="texto_12" style="background-color: #F7F7F7;">$REQUESTER</td>
		<td>{$smarty.config.Var_requester}</td>
	</tr>
	<tr class="text">
		<td class="texto_12" style="background-color: #F7F7F7;">$INCHARGE</td>
		<td>{$smarty.config.Var_incharge}</td>
	</tr>
	<tr class="text">
		<td class="texto_12" style="background-color: #F7F7F7;">$NT_OPERATOR</td>
		<td>{$smarty.config.Var_nt_operator}</td>
	</tr>
	<tr class="text">
		<td class="texto_12" style="background-color: #F7F7F7;">$NT_USER</td>
		<td>{$smarty.config.Var_nt_user}</td>
	</tr>
	<tr class="text">
		<td class="texto_12" style="background-color: #F7F7F7;">$LINK_OPERATOR</td>
		<td>{$smarty.config.Var_link_operator}</td>
	</tr>
	<tr class="text">
		<td class="texto_12" style="background-color: #F7F7F7;">$LINK_USER</td>
		<td>{$smarty.config.Var_link_user}</td>
	</tr>
        <tr class="text">
		<td class="texto_12" style="background-color: #F7F7F7;">$EVALUATION</td>
		<td>{$smarty.config.Var_evaluation}</td>
	</tr>
	</tr>
        <tr class="text">
		<td class="texto_12" style="background-color: #F7F7F7;">$LINK_EVALUATE</td>
		<td>{$smarty.config.Var_link_evaluation}</td>
	</tr>
</table>
