{literal}
<script type="text/javascript" src="{/literal}{$path}{literal}/includes/js/admin/features.js"></script>
{/literal}
{foreach key=key item=item from=$features}
	<div class="flexigrid">
		<div class="mDiv"><div class="ftitle"> :: {$key}</div></div>
	</div>
	<table class="tbReports tbWorkDay w100p" cellpadding="0" cellspacing="0">
		<colgroup>
			<col width="7%">
			<col width="93%">
		</colgroup>
		<tbody>		
			{foreach key=key item=item from=$item}
				{if $key is even}
					<tr class="odd">
				{else}
					<tr>
				{/if}				
					<td align="center">
						{if $item.field_type == "input"}
							<input type="text" value="{$item.value}" class="alignCenter changeConfigValue" id="id{$item.idconfig}" data-id="{$item.idconfig}" />							
						{else}
							<input type="checkbox" {if $item.value == 1}checked="checked"{/if} id="id{$item.idconfig}" class="changeConfigStatus" value="{$item.idconfig}"/>
						{/if}
					</td>
					<td>
						<label for="id{$item.idconfig}">
							{$item.desc}
						</label>
					</td>
				</tr>				
		    {/foreach}
    	</tbody>
    </table>
{/foreach}

<div class="flexigrid">
	<div class="mDiv"><div class="ftitle"> :: {$smarty.config.pgr_email_config}</div></div>
</div>

<form action="javascript:;" method="post" name="formEmailConfig" id="formEmailConfig" style="width: 635px;" class="mb15">
	<ul class="lstForm clearfix mt20">				
		<li>
			<ul>
				<li class="info">
					<label for="mailtitle">{$smarty.config.Title}:</label>
				</li>
				<li class="field ">
					<input name="mailtitle" id="mailtitle" type="text" value='{$emtitle}' class="w240"/>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="info">
					<label for="mailhost">{$smarty.config.Email_host}:</label>
				</li>
				<li class="field ">
					<input name="mailhost" id="mailhost" type="text" value='{$emhost}' class="w240"/>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="info">
					<label for="maildomain">{$smarty.config.Domain}:</label>
				</li>
				<li class="field ">
					<input name="maildomain" id="maildomain" type="text" value='{$domain}' class="w240"/>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="info">
					<label for="mailuser">{$smarty.config.User_login}:</label>
				</li>
				<li class="field ">
					<input name="mailuser" id="mailuser" type="text" value='{$emuser}' class="w240"/>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="info">
					<label for="mailpass">{$smarty.config.Password}:</label>
				</li>
				<li class="field ">
					<input name="mailpass" id="mailpass" type="password" value='{$empassword}' class="w240"/>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="info">
					<label for="mailsender">{$smarty.config.Email_sender}:</label>
				</li>
				<li class="field ">
					<input name="mailsender" id="mailsender" type="text" value='{$emsender}' class="w240"/>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="info">
					<label for="mailport">{$smarty.config.Port}:</label>
				</li>
				<li class="field ">
					<input name="mailport" id="mailport" type="text" value='{$emport}' class="w240"/>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="info">
					<label for="authcheck">{$smarty.config.Requires_Autentication}:</label>
				</li>
				<li class="field ">
					<input type="checkbox" name="check" id="authcheck" {$auth} class="mt15"/>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="info">
					<label for="header2">{$smarty.config.Header}:</label>
				</li>
				<li class="field ">
					<textarea id="header2" name="header2" class="ckeditor" data-width="500" data-height="120" data-toolbar="SOLICITA"> {$emheader} </textarea>
					

				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="info">
					<label for="footer2">{$smarty.config.Footer}:</label>
				</li>
				<li class="field ">
					<textarea id="footer2" name="footer2" class="ckeditor" data-width="500" data-height="120" data-toolbar="SOLICITA"> {$emfooter} </textarea>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="info">
					<label for="{$idsuccesscheck}">{$smarty.config.Success_logs}:</label>
				</li>
				<li class="field ">
					<input type="checkbox" value="{$idsuccesscheck}" id="{$idsuccesscheck}" class="changeConfigStatus" {$successcheck}/>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="info">
					<label for="{$idfailurecheck}">{$smarty.config.Failure_logs}:</label>
				</li>
				<li class="field ">
					<input type="checkbox" value="{$idfailurecheck}" id="{$idfailurecheck}" class="changeConfigStatus" {$failurecheck}/>
				</li>
			</ul>
		</li>
	</ul>
	<div class="clearfix">
		<ul class="lst-btn">
			<li class="last">
				<input type='submit' name="submit" class="btnOrange tp1" value="{$smarty.config.Save}" />
			</li>
		</ul>
	</div>
</form>

<div class="flexigrid">
	<div class="mDiv"><div class="ftitle"> :: {$smarty.config.Pop_server}</div></div>
</div>

<form action="javascript:;" method="post" name="formPopServer" id="formPopServer" style="width: 635px;" class="mb15">
	<ul class="lstForm clearfix mt20">				
		<li>
			<ul>
				<li class="info">
					<label for="pophost">Host:</label>
				</li>
				<li class="field ">
					<input name="pophost" id="pophost" type="text" value='{$pophost}' class="w240"/>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="info">
					<label for="poptype">{$smarty.config.Type}:</label>
				</li>
				<li class="field ">
					<select name="poptype" id="poptype" class="w240">
	                    <option value="0">{$smarty.config.Select}</option>
	                    <option value="POP" {$poptypep}>POP</option>
	                    <option value="IMAP" {$poptypei}>IMAP</option>
	                    <option value="GMAIL" {$poptypeg}>Gmail</option>
	                </select>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="info">
					<label for="popport">{$smarty.config.Port}:</label>
				</li>
				<li class="field ">
					<input name="popport" id="popport" type="text" value='{$popport}' class="w240"/>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="info">
					<label for="popdomain">{$smarty.config.Domain}:</label>
				</li>
				<li class="field ">
					<input name="popdomain" id="popdomain" type="text" value='{$popdomain}' class="w240"/>
				</li>
			</ul>
		</li>
	</ul>
	<div class="clearfix">
		<ul class="lst-btn">
			<li class="last">
				<input type='submit' name="submit" class="btnOrange tp1" value="{$smarty.config.Save}" />
			</li>
		</ul>
	</div>
</form>




<div class="flexigrid">
	<div class="mDiv"><div class="ftitle"> :: {$smarty.config.Integration_ldap}</div></div>
</div>

<form action="javascript:;" method="post" name="formLDAP" id="formLDAP" style="width: 635px;" class="mb15">
	<ul class="lstForm clearfix mt20">
		<li>
			<ul>
				<li class="info">
					<label for="ldaptype">{$smarty.config.Type}:</label>
				</li>
				<li class="field">
					<select name="ldaptype" id="ldaptype">
						<option value="1" {if $ldaptype == 1}selected="selected"{/if}>LDAP</option>
						<option value="2" {if $ldaptype == 2}selected="selected"{/if}>AD</option>
					</select>
				</li>
			</ul>
		</li>		
		<li>
			<ul>
				<li class="info">
					<label for="ldapserver">{$smarty.config.ldap_server}:</label>
				</li>
				<li class="field ">
					<input name="ldapserver" id="ldapserver" type="text" value='{$ldapserver}' class="w240"/>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="info">
					<label for="ldapdn">{$smarty.config.ldap_dn}:</label>
				</li>
				<li class="field ">
					<input name="ldapdn" id="ldapdn" type="text" value='{$ldapdn}' class="w240 mt15"/>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="info">
					<label for="ldapdomain">{$smarty.config.ldap_domain}:</label>
				</li>
				<li class="field ">
					<input name="ldapdomain" id="ldapdomain" type="text" value='{$ldapdomain}' class="w240"/>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="info">
					<label for="ldapfield">{$smarty.config.ldap_field}:</label>
				</li>
				<li class="field ">
					<input name="ldapfield" id="ldapfield" type="text" value='{$ldapfield}' class="w240"/>
				</li>
				<li class="ml10"><small>({$smarty.config.ldap_field_obs})</small></li>
			</ul>
		</li>
		
	</ul>
	<div class="clearfix">
		<ul class="lst-btn">
			<li class="last">
				<input type='submit' name="submit" class="btnOrange tp1" value="{$smarty.config.Save}" />
			</li>
		</ul>
	</div>
</form>      






           

<div class="flexigrid">
	<div class="mDiv"><div class="ftitle"> :: {$smarty.config.Maintenance}</div></div>
</div>

<form action="javascript:;" method="post" name="formMaintenance" id="formMaintenance" style="width: 635px;" class="mb15">
	<ul class="lstForm clearfix mt20">				
		<li>
			<ul>
				<li class="info">
					<label for="checkMain">{$smarty.config.Maintenance}:</label>
				</li>
				<li class="field ">
					<input type="checkbox" name="checkMain" id="checkMain" value="1" {if $maintenancecheck == 1}checked="checked"{/if}/>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="info">
					<label for="mainmessage">{$smarty.config.Description}:</label>
				</li>
				<li class="field ">
					<textarea id="mainmessage" name="mainmessage" class="ckeditor" data-width="500" data-height="120" data-toolbar="SOLICITA_DET">{$mainmsg}</textarea>
				</li>
			</ul>
		</li>		
	</ul>
	<div class="clearfix">
		<ul class="lst-btn">
			<li class="last">
				<input type='submit' name="submit" class="btnOrange tp1" value="{$smarty.config.Save}" />
			</li>
		</ul>
	</div>
</form>       