<table id="flexigrid2"></table>
	
{literal}
<script  src="{/literal}{$path}{literal}/includes/classes/ajax/groups_list.js"></script>
{/literal}

<div id="modalGroupsInsert" class="window" style="width:450px;"><!-- --></div>
<div id="modalGroupsEdit" class="window" style="width:450px;"><!-- --></div>
<div id="modalGroupsDisable" class="window" style="width:400px;"><!-- --></div>
<div id="modalGroupsActive" class="window" style="width:400px;"><!-- --></div>
<div id="modalAttendants" class="window" style="width:400px;"><!-- --></div>
<div id="modalServices" class="window" style="width:400px;"><!-- --></div>
<div id="modalRepassGroups" class="window" style="width:450px;"><!-- --></div>