<html>
	<head>
		<title>{$pagetitle}</title>
		{literal}
		<link type="text/css" rel="stylesheet" href="{/literal}{$path}{literal}/app/themes/{/literal}{$theme}{literal}/style.css" />
		<script type="text/javascript" src="{/literal}{$path}{literal}/includes/classes/jquery/jquery-1.7.1.min.js"></script>
		<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
		<script type="text/javascript" language="javascript">
			function load() {
				$("#table").html("<img src='{/literal}{$path}{literal}/app/themes/{/literal}{$theme}{literal}/images/loading_laranja.gif' alt='{/literal}{$smarty.config.Send_img_alt}{literal}' />");
				var year = $("#lastyear").val();
				$("#table").load("{/literal}{$path}{literal}/admin/holidays/load", {
					year : year
				}, function(resposta1) {
				});
			}

			function holidayimport() {
				var year2 = $("#nextyear").val();
				var fromyear = $("#lastyear2").val();

				if (year2 == fromyear) {
					alert("{/literal}{$smarty.config.Import_same_year}{literal}");
				} else {
					$.post('{/literal}{$path}{literal}/admin/holidays/import', {
						year2 : year2,
						fromyear : fromyear
					}, function(resposta) {

						if (resposta != false) {
							alert("{/literal}{$smarty.config.Import_successfull}{literal}")
						} else {
							alert("{/literal}{$smarty.config.Import_failure}{literal}")
						}
					});
				}
			}

		</script>
		{/literal}
	</head>
	<body>
		<div id='smallHeader' style="margin-top:0px;">
			<span class="texto" style="margin-top:16px; margin-left: 10px;">:: {$smarty.config.Import} </span>
		</div>
		<form id="form1" name="form1" method="post" action="">			
			<div class="titulo">{$smarty.config.Previous_year}:</div>
			<div class="campos">
				<select id="lastyear" name="lastyear">
					<option value="{$year}">{$year}</option>
					<option value="{$year5}" selected>{$year5}</option>
					<option value="{$year2}">{$year2}</option>
					<option value="{$year3}">{$year3}</option>
					<option value="{$year4}">{$year4}</option>
				</select>
			</div>
			<div id="buttonCadastrar">
				<input type='submit' name="submit" id="submit"  class="btn_cadastrar" onclick="load(); return false;" value="{$smarty.config.Load_btn}" />
			</div>
		</form>
		<div id="table" class="fl ml66">

		</div>
	</body>
</html>
