{literal}
<!--
<script  src="{/literal}{$path}{literal}/includes/classes/ajax/holidays_list.js"></script>
-->

<script  src="{/literal}{$path}{literal}/app/modules/admin/views/js/holidays.js"></script>

{/literal}
<table id="flexigrid2"><!-- --></table>
<div id="modalHolydayInsert" class="window" style="width:400px;"><!-- --></div>
<div id="modalHolydayEdit" class="window" style="width:400px;"><!-- --></div>
<div id="modalHolydayImport" class="window" style="width:600px;"><!-- --></div>
<div id="modalHolydayDelete" class="window" style="width:420px;"><!-- --></div>