<div class="flexigrid">
	<div class="mDiv"><div class="ftitle"> :: {$smarty.config.people_import}</div></div>
</div>

<p class="mt20 ml20">
	{$smarty.config.Manage_instructions}	
	<a href="{$path}/app/uploads/admin/import/{$smarty.config.Manage_layout_user_file}" class="lnk-tp2" target="_blank" title="{$smarty.config.Manage_layout_user}">{$smarty.config.Manage_layout_user}</a>
</p>

<form action="" method="post" enctype="multipart/form-data" name="form" onSubmit="return validaArquivoCSV()" target="_oframe">
	<ul class="lstForm clearfix mt20">				
		<li>
			<ul>
				<li class="info">
					<label for="companyDep">{$smarty.config.people_import}:</label>
				</li>
				<li class="field ">
					<input name="COD_ANEXO" type="hidden" id="COD_ANEXO"/>
					<iframe src="importpeople/upfile/" name="ianexo" id="ianexo" width="400" height="25" frameborder="0" scrolling="no"></iframe>
				</li>
			</ul>
		</li>	
		<li>
			<ul>
				<li class="info"><!-- --></li>
				<li class="field ">
					<iframe name="_oframe" id="_oframe" width="700" height="400" style="border:0;"></iframe>
				</li>
			</ul>
		</li>	
	</ul>	
</form>




