{literal}
<script type="text/javascript" src="{/literal}{$path}{literal}/includes/classes/jquery/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{/literal}{$path}{literal}/includes/classes/accordion/jquery.ui.widget.js" ></script>
<script type="text/javascript" src="{/literal}{$path}{literal}/includes/classes/accordion/jquery.ui.accordion.js" ></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('checkbox').change(function() {
			alert('changed');
		});
	});
	function send(id) {
		var id = id;
		var idprogram = $("#idprogram").val();
		alert(id);
		if (document.getElementById(id).checked) {
			var vardefault = 'Com check!';
		} else {
			var vardefault = 'Sem Check';
		}
		alert(vardefault);
	}

	$(function() {
		$("#accordion").accordion({
			active : false,
			collapsible : true
		});
	});
</script>
{/literal}
<BR/>
<div style="text-align:left; margin-left: 5px; color:#000; font-size:12px; text-decoration:none; font-family:Arial, Helvetica, sans-serif;">
	Permissions by User's Type
</div>

<div class="box-tp1">
	<div id="accordion">
		{$lista}
	</div>
	<div id="button">
		<input type="button" value="Back" onclick="$('#content').load('typepersonpermission');">
		<br/>
	</div>
	<input type="hidden" name="idprogram" id="idprogram" value="{$idprogram}"/>
</div>
