<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href='{$path}/favicon.ico' rel='shortcut icon'/>
		<link href='{$path}/favicon.png' rel='icon' type='image/png'/>
		
		<link rel="stylesheet" type="text/css" href="{$path}/app/themes/{$theme}/loginv2.css" />
		<link rel="stylesheet" type="text/css" href="{$path}/includes/css/structure.css" />
             
		<title>{$pagetitle}</title>
		{literal}
		<script type="text/javascript" src="{/literal}{$path}{literal}/includes/classes/jquery/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="{/literal}{$path}{literal}/includes/js/default.js"></script>
		<script src="{/literal}{$path}{literal}/includes/classes/ajax/flex_lang.js"></script>
		<script>
			var default_lang = "{/literal}{$lang_default}{literal}",
				path = "{/literal}{$path}{literal}";
			var hdk_url = "{/literal}{$hdk_url}{literal}";
            var license = "{/literal}{$license}{literal}";
		    var twoFactorAuth = false ;

			$(document).ready(function() {
				$.post('home/check_release', function(data) {
					if(data){
						$.get('../version.txt', 
							function(localversion) {
								$.getJSON("http://helpdezk.org/releases/checkversion.php?jsoncallback=?",
									{ 
										client_version: localversion,
										client_server_ip: '{/literal}{php} echo $_SERVER["SERVER_ADDR"] ;{/php}{literal}',
										client_server_name: '{/literal}{php} echo $_SERVER["SERVER_NAME"] ;{/php}{literal}',
										client_hdk_url: hdk_url
									},
									function(json)
									{
										if(json['return'] != 'updated') {
										   $.post('home/current_release', { release: json['return'] } );
										}	                                               
									}
								);
						});
					}
				});

                // Check if use Google 2FA
                $.getJSON('login/getGoogle2fa/', function (data) {
                    console.log(data);
                    if(data.success == 1) {
                        //console.log('entrou') ;
                        twoFactorAuth = true ;
                        $("#secret").toggle();
                    } else {
                        $("#lostPassword").toggle() ;
                    }
                });

				$("#form_login").submit(function(){
					var $self = $(this),
						login = $("#F_LOGIN").val(),
						senha = $("#F_SENHA").val(),
                        secret = $("#F_SECRET").val()    ;

                    var errLogin = false ;
                    var msgError ;

                    /*
                        if (!$login ) {
                            errLogin = true ;
                            msgError = aLang['Alert_empty_user'].replace (/\"/g, "") ;
                        }

                    */

                    if (twoFactorAuth) {
                        /**
                          * I can not do this test, because at first logon
                          * user does not have your secret recorded in the database
                          *
                        if ( !login || !senha || !secret ) {
                            errLogin = true ;
                            msgError = aLang['Alert_empty_fields'].replace (/\"/g, "") ;
                        }
                        */
                    } else {
                        if ( !login || !senha  ) {
                            errLogin = true ;
                            msgError = aLang['Alert_empty_fields'].replace (/\"/g, "") ;
                        }
                    }

                    if (errLogin) {
                        $self.find(".error").removeClass("none").text(msgError);
                        return false;
                    } else{
                        $(".loaderLogin").show();
                        $.post("login/auth/", {
                            F_LOGIN : login,
                            F_SENHA : senha,
                            F_SECRET: secret
                        }, function(data) {
                            if(data.success == 0)
                                $self.find(".error").removeClass("none").text(data.msg);
                            else if(data.success == 1){
                                self.location = data.redirect;
                            }
                        },"json").complete(function(){
                            $(".loaderLogin").hide();
                        });
                        return false;
                    }


				})

				$("#modalPassword").find('form').submit(function(){
					var $self = $(this),
						$btn = $self.find('#btnLostPassword') ,
						$modalContent = $self.find(".modalContent").find(".clearfix");
					
					if(!$("#txtUser").val()) return false;
					
					$.ajax({
						type: "POST",
						url: "login/lostPassword",
						data: $(this).serialize(),
						error: function (ret) {
							objDefault.notification("error",aLang['Alert_failure'].replace (/\"/g, ""),"modalDownloadInsertCategory");
						},
						success: function(ret) {
							$modalContent.empty();
							$self.find(".modalFooter").remove();
							if(ret){
								if (ret ==  '1')  {
									objDefault.notification("error",aLang['Lost_password_pop'].replace (/\"/g, ""),"modalPassword");
								}
								else if (ret == '2')
								{
									objDefault.notification("error",aLang['Lost_password_ad'].replace (/\"/g, ""),"modalPassword");
								}
								else if (ret ==  'NOT_EXISTS' ) {	
									objDefault.notification("error",aLang['Lost_password_not'].replace (/\"/g, ""),"modalPassword");
								}
								else if (ret ==  'MASTER' ) {
									objDefault.notification("error",aLang['Lost_password_master'].replace (/\"/g, ""),"modalPassword");
								}
								else {
									objDefault.notification("success",aLang['Lost_password_suc'].replace (/\"/g, ""),"modalPassword");
								}	
							}
							else
							{						
								objDefault.notification("error",aLang['Lost_password_err'].replace (/\"/g, ""),"modalPassword");
							}
								
						},
						beforeSend: function(){
							objDefault.buttonAction($btn,'disabled');
						},
						complete: function(){
							objDefault.buttonAction($btn,'enabled');
						}
					});
					
				})
				modalWarning
				
				$(".linkMessage").click(function(e){
					e.preventDefault();
					
					var val = $(this).attr("href");
					
				/*	$.getJSON("login/getWarningInfo/id/"+val, function(data) {  
						console.log(data);
			        });*/
					
					var modalWarning= $(document.getElementById("modalWarning"));
		            objDefault.maskLoaderShow();
		            modalWarning.load("login/getWarningInfo/id/"+val, function(){
		            	objModal.openModal("modalWarning");		            	
		            	objDefault.maskLoaderHide();
		            })
					
				})
				
				
				
			})

		</script>
		{/literal}

	</head>
	<body>
        
        <div id="header">
        	<div class="wrapper">
        		<div class="box-01">
				     <div class="box-02">
				          <div class="box-03">
				               <img src="{$path}/app/uploads/logos/{$loginlogo}" />
				          </div>
				     </div>
				</div>
        	</div>
        </div>
        
        <div class="wrapper content">
        	
        	<div class="boxAvisos effect2">
        		<div class="title">
        			{$smarty.config.pgr_warnings}
        		</div>
        		
        		<table>
        			<colgroup>
        				<col width="250"/>
        				<col />
        			</colgroup>
        			<thead>
        				<tr>
        					<th>{$smarty.config.Topic}</th>
        					<th>{$smarty.config.Subject}</th>
        				</tr>
        			</thead>
        		</table>
        		
        		<div style="overflow-y: auto; height: 170px;">
	        		<table>
	        			<colgroup>
	        				<col width="250"/>
	        				<col />
	        			</colgroup>
	        			<tbody>
	        				{if $warning|@count == 0}
	        					<tr>
									<td colspan="2" align="center">
										<strong>{$smarty.config.No_result}</strong>
									</td>
								</tr>
							{else}	        				
		        				{foreach from=$warning key=k item=v}
									<tr>
										<td>
											<a href="{$v.idmessage}" class="linkMessage">{$v.title_topic}</a>
										</td>
										<td>
											<a href="{$v.idmessage}" class="linkMessage">{$v.title_warning}</a>
										</td>
									</tr>
								{/foreach}
							{/if}
	        			</tbody>        			
	        		</table>
        		</div>
        	</div>
        	
        	<div class="boxLogin effect2">
        		<form action="{$proj}" method="post" name="form_login" target="_top" id="form_login" autocomplete="off">
	        		<p class="error none"></p>
	        		<label for="F_LOGIN">{$smarty.config.Login}:</label>
	        		<input name="F_LOGIN" type="text" id="F_LOGIN"/>

	        		<label for="F_SENHA">{$smarty.config.Password}:</label>
	        		<input name="F_SENHA" type="password" id="F_SENHA"/>

                    <div id="lostPassword" style="display:none">
                        <a href="#modalPassword" class="openModal lnkSenha">{$smarty.config.Lost_password}</a>
                    </div>

	        		<!-- <a href="#modalPassword" class="openModal lnkSenha">{$smarty.config.Lost_password}</a> -->
                    <div id="secret"    style="display:none">
                        <label for="F_SECRET">{$smarty.config.Secret}:</label>
                        <input name="F_SECRET" type="text" id="F_SECRET"/>
                        <a href="#modalPassword" class="openModal lnkSenha">{$smarty.config.Lost_password}</a>
                    </div>
	        		<input type="submit" value="{$smarty.config.Enter}" />
	        		<span class="loaderLogin">Loading</span>
        		</form>
        	</div>
        	{if $demo}
	        	<div class="boxDemo">
					<span><strong>User:</strong> user</span>
					<span><strong>Attendance:</strong> operator</span>
					<span><strong>Administrator:</strong> root</span>
					<span><strong>Password:</strong> 1234</span>
	        	</div>
			{/if}
        	
        	
        </div>
        
        <div id="footer">
        	<div class="wrapper">
        		<div class="box-01 site">
				     <div class="box-02">
				          <div class="box-03">
				               <a class="lnkHD" href="{$urlsite}" target="_blank">{$site}</a>
				          </div>
				     </div>
				</div>
				
				<div class="box-01 version">
				     <div class="box-02">
				          <div class="box-03">
				               <span class="version">{$version}</span>
				          </div>
				     </div>
				</div>
				
        	</div>
        </div>
        
        <div id="modalPassword" class="window" style="width:435px;">		
			<form action="javascript:;" method="post">
				<div class="modalHeader">
					<h2>{$smarty.config.Lost_password}</h2>
					<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
				</div>
				<div class="modalContent">
					<div class="clearfix">
						<ul class="lstForm clearfix mt10">
							<li>
								<ul>
									<li class="info">
										<label for="txtUser">{$smarty.config.Login}:</label>
									</li>
									<li class="field">
										
										<input type="text" name="txtUser" id="txtUser"/>
									</li>
								</ul>
							</li>
						</ul>						
					</div>
				</div>
				<div class="modalFooter">
					<div class="clearfix">
						<ul class="lst-btn">
							<li class="last">
								<input type="submit" id="btnLostPassword" value="{$smarty.config.Send}" class="btnOrange tp1"/>
							</li>
						</ul>
					</div>
				</div>
			</form>
		</div>
		
		<div id="modalWarning" class="window" style="width:435px;"><!-- --></div>
		
		<div id="mask"><!-- --></div>
        
    </body>
</html>
