<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="{$path}/app/themes/{$theme}/login.css" />
		<link rel="stylesheet" type="text/css" href="{$path}/includes/css/structure.css" />
             
		<title>{$pagetitle}</title>
		{literal}
		<script type="text/javascript" src="{/literal}{$path}{literal}/includes/classes/jquery/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="{/literal}{$path}{literal}/includes/js/default.js"></script>
		<script src="{/literal}{$path}{literal}/includes/classes/ajax/flex_lang.js"></script>
		<script>
	
		
			$(document).ready(function() {
				$.post('home/check_release', function(data) {
					if(data){
						$.get('../version.txt', 
							function(localversion) {
								//alert(localversion);
								$.getJSON("http://helpdezk.org/releases/checkversion.php?jsoncallback=?",
									{ 
										client_version: localversion,
										client_server_ip: '{/literal}{php} echo $_SERVER["SERVER_ADDR"] ;{/php}{literal}',
										client_server_name: '{/literal}{php} echo $_SERVER["SERVER_NAME"] ;{/php}{literal}'
									},
									function(json)
									{
										if(json['return'] != 'updated') {
											//alert(json['return']);
										   $.post('home/current_release', { release: json['return'] } );
										}	                                               
									}
								);		
						});
					}
				});
			}); // end                    
                    
			window.name = 'helpdesk';
			window.focus();
                        
			function submeter(){
				
				path = document.form_login;

				if (path.F_LOGIN.value.length == 0) {
					path.F_LOGIN.focus();
					return false;
				}
				
				$.post("login/auth/", {
				F_LOGIN : $("#F_LOGIN").val(),
				F_SENHA : $("#F_SENHA").val()
				}, function(data) {
					$("#resposta").html(data);
				});
				return false;
			}
			
			$(document).keyup(function (e) {
				if (e.keyCode == 13) {
					submeter();
				}
			});
			
			function mostraaviso(){
				$('#aviso').fadeIn(5000);
			}
			
			
			$(function(){
				$("#modalPassword").find('form').submit(function(){
					var $self = $(this),
						$btn = $self.find('#btnLostPassword') ,
						$modalContent = $self.find(".modalContent").find(".clearfix");
					
					$.ajax({
						type: "POST",
						url: "login/lostPassword",
						data: $(this).serialize(),
						error: function (ret) {
							objDefault.notification("error",aLang['Alert_failure'].replace (/\"/g, ""),"modalDownloadInsertCategory");
						},
						success: function(ret) {
							$modalContent.empty();
							$self.find(".modalFooter").remove();
							if(ret){
								if (ret ==  '1')  {
									objDefault.notification("error",aLang['Lost_password_pop'].replace (/\"/g, ""),"modalPassword");
								}
								else if (ret == '2')
								{
									objDefault.notification("error",aLang['Lost_password_ad'].replace (/\"/g, ""),"modalPassword");
								}
								else if (ret ==  'NOT_EXISTS' ) {	
									objDefault.notification("error",aLang['Lost_password_not'].replace (/\"/g, ""),"modalPassword");
								}
								else if (ret ==  'MASTER' ) {
									objDefault.notification("error",aLang['Lost_password_master'].replace (/\"/g, ""),"modalPassword");
								}
								else {
									objDefault.notification("success",aLang['Lost_password_suc'].replace (/\"/g, ""),"modalPassword");
								}	
							}
							else
							{						
								objDefault.notification("error",aLang['Lost_password_err'].replace (/\"/g, ""),"modalPassword");
							}
								
						},
						beforeSend: function(){
							objDefault.buttonAction($btn,'disabled');
						},
						complete: function(){
							objDefault.buttonAction($btn,'enabled');
						}
					});
					
				})
			})

		</script>
		{/literal}

	</head>
	<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="document.form_login.F_LOGIN.focus(); mostraaviso();">
        <div id="textovertical" class="vertical">HelpDezk</div>

		<form action="{$proj}" method="post" name="form_login" target="_top" id="form_login">
            <div id="box-login">
                <input type="hidden" name="COMMAND" value="confere_login"/>
                <input type="hidden" name="f_jalogado" value="N"/>
                
                <div id="box-logo" style="background: url({$path}/app/uploads/logos/{$loginlogo}) center center no-repeat;">
                    
                </div>
                <div id="box-fields">                        
                    <div style="margin-bottom:5px;">
                        <div id="title">{$smarty.config.Login}:</div>
                        <div id="field"><input name="F_LOGIN" type="text" class="fields" id="F_LOGIN"  size="10"/></div>
                    </div>
                    <div>
                        <div id="title">{$smarty.config.Password}:</div>
                        <div id="field"><input name="F_SENHA" type="password" class="fields" id="F_SENHA" size="10"/></div>
                    </div>
                    <div>
                    {if  $multiempresa  }												
                        <div id="title">{$smarty.config.Company}:</div>
                        <div id="field"><select class="select_login" name="F_EMPRESA">
                            {html_options options=$nome_empresa selected=$empresa_selecionada}
                        </select>
                        </div>
                    {/if}
                    </div>
                </div>
                <div id="box-button">
                    <a class="button left" href="#" style="width:75px;" onclick="submeter(); return false;">
                        <span class="icon icon116"></span>
                        <span class="label">Enter</span>
                    </a>
                </div>
                <div id="resposta" class="errologin"></div>
				{literal}
				<style>
					.lnkSenha{
						top: 238px;
						position: absolute;
						right: 144px;
						font: 12px normal Arial sans-serif;
						color: #000;
						text-decoration: none;
					}
				</style>
				{/literal}
				<a href="#modalPassword" class="openModal lnkSenha">{$smarty.config.Lost_password}</a>
                {if $demo}
                <div id='aviso' class="text14w" style="display:none;">
                    <div style="margin-left:52px; margin-top:30px; position:absolute; line-height: 20px;">
                        <b>Logins:</b> <br/>
                        <u>User</u>: user<br/>
                        <u>Attendance</u>: operator<br/>
                        <u>Administrator</u>: root<br/><br/>
                        Password: 1234
                    </div>
                </div>
                {/if}

            </div>
                    
            <div id="version" class="version">{$version}</div>
            
            <div id="url" class="url">
                <a href="{$urlsite}" target="_blank" class="url">{$site}</a>
            </div>
        </form>
		
		<div id="modalPassword" class="window" style="width:435px;">
			{literal}
			<script>
				
			</script>
			{/literal}
		
			<form action="javascript:;" method="post">
				<div class="modalHeader">
					<h2>{$smarty.config.Lost_password}</h2>
					<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
				</div>
				<div class="modalContent">
					<div class="clearfix">
						<ul class="lstForm clearfix">
							<li>
								<ul>
									<li class="info">
										<label for="txtUser">{$smarty.config.Login}:</label>
									</li>
									<li class="field">
										
										<input type="text" name="txtUser" id="txtUser"/>
									</li>
								</ul>
							</li>
						</ul>						
					</div>
				</div>
				<div class="modalFooter">
					<div class="clearfix">
						<ul class="lst-btn">
							<li class="last">
								<input type="submit" id="btnLostPassword" value="{$smarty.config.Send}" class="btnOrange tp1"/>
							</li>
						</ul>
					</div>
				</div>
			</form>
		</div>
		<div id="mask"><!-- --></div>
    </body>
</html>
