<div class="flexigrid">
	<div class="mDiv"><div class="ftitle"> :: {$smarty.config.pgr_logos}</div></div>
</div>
<ul class="lstForm clearfix mt20">				
	<li>
		<ul>
			<li class="info">
				<label>{$smarty.config.Page_header_logo}:</label>
			</li>
			<li class="field">
				<img src="{$path}/app/uploads/logos/{$headerlogo}" height="{$headerheight}px" width="{$headerwidth}px"/>
			</li>
		</ul>
	</li>	
	<li>
		<ul>
			<li class="info">
				<!-- -->
			</li>
			<li class="field ">
				{$smarty.config.Info_header_logo}
			</li>
		</ul>
	</li>	
	<li>
		<ul>
			<li class="info">
				{$smarty.config.File}:
			</li>
			<li class="field ">
				<iframe src="logos/upload" name="ianexo" id="ianexo" width="258" height="25" frameborder="0" scrolling="no"></iframe>
			</li>
		</ul>
	</li>	
	<li>
		<ul>
			<li class="info">
				<label>{$smarty.config.Login_page_logo}:</label>
			</li>
			<li class="field ">
				<img src="{$path}/app/uploads/logos/{$loginlogo}" height="{$loginheight}px" width="{$loginwidth}px"/>
			</li>
		</ul>
	</li>
	<li>
		<ul>
			<li class="info">
				<!-- -->
			</li>
			<li class="field ">
				{$smarty.config.Info_login_logo}
			</li>
		</ul>
	</li>	
	<li>
		<ul>
			<li class="info">
				{$smarty.config.File}:
			</li>
			<li class="field ">
				<iframe src="logos/upload2" name="ianexo" id="ianexo" width="258" height="25" frameborder="0" scrolling="no"></iframe>
			</li>
		</ul>
	</li>	
	<li>
		<ul>
			<li class="info">
				<label>{$smarty.config.Reports_logo}:</label>
			</li>
			<li class="field ">
				<img src="{$path}/app/uploads/logos/{$reportslogo}" height="{$reportsheight}px" width="{$reportswidth}px"/>
			</li>
		</ul>
	</li>	
	<li>
		<ul>
			<li class="info">
				<!-- -->
			</li>
			<li class="field ">
				{$smarty.config.Info_reports_logo}
			</li>
		</ul>
	</li>	
	<li>
		<ul>
			<li class="info">
				{$smarty.config.File}:
			</li>
			<li class="field ">
				<iframe src="logos/upload3" name="ianexo" id="ianexo" width="258" height="25" frameborder="0" scrolling="no"></iframe>
			</li>
		</ul>
	</li>	
</ul>	
