{literal}
<script>
    function send(){
        if ($("#1").is(":checked")) {
            var access = 'Y'
        } else {
            var access = 'N';
        }
        if ($("#2").is(":checked")) {
            var newop = 'Y'
        } else {
            var newop = 'N';
        }
        if ($("#3").is(":checked")) {
            var edit = 'Y'
        } else {
            var edit = 'N';
        }
        if ($("#4").is(":checked")) {
            var deleteop = 'Y'
        } else {
            var deleteop = 'N';
        }
        if ($("#5").is(":checked")) {
            var  exportop = 'Y'
        } else {
            var  exportop = 'N';
        }
        if ($("#6").is(":checked")) {
            var email = 'Y'
        } else {
            var email = 'N';
        }
        if ($("#7").is(":checked")) {
            var sms = 'Y'
        } else {
            var sms = 'N';
        }
        
        var person = $("#person").val();
        var idprogram = $("#id").val();
        
        $.post('person/insertPermException', {
            access : access,
            newop : newop,
            edit : edit,
            deleteop : deleteop,
            exportop : exportop,
            email: email,
            sms : sms,
            person: person,
            prog: idprogram
        }, function(response) {
            if(response != false){
                alert("{/literal}{$smarty.config.Alert_inserted}{literal}");
                $("#popperm").hide();
                $("#content").load('person/manageperm/id/'+person);
            }
            else{
                alert("error.")
            }
                			
        });
		
    }
</script>
{/literal}
<div id='smallHeader'>
    <span class="texto" style="margin-top:12px; margin-left: 10px;">:: {$smarty.config.Programs_insert} </span><a href="#" id='buttonClose' onclick="$('#popperm').slideUp();"><img src="{$path}/app/themes/{$theme}/images/ico_close_button.gif" border="0" /></a>
</div>
<form name="form1" id="form1" method="post" action="">
    <div class="operacoes">
        {$smarty.config.Operations}
    </div>

    <div class="operacoes-campos">
        <input name="1" id="1" type="checkbox"/>
        {$smarty.config.Access}
        <input name="2" id="2" type="checkbox"/>
        {$smarty.config.New}
        <input name="3" id="3" type="checkbox"/>
        {$smarty.config.edit}
        <input name="4" id="4" type="checkbox"/>
        {$smarty.config.Delete}
        <input name="5" id="5" type="checkbox"/>
        {$smarty.config.Export}
        <input name="6" id="6" type="checkbox"/>
        {$smarty.config.email}
        <input name="7" id="7" type="checkbox"/>
        {$smarty.config.SMS}
    </div>
    <input id="id" name="id" value="{$id}" type="hidden"/>
    <input id="person" name="person" value="{$person}" type="hidden"/>
    <div id="buttonCadastrar">
        <input type='submit' class="btn_cadastrar" name="submit" value="{$smarty.config.Record_btn}" onclick="send(); return false;"/>
    </div>
    <br/>
    <br/>
</form>
