<table id="flexigrid2"></table>
{literal}
<script  src="{/literal}{$path}{literal}/includes/classes/ajax/priority_list.js"></script>
<script  src="{/literal}{$path}{literal}/includes/classes/colourpicker/colour-picker.js"></script>
<link rel="stylesheet" type="text/css" href="{/literal}{$path}{literal}/includes/classes/colourpicker/colour-picker.css" />
{/literal}

<div id="modalPriorityInsert" class="window" style="width:500px;"><!-- --></div>
<div id="modalPriorityEdit" class="window" style="width:500px;"><!-- --></div>
<div id="modalPriorityDisable" class="window" style="width:400px;"><!-- --></div>
<div id="modalPriorityActive" class="window" style="width:400px;"><!-- --></div>
<div id="modalPriorityDelete" class="window" style="width:400px;"><!-- --></div>

