<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{$pagetitle}</title>
        {literal}
        <script type="text/javascript" src="{/literal}{$path}{literal}/includes/classes/jquery/jquery-1.7.1.min.js"></script>
        <link type="text/css" rel="stylesheet" href="{/literal}{$path}{literal}/app/themes/{/literal}{$theme}{literal}/style.css" />
        <script type="text/javascript" language="javascript">
            function troca2() {
                $("select[name=category]").html('<option value="0">{/literal}{$smarty.config.Loading}{literal}</option>');
                var mod = $("#modules").val();
                $.post("{/literal}{$path}{literal}/admin/program/category", {
                    module : mod
                }, function(valor) {
                    $("select[name=category]").html(valor);
                })
            };

            function troca(novocat) {
                $("select[name=category]").html('<option value="0">{/literal}{$smarty.config.Loading}{literal}</option>');

                $.post("{/literal}{$path}{literal}/admin/program/category", {
                    category : novocat,
                    module : module2
                }, function(valor) {
                    $("select[name=category]").html(valor);
                })
            };

        </script>
        <script type="text/javascript" language="javascript">
            function send() {
                // Colocamos os valores de cada campo em uma variavel para facilitar a manipulacao
                var modules = $("#modules").val();
                var name = $("#name").val();
                var controller = $("#controller").val();
                var category = $("#category").val();
                var id = $("#id").val();
                pathform = document.form1;
                if (modules == '' || modules == 0) {
                    alert("{/literal}{$smarty.config.Alert_choose_module}{literal}!");
                    return false;
                }
                if (category == '' || category == 0) {
                    alert("{/literal}{$smarty.config.Alert_choose_category}{literal}!");
                    return false;
                }
                if (name == '') {
                    alert("{/literal}{$smarty.config.Alert_empty_program}{literal}");
                    pathform.name.focus();
                    return false;
                }
                if (controller == '') {
                    alert("{/literal}{$smarty.config.Alert_empty_controller}{literal}");
                    pathform.controller.focus();
                    return false;
                }

                // Exibe mensagem de carregamento
                $("#status").html("<img src='{/literal}{$path}{literal}/app/themes/{/literal}{$theme}{literal}/images/loading_laranja.gif' border='0' alt='{/literal}{$smarty.config.Send_img_alt}{literal}' />");
                // Fazemos a requisao ajax com o modulo e enviamos os valores de cada campo atraves do metodo POST
                $.post('{/literal}{$path}{literal}/admin/program/edit', {
                    category : category,
                    name : name,
                    controller : controller,
                    id : id
                }, function(resp) {
                    if (resp != false) {
                        alert("{/literal}{$smarty.config.Edit_sucess}{literal}");
                        window.opener.$("#content").load('program');
                        self.close();
                    } else {
                        alert("{/literal}{$smarty.config.Edit_failure}{literal}");
                    }
                });
            }

            function teste() {
                $('#newcategory').show();
            }

            function cadastraCat() {
                var modules = $("#modules").val();
                var newcategoryname = $("#newcategoryname").val();
                $("#status").html("<img src='{/literal}{$path}{literal}/app/themes/{/literal}{$theme}{literal}/images/loading_laranja.gif' border='0' alt='{/literal}{$smarty.config.Send_img_alt}{literal}' />");
                // Fazemos a requisao ajax com o modulo e enviamos os valores de cada campo atraves do metodo POST
                $.post('{/literal}{$path}{literal}/admin/program/categoryinsert', {
                    newcategoryname : newcategoryname,
                    modules : modules
                }, function(resposta) {
                    // Quando terminada a requisicao
                    // Exibe a div status
                    $("#status").slideDown();
                    // Se a resposta e um erro
                    if (resposta == false) {
                        // Exibe o erro na div
                        $("#status").html('{/literal}{$smarty.config.Send_img_alt}{literal}');
                    }
                    // Se resposta for false, ou seja, nao ocorreu nenhum erro
                    else {
                        // Exibe mensagem de sucesso
                        $("#status").html("{/literal}{$smarty.config.Alert_sucess_program}{literal}!");
                        troca(resposta);
                        // Limpando todos os campos
                        $('#newcategory').slideUp();
                        setTimeout('close()', 5000);
                    }
                });
            }
        </script>
        {/literal}
    <body>
        <!--onLoad="document.form1.NOM_GRUPO.focus()"-->
        <div id='smallHeader'>
            <span class="texto" style="margin-left: 10px;">:: {$smarty.config.Programs_insert} </span>
        </div>
        <form name="form1" id="form1" method="post" action="">
            <br />
            <div class="titulo">
                {$smarty.config.Module}:
            </div>
            <div class="campos">
                <select class="campo" name="modules" id="modules" onchange="troca2();">
                    <option value="0">{$smarty.config.Select_module}</option>
                    {html_options values=$modulesids output=$modulesvals selected = $module }
                </select>
            </div>
            <div id="categoryline">
                <div class="titulo">
                    {$smarty.config.Category}:
                </div>
                <div class="campos">
                    <select name="category" id="category">
                        {html_options values=$catids output=$catvals selected=$cat }
                    </select>
                    <a href="#"><img src="{$path}/app/themes/{$theme}/images/ico_add_category.png" height="15" border="0" width="15" onclick="teste()" alt="Adicionar Categoria"/></a>
                </div>
            </div>
            <div class="titulo">
                {$smarty.config.Name}:
            </div>
            <div class="campos">
                <input name="name" id="name" type="text" class="campo" tabindex="13" size="30" maxlength="30" value="{$name}"/>
            </div>
            <div class="clr"></div>
            <div class="titulo">
                {$smarty.config.Controller}:
            </div>
            <div class="campos">
                <input name="controller" id="controller" type="text" class="campo" tabindex="13" size="30" maxlength="20" value="{$controller}"/>
            </div>
            <div id="buttonCadastrar">
                <input type='submit' class="btn_cadastrar" name="submit" value="{$smarty.config.Edit_btn}" onclick="send(); return false;"/>
            </div>
            <br/>
            <input type="hidden" id="id" name="id" value="{$id}">
            <div id="newcategory" style="display: none; text-align: center; margin-bottom: 15px; clear:both;" class="textoRodape">
                <div class="titulo">
                    {$smarty.config.New_category}:
                </div>
                <div class="campos">
                    <input name="newcategoryname" id="newcategoryname" type="text" class="campo" tabindex="13" size="10" maxlength="10" />
                    <button type="button" class="btn_cadastrar" onclick="cadastraCat()" />
                    {$smarty.config.Ok_btn}</button>
                    <button type="button" class="btn_cadastrar" onclick="$('#newcategory').slideUp();"/>
                    {$smarty.config.Cancel_btn}</button>
                </div>                
            </div>
        </form>
    </body>
</html>
