{literal}
<script  src="{/literal}{$path}{literal}/includes/classes/ajax/programs_list.js"></script>
{/literal}

<table id="flexigrid2"><!-- --></table>

<div id="modalProgramInsert" class="window" style="width:500px;"><!-- --></div>
{include file="modais/programs/programsconfirm.tpl.html"}
<div id="modalProgramEdit" class="window" style="width:500px;"><!-- --></div>
<div id="modalProgramDisable" class="window" style="width:400px;"><!-- --></div>
<div id="modalProgramActive" class="window" style="width:400px;"><!-- --></div>
{include file="modais/programs/programsinsertcategory.tpl.html"}