<table id="flexigrid2"></table>
{literal}
<script  src="{/literal}{$path}{literal}/includes/classes/ajax/reason_list.js"></script>
{/literal}
<div id="modalReasonInsert" class="window" style="width:500px;"><!-- --></div>
<div id="modalReasonEdit" class="window" style="width:500px;"><!-- --></div>
<div id="modalReasonDisable" class="window" style="width:400px;"><!-- --></div>
<div id="modalReasonActive" class="window" style="width:400px;"><!-- --></div>
<div id="modalReasonDelete" class="window" style="width:400px;"><!-- --></div>