{literal}
<script>
	$("select").change(function() {
		var id = $("#service").val();
		$.post('groups/loadservices', {
			id : id
		}, function(data) {
			$('#attendants').html(data);
		});
	});
</script>
{/literal}
<div style="margin-left: 10px;font-family: verdana; font-size: 12px; font-weight: bold;">
	{$smarty.config.Show_services_title}
	<a href="#" class="btnVoltar" onclick="voltar1(); return false;"><img src="{$path}/app/themes/{$theme}/images/back_button.png" height="30" width="30" /></a>
	<br/>
        {$lista}
        <br/>
        <br/>
	<div id="attendants" class="attendants"></div>
</div>
