{literal}
<link type="text/css" rel="stylesheet" href="{/literal}{$path}{literal}/app/themes/{/literal}{$theme}{literal}/style.css" />
<script type="text/javascript" src="{/literal}{$path}{literal}/includes/classes/jquery/jquery-1.7.1.min.js"></script>
<script type="text/javascript" language="javascript">
	function send() {
		$("#status2").html("<img src='{/literal}{$path}{literal}/app/themes/{/literal}{$theme}{literal}/images/loading_laranja.gif' alt={/literal}{$smarty.config.Send_img_alt}{literal}' />");
		var name2 = $("#name2").val();
		var days = $("#limit_days").val();
		var group = $("#group").val();
		var priority = $("#priority").val();
		var id = $("#id").val()
		var limit_time = $("#limit_time").val();
		if ($("#time2").is(":checked")) {
			var time = $("#time2").val();
		} else {
			var time = $("#time1").val();
		}
		if ($("#default").is(":checked")) {
			var vardefault = '1';
		} else {
			var vardefault = '0';
		}
		var iditem2 = $("#iditem2").val();

		if ($("#available").is(":checked")) {
			var availableitem = 'A';
		} else {
			var availableitem = 'N';
		}
		if ($("#classify").is(":checked")) {
			var classifyitem = '1';
		} else {
			var classifyitem = '0';
		}
		pathform = document.form2;
		if (name2 == '') {
			alert("{/literal}{$smarty.config.Alert_empty_service}{literal}");
			pathform.name2.focus();
			return false;
		}
		if (group == '' || group == 0) {
			alert("{/literal}{$smarty.config.Select_group}{literal}!");
			return false;
		}
		if (priority == '' || priority == 0) {
			alert("{/literal}{$smarty.config.Select_priority}{literal}!");
			return false;
		}

		$.post('{/literal}{$path}{literal}/admin/services/editservice', {
			name : name2,
			vardefault : vardefault,
			availableitem : availableitem,
			classifyitem : classifyitem,
			iditem2 : iditem2,
			priority : priority,
			group : group,
			time : time,
			days : days,
			limit_time : limit_time,
			id : id
		}, function(resp) {

			if (resp != false) {
				alert('{/literal}{$smarty.config.Edit_sucess}{literal}');
				window.opener.carrega2(resp);
				self.close();
			} else {
				alert("{/literal}{$smarty.config.Alert_failure}{literal}");
			}
		});
	}
</script>
{/literal}
<!--onLoad="document.form1.NOM_GRUPO.focus()"-->
<div id='smallHeader'>
	<span class="texto" style="margin-top:12px; margin-left: 10px;">:: {$smarty.config.Service_insert} </span>
</div>
<form name="form2" id="form2" method="post" action="">
	<br />
	<div class="titulo">
		{$smarty.config.Service_name}:
	</div>
	<div class="campos">
		<input name="name2" id="name2" type="text" value="{$name}" class="campo" size="40" maxlength="150" />
	</div>
	<div class="titulo">
		{$smarty.config.Group}:
	</div>
	<div class="campos">
		<select class="campo" name="group" id="group">
			<option value="0">{$smarty.config.Select_group}:</option>
			{html_options values=$groupscp output=$groupsvals selected=$group}
		</select>
	</div>	
	<div class="titulo">
		{$smarty.config.Priority}:
	</div>
	<div class="campos">
		<select class="campo" name="priority" id="priority">
			<option value="0">{$smarty.config.Select_priority}</option>
			{html_options values=$prioritycp output=$priorityval selected=$priority}
		</select>
	</div>
	<div class="titulo">
		{$smarty.config.Attendance_time}:
	</div>
	<div class="legenda mt15" class="texto-regular">
		<input name="limit_days" value="{$days}" type="text" class="campo" id="limit_days"  style="width:25px" value="0" maxlength="2" />
		&nbsp;{$smarty.config.Days} &nbsp;{$smarty.config.and}&nbsp;
		<input name="limit_time" type="text" class="campo" value="{$time}" id="limit_time"  style="width:25px" value="0" maxlength="2"/>
		&nbsp;<label for="time1">{$smarty.config.Hours}</label>
		<input type="radio" name="time" id="time1" value="H" checked />
		&nbsp;<label for="time2">{$smarty.config.Minutes}</label>
		<input type="radio" name="time" id="time2" value="M" />
	</div>
	<div class="titulo">
		{$smarty.config.Available}:
	</div>
	<div class="campos">
		<input name="available" type="checkbox" id="available" {if $available == "A"} checked {else} "" {/if}/>
	</div>	
	<div class="legenda">
		<strong>{$smarty.config.Available_text}</strong>
	</div>
	<div class="titulo">
		{$smarty.config.Default}:
	</div>
	<div class="campos">
		<input name="default" type="checkbox" id="default" {if $default == "1"} checked {else} "" {/if}/>
	</div>
	<div class="legenda">
		<strong>{$smarty.config.Default_text}</strong>
	</div>
	<div class="titulo">
		{$smarty.config.Classification}:
	</div>
	<div class="campos">
		<input name="classify" type="checkbox" id="classify" {if $classify == "1"} checked {else} "" {/if}/>
	</div>
	<div class="legenda">
		<strong>{$smarty.config.Classification_text}</strong>
	</div>	
	<div id="buttonCadastrar">
		<input type='submit' name="submit"  class="btn_cadastrar" onclick="send(); return false;" value="{$smarty.config.Edit_btn}" />
	</div>
	<input type="hidden" value="{$id}" name ="id" id="id"/>
	<div id="status2" style="text-align: center;  margin-bottom: 15px;" class="textoRodape"></div>
	<br/>
	<br/>
</form>

