<table id="flexigrid2"></table>
{literal}
<script  src="{/literal}{$path}{literal}/app/modules/admin/views/js/status.js"></script>
<script  src="{/literal}{$path}{literal}/includes/classes/colourpicker/colour-picker.js"></script>
<link rel="stylesheet" type="text/css" href="{/literal}{$path}{literal}/includes/classes/colourpicker/colour-picker.css" />
{/literal}

<div id="modalStatusInsert" class="window" style="width:500px;"><!-- --></div>
<div id="modalStatusEdit" class="window" style="width:500px;"><!-- --></div>
<div id="modalStatusDisable" class="window" style="width:400px;"><!-- --></div>
<div id="modalStatusActive" class="window" style="width:400px;"><!-- --></div>
<div id="modalStatusDelete" class="window" style="width:400px;"><!-- --></div>