<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{$pagetitle}</title>
		{literal}
		<script type="text/javascript" src="{/literal}{$path}{literal}/includes/classes/jquery/jquery-1.7.1.min.js"></script>
		<link type="text/css" rel="stylesheet" href="{/literal}{$path}{literal}/app/themes/{/literal}{$theme}{literal}/style.css" />
		<script type="text/javascript" language="javascript">
			function MM_openBrWindow(theURL, winName, features) {//v2.0
				window.open(theURL, winName, features);
			}

			function send() {
				var name = $("#name").val();
				var id = $("#id").val();
				var color = $("#color").val();
				var groupby = $("#groupby").val();
				var user_view = $("#user_view").val();
				pathform = document.form1;
				if (name == '') {
					alert("{/literal}{$smarty.config.Alert_empty_description}{literal}");
					pathform.name.focus();
					return false;
				}
				if (color == '') {
					alert("{/literal}{$smarty.config.Alert_empty_color_exhibition}{literal}");
					pathform.color.focus();
					return false;
				}
				if (user_view == '') {
					alert("{/literal}{$smarty.config.Alert_empty_description}{literal}");
					pathform.user_view.focus();
					return false;
				}

				$.post('{/literal}{$path}{literal}/admin/status/edit', {
					name : name,
					id : id,
					color : color,
					groupby : groupby,
					user_view : user_view
				}, function(resp) {

					if (resp != false) {
						alert("{/literal}{$smarty.config.Edit_sucess}{literal}");
						window.opener.$("#content").load('status');
						self.close();
					} else {
						alert("{/literal}{$smarty.config.Edit_failure}{literal}");
					}
				});
			}
		</script>
		{/literal}
		<body>
			<!--onLoad="document.form1.NOM_GRUPO.focus()"-->
			<div id='smallHeader' style="margin-top:0px;">
				<span class="texto" style="margin-top:16px; margin-left: 10px;">::&nbsp;{$smarty.config.Status_edit} </span>
			</div>
		<body>
			<form name="form1" id="form1" method="post" action="">
				<br />
				<div class="titulo">
					{$smarty.config.Name}:
				</div>
				<div class="campos">
					<input name="name" id="name" type="text" class="campo" size="40" maxlength="150" value="{$name}"/>
				</div>
				<div class="titulo">
					{$smarty.config.User_exhibition}:
				</div>
				<div class="campos">
					<input name="user_view" id="user_view" type="text" class="campo" size="40" maxlength="40" value="{$user_view}" />
				</div>
				<div class="clr"><!--  --></div>
				<div class="titulo">
					{$smarty.config.Color_exhibition}:
				</div>
				<div class="campos">
					<input name="color" id="color" type="text" class="campo" size="7" maxlength="7" value="{$color}"/>
					&nbsp;<a href="#"  onclick="MM_openBrWindow('{$path}/includes/classes/color_picker.php?field=color','','width=215,height=350')"><img src="{$path}/app/themes/{$theme}/images/ico_cor.jpg" alt="{$smarty.config.Color_exhibition_alt}" width="18" height="18" border="0" align="absmiddle"></a>
				</div>
				<div class="clr"><!--  --></div>
				<div class="titulo">
					{$smarty.config.Be_together_with}:
				</div>
				<div class="campos">
					<select name="groupby" id="groupby" {$disabled}>
						{html_options values=$statusids output=$statusvals selected=$groupby}
					</select>
				</div>
				<input type="hidden" id="id" name="id" value="{$id}"/>
				<div id="buttonCadastrar">
					<input type='submit' name="submit" class="btn_cadastrar" value="{$smarty.config.Edit_btn}" onclick="send(); return false;" />
				</div>
				<br/>
			</form>
		</body>
</html>
