<table id="flexigrid2"></table>
{literal}
<script  src="{/literal}{$path}{literal}/includes/classes/ajax/widget_list.js"></script>
{/literal}

<div id="modalWidgetInsert" class="window" style="width:570px;"><!-- --></div>
<div id="modalWidgetEdit" class="window" style="width:570px;"><!-- --></div>
<div id="modalWidgetDisable" class="window" style="width:400px;"><!-- --></div>
<div id="modalWidgetActive" class="window" style="width:400px;"><!-- --></div>
<div id="modalWidgetDelete" class="window" style="width:400px;"><!-- --></div>