<form action="javascript:;" method="post" id="formAreaInsert" name="form1">
    <div class="modalHeader">
		<h2>{$smarty.config.Area_insert}</h2>
		<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
	</div>
	<div class="modalContent">
		<div class="clearfix">
			<ul class="lstForm clearfix">
				<li>
					<ul>
						<li class="info">
							<label for="areaName">{$smarty.config.Area_name}:</label>
						</li>
						<li class="field ">
							<input name="areaName" id="areaName" type="text" class="w240" maxlength="150" />
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="defaultArea">{$smarty.config.Default}:</label>
						</li>
						<li class="field w300">
							<input name="defaultArea" type="checkbox" id="defaultArea" value="1"/>
							<label for="defaultArea">{$smarty.config.Default_text}</label>
						</li>
					</ul>
				</li>
			</ul>
			
			<div id="lstAreas" class="mb15" style="width: 100%; max-height: 300px; overflow: auto;">
				{$areas}
			</div>
			
		</div>
	</div>
	<div class="modalFooter">
		<div class="clearfix">
			<ul class="lst-btn">
				<li class="last">
					<input type='submit' name="submit" id="btnSendAreaInsert" class="btnOrange tp1" value="{$smarty.config.Record_btn}" />						
				</li>
			</ul>
		</div>
	</div>
</form>