<form action="javascript:;" method="post" id="formItemInsert" name="form1">
    <div class="modalHeader">
		<h2>{$smarty.config.Item_insert}</h2>
		<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
	</div>
	<div class="modalContent">
		<div class="clearfix">
			<ul class="lstForm clearfix">
				<li>
					<ul>
						<li class="info">
							<label for="itemName">{$smarty.config.Item_name}:</label>
						</li>
						<li class="field ">
							<input name="itemName" id="itemName" type="text" class="w240" maxlength="150" />
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="availableItem">{$smarty.config.Available}:</label>
						</li>
						<li class="field w300">
							<input name="availableItem" type="checkbox" id="availableItem" checked="checked" value="A"/>
							<label for="availableItem">{$smarty.config.Available_text}</label>
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="defaultItem">{$smarty.config.Default}:</label>
						</li>
						<li class="field w300">
							<input name="defaultItem" type="checkbox" id="defaultItem" value="1"/>
							<label for="defaultItem">{$smarty.config.Default_text}</label>
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="classificationItem">{$smarty.config.Classification}:</label>
						</li>
						<li class="field w300">
							<input name="classificationItem" type="checkbox" id="classificationItem" value="1"/>
							<label for="classificationItem">{$smarty.config.Classification_text}</label>
						</li>
					</ul>
				</li>
			</ul>			
		</div>
	</div>
	<div class="modalFooter">
		<div class="clearfix">
			<ul class="lst-btn">
				<li class="last">
					<input type="hidden" id="id" name="id" value="{$id}"/>
					<input type='submit' name="submit" id="btnSendItemInsert" class="btnOrange tp1" value="{$smarty.config.Record_btn}" />						
				</li>
			</ul>
		</div>
	</div>
</form>