/** remove bottom divider from grid header*/
.pq-grid>.pq-grid-top {
    border-width: 0;
    border-style: solid;
    margin-top: -1px;
    position: relative;
}
/** stylizes grid header*/
table.pq-grid-header-table {
    table-layout: fixed;
    width: 0;
    border-spacing: 0;
    border-collapse: separate;
    margin-bottom: -1px;
    background-color: #f8ac59;
}

.pq-grid {
    font-size: 11px;
}

.pq-grid-header-table>tbody>tr>.pq-grid-col {
    line-height: 0.5;
    vertical-align: middle;
}

.pq-grid-table>tbody>tr>.pq-grid-cell {
    line-height: 0.8;
    vertical-align: middle;
}