body {
	font: 62.5% Georgia, "Times New Roman", Times, serif;
	color:#036;
	}
table {
	border-collapse: collapse;
	border-top:2px solid #069;
	border-bottom:10px solid #4690b5;
	}
caption { 
	text-align: left;
	font: bold 1.6em Arial, Helvetica, sans-serif;	
	color: #069;
	padding-left: 100px;
	line-height: 1.8em;
	height: 1.8em;
	background: #fff6e3 url(icon-2.png) no-repeat 15px;
	}
tr td, tr th {
	padding: 5px 10px;
	font-size: 1.1em; /* ajusta o tamanho de fonte nas células da tabela */
	border-bottom:1px solid #ffdf9e;
	}     
tbody tr td {
	padding-left: 26px;
	background: url(bullet.png) no-repeat 5px;
	}
thead tr th {
	padding-left: 26px;
	background-repeat: no-repeat;
	background-position: 6px;
	}
th.hora {
	background-image: url(icon-hora.gif);
	}
th.classe {
	background-image: url(icon-classe.gif);
	}
th.tarifa {
	background-image: url(icon-tarifa.gif);
	}
th.frequencia {
	background-image: url(icon-frequencia.gif);
	}
tr th {
	font: small-caps bold 1.4em Arial, Helvetica, sans-serif;
	color: #069;
	}
tfoot tr td {
	text-align: center;
	}
th[scope=row] {
	background: url(bullet-row.gif) no-repeat 0 1px;
	}
/* Estilos CSS2.1 e CSS3 para navegadores standards */  
tr:hover {
	background: #000;
	color: #ccb;
	}
caption:hover:after {
	content: "Conforto, rapidez e segurança";
	font-weight: normal;
	padding: 0.2em 0.5em; 
	background: #333;
	color: #ff0;
	}
tbody tr td:last-child {
	background: #eee;
	}

/*tbody tr td:not(:last-child) {
	background: #eee;
	}*/