.clearfix:before, .clearfix:after {content: "";display:table;}
.clearfix:after {clear:both;}
.clearfix {zoom: 1;}
label{cursor:pointer;}
.loading{cursor:progress !important;}
.m0{margin:0 !important;}
.mt0{margin-top: 0px !important;}
.mt7{margin-top: 7px !important;}
.mt10{margin-top: 10px !important;}
.mt15{margin-top: 15px !important;}
.mt20{margin-top: 20px !important;}
.mb10{margin-bottom: 10px !important;}
.mb15{margin-bottom: 15px !important;}
.mb5{margin-bottom: 5px !important;}
.mb0{margin-bottom: 0 !important;}
.mtb10{margin: 10px 0 !important;}
.mr5{margin-right: 5px !important;}
.mr15{margin-right: 15px !important;}
.mr20{margin-right: 20px !important;}
.ml0{margin-left: 0px !important;}
.ml5{margin-left: 5px !important;}
.ml10{margin-left: 10px !important;}
.ml20{margin-left: 20px !important;}
.ml66{margin-left: 66px !important;}
.p0{padding: 0 !important;}
.pr0{padding-right: 0 !important;}
.pt0{padding-top: 0 !important;}
.pb0{padding-bottom: 0 !important;}
.p10{padding: 10px;}
.pl10{padding-left: 10px !important;}
.ptb10{padding: 10px 0;}
.pt10{padding-top: 10px !important;}
.fr{float: right !important;}
.fl{float: left !important;}
.clr{clear: both !important;}
.no-clr{clear: none !important;}
.none{display: none;}
.none_i{display: none !important;}
.alignCenter{text-align: center !important;}
.alignLeft{text-align: left !important;}
.block{display: block !important;}
.h18{height: 18px !important;}
.wAuto{width: auto !important;}
.w20{width: 20px !important;}
.w30{width: 30px !important;}
.w40{width: 40px !important;}
.w50{width: 50px !important;}
.w70{width: 70px !important;}
.w74{width: 74px !important;}
.w80{width: 80px !important;}
.w80p{width: 80% !important;}
.w100{width: 100px !important;}
.w110{width: 110px !important;}
.w111{width: 111px !important;}
.w128{width: 128px !important;}
.w150{width: 150px !important;}
.w180{width: 180px !important;}
.w200{width: 200px !important;}
.w240{width: 240px !important;}
.w300{width: 300px !important;}
.w340{width: 340px !important;}
.w400{width: 400px !important;}
.w440{width: 440px !important;}
.w450{width: 450px !important;}
.w500{width: 500px !important;}
.w550{width: 550px !important;}
.w600{width: 600px !important;}
.w650{width: 650px !important;}
.w680{width: 680px !important;}
.w700{width: 700px !important;}
.w725{width: 740px !important;}
.w780{width: 780px !important;}
.w100p{width: 100% !important;}
.top15{top: 15% !important;}
.bb1{border-bottom: 1px solid #cccccc !important;}
.b0{border: 0 !important;}
/* MODAL */

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#CCC;
  display:none;
  width: 100%;
  height: 100%;
}
  
.window {
  background-color: #FFFFFF;
  position:absolute;  
  min-height:50px;
  display:none;
  z-index:9999;
}

.window .modalHeader{
	width: 100%;
	display: inline-block;
}

.window .modalHeader h2{
	font-size: 14px;
	font-weight: bold;
}



.window .modalPrintContent{
	margin: 20px;
}



.window h2{
    font-size: 16px;
	font-weight: normal;
	float: left;	
}

.window .btnCloseModal{
    float: right;
	display: block;	
}

.modalPrint .modalPrintContent{
	max-height: 400px;
	overflow-y: scroll;
}


/* FIM MODAL */

@media print {
  body * {
    visibility:hidden;
  }
  
  .btnPrintModal{
  	display: none;
  }
  
  .modalPrint, .modalPrint * {
    visibility:visible;
  }
  .modalPrint {
    position:absolute;
    left:0 !important;
    top:0 !important;
  }
  
  .modalPrint .modalPrintContent{
		max-height: 100%;
		overflow-y:auto;
	}
}
