<div id="modalProgramConfirm" class="window" style="width:450px;">
	<form action="javascript:;" method="post">
	    <div class="modalHeader">
			<h2>{$smarty.config.Notification}</h2>
			<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
		</div>
		<div class="modalContent">
			<div class="clearfix">
				<p>{$smarty.config.Confirm_manage_perm}</p>	
			</div>
		</div>
		<div class="modalFooter">
			<div class="clearfix">
				<ul class="lst-btn">
					<li class="last">
						<a href="javascript:;" class="btnOrange tp1" id="btnProgramYes">{$smarty.config.Yes}</a>
						<a href="javascript:;" class="closeModal btnOrange tp1">{$smarty.config.No}</a>
					</li>
				</ul>
			</div>
		</div>
	</form>	
</div>