<form action="javascript:;" method="post" id="formEmailEdit" name="form1">
    <div class="modalHeader">
		<h2>{$smarty.config.Form_Title}</h2>
		<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
	</div>
	<div class="modalContent">
		<div class="clearfix">
			<ul class="lstForm clearfix">
				<li>
					<ul>
						<li class="info">
							<label for="name">{$smarty.config.Subject}:</label>
						</li>
						<li class="field ">
							<input name="name" type="text" size="50" class="w240" id="name" value="{$tempsubject}">
						</li>
					</ul>
				</li>
			</ul>
			
			<div class="fl mr20">
                <textarea id="description2" name="description2" class="ckeditor" data-height="307" data-width="450" wrap="virtual"> 
                    {$description} 
                </textarea> 
			</div>
			
			 <div class="fl">
                <div id="Layer1" style="position:relative; width:450; height:100%; z-index:1; overflow: auto;">
                    {include file="email_vars.tpl.html"}
                </div>
            </div>
			
		</div>
	</div>
	<div class="modalFooter">
		<div class="clearfix">
			<ul class="lst-btn">
				<li class="last">
					<input type="hidden" id="id" name="id" value="{$id}"/>
					<input type='submit' name="submit" id="btnSendEmailEdit" class="btnOrange tp1" value="{$smarty.config.Save}" />						
				</li>
			</ul>
		</div>
	</div>
</form>