<form action="javascript:;" method="post" id="formQuestionInsert" name="form1">
    <div class="modalHeader">
		<h2>{$smarty.config.Insert_question}</h2>
		<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
	</div>
	<div class="modalContent">
		<div class="clearfix">
			<ul class="lstForm clearfix">
				<li>
					<ul>
						<li class="info">
							<label for="question">{$smarty.config.Question}:</label>
						</li>
						<li class="field ">
							<input name="question" id="question" type="text" class="w240" maxlength="250" />
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="modalFooter">
		<div class="clearfix">
			<ul class="lst-btn">
				<li class="last">
					<input type='submit' name="submit" id="btnSendQuestion" class="btnOrange tp1" value="{$smarty.config.Record_btn}" />						
				</li>
			</ul>
		</div>
	</div>
</form>