<form action="javascript:;" method="post">
    <div class="modalHeader">
		<h2>{$smarty.config.btn_close}</h2>
		<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
	</div>
	<div class="modalContent">
		<div class="clearfix">
			<div class="notification info mb0">
				<p>{$smarty.config.Confirm_close}</p>
			</div>
			{if $SES_REQUEST_ADDINFO == 1}
			<ul class="lstForm clearfix mt10">
				<li>
					<ul>
						<li class="info wAuto ml20">
							<label for="addInfo">{$smarty.config.Additional_information}:</label>
						</li>
						<li class="field">
							<select name="addInfo" id="addInfo" class="w200">
								<option value="0">{$smarty.config.Select}</option>
								{html_options values=$addinfovalue output=$addinfofield}
							</select>
						</li>
					</ul>
				</li>
			</ul>
			{/if}
			<input type="hidden" value="{$code}" name="code"/>
		</div>
	</div>
	<div class="modalFooter">
		<div class="clearfix">
			<ul class="lst-btn">
				<li class="last">
					<input type='submit' name="submit" id="btnSendClose" class="btnOrange tp1" value="{$smarty.config.Yes}" />
					<a href="javascript:;" class="closeModal btnOrange tp1">{$smarty.config.Cancel_btn}</a>
				</li>
			</ul>
		</div>
	</div>
</form>