{literal}
	<script>
		$(document).ready(function() {
	
        	$("#form_calendar").validate({
        		wrapper: "li class='error'",            		
        		errorPlacement: function(error, element) {
					error.appendTo(element.parent().parent());
				},
			  	rules: {
			    	startdate: {
			      		required: true,
			      		hdDate: true
			    	},
			    	enddate: {
			      		required: true,
			      		hdDate: true
			    	},
					starthour: "required hdTime",
			    	endhour: {
			      		required: true,
			      		hdTime: true
			    	},
			    	time: {
			      		required: true,
			      		number: true
			    	}					
					
			 	}
			});
		
			objDefault.init();
			$('#calendar_contents').hide() ;
			$('#rem_opt').hide() ;
			$('#notif').hide() ;
			$('#loader').hide() ;

			$('#reminder').change(function() {
			  $('#rem_opt').slideDown();
			});
			
			$(document.getElementById('form_calendar_login')).submit(function(){
				$('#login_password').hide();
				$('#loader').show();
				
				if ($('#credentials').is(":checked"))
				{
					// it is checked
					var remember = 1 ;
				} 
				else
				{
					var remember = 0 ;
				}	
				
				$.post("{/literal}{$path}{literal}/helpdezk/operator/modalGoogleCalendar", 
					{
						GoogleType: 'Auth', 
						login:$('input#login').val(),
						password:$('input#password').val(),
						credentials:remember
					}
					,
					function(data){
						$('#loader').hide() ;
						$('#calendar_contents').slideDown(function(){
							objModal.refreshPosition("modalGoogleCalendar");
						});
						//console.log(data.success) ;
						if(data.success){
							$.each(data.message, function(key, val) {
								$('#cal_options').append('<option value='+ val.calendar_id + '>' + val.calendar_title + '</option>' );
							});
						} else {
							objDefault.notification("error",aLang['Google_Failure'].replace(/\"/g, "") + ": "+ data.message,"modalGoogleCalendarLogin");					    	
						}	

					}, 
					"json"
				)
			});
			
			$(document.getElementById('modalGoogleCalendarLogin')).find('#form_calendar').live("submit",function(){
				$('#calendar_contents').hide() ;
				$('#loader').show();		
				$.ajax({
					type: "POST",
					dataType: "json",
					url: "{/literal}{$path}{literal}/helpdezk/operator/modalGoogleCalendar",
					data: $('#form_calendar').serialize(), 
					error: function (data) {
						objDefault.notification("error",aLang['Alert_failure'].replace (/\"/g, ""),"modalGoogleCalendarLogin");
					},
					success: function(data) { 
						if(data.success){
							objDefault.notification("success",aLang['Alert_inserted'].replace (/\"/g, ""),"modalGoogleCalendarLogin");
						} else {
							objDefault.notification("error",aLang['Google_Failure'].replace(/\"/g, "") + ": "+ data.message,"modalGoogleCalendarLogin");					    	
						}	
					}
				});	
			});

			$(document.getElementById('addGuest')).click(function(){
				var email = $('input#guest').val(),
					$tblGuests = $(document.getElementById("tblGuests"));
					
				if(!$.trim(email).length) {
					$('input#guest').focus(); 
					exit;
				}
				if($tblGuests.hasClass('none')){
					$tblGuests.removeClass("none");
				}
				$('input#guest').val('');
				$(document.getElementById("tblGuests")).find("tbody").append("<tr><td>"+email+"</td><td><a href='javascript:;' class='btnDelete-tp1'>Delete</a><input type='hidden' id='emailGuest' name='emailGuest[]' value='"+email+"'/></td></tr>");				
				$('#notif').show() ;
				$('input#guest').focus();
				objModal.refreshPosition("modalGoogleCalendar"); 
			});
			
			$(document.getElementById("tblGuests")).find('.btnDelete-tp1').live("click",function(){
				var $tblGuests = $(document.getElementById("tblGuests"));
				$(this).parents("tr").remove();
				if($tblGuests.find("tr").length == 0) $tblGuests.addClass("none");
				objModal.refreshPosition("modalGoogleCalendar");
			})
			
		});
	</script>  	
{/literal}



	
	
	<!---------------------------->
	<input type="hidden" name="GoogleType" value="Send" />
    <div class="modalHeader">
		<h2>Google Calendar</h2>
		<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
	</div>
	<div class="modalContent">
		<div class="clearfix">
			<div id="loader"> <img src="{$path}/app/themes/{$theme}/images/loading_laranja.gif" /> </div>
			
			<form id="form_calendar_login" action="javascript:;" method="post">
				<div id="login_password">
					<ul class="lstForm clearfix">
						<!-- Login -->
						<li>
							<ul>
								<li class="info">
									<label for="login">{$smarty.config.Login}:</label>
								</li>
								<li class="field">					
									<input name="login" id="login" type="text" class="w240"  maxlength="40" value="{$login}"/>
								</li>
							</ul>
						</li>
						<!--       -->
						<!-- Password -->
						<li>
							<ul>
								<li class="info">  
									<label for="password">{$smarty.config.Password}:</label>
								</li>
								<li class="field">					
									<input name="password" id="password" type="password" class="w240" maxlength="40" value="{$password}"/>
								</li>
							</ul>
						</li>
						<!--         -->
						{$remember}
					</ul>	
					<div class="modalFooter">
						<div class="clearfix">
							<ul class="lst-btn">
								<li class="last">
									<input type='submit' name="submit" id="btnSendGoogleAuth" class="btnOrange tp1" value="{$smarty.config.Send}" />
								</li>
							</ul>
						</div>
					</div>
				</div>			
			</form>
			<form id="form_calendar" action="javascript:;" method="post">
				<!-- Value of guests emails -->
				<div id="hidd"> </div>
				<!---------------------------->
				<input type="hidden" name="GoogleType" value="Send" />
				<input type="hidden" name="GoogleLogin" value="{$login}" />
				<input type="hidden" name="GooglePassword" value="{$password}" />
				<div id="calendar_contents">
					<ul class="lstForm clearfix">

						<li>
							<ul>
								<li class="info">
									<label for="reminder">{$smarty.config.Google_Calendar}:</label>
								</li>
								<li class="field">
									<select name="cal_options" class="w240" id="cal_options">
									</select>
								</li>
							</ul>
						</li>

						<li>
							<ul>
								<li class="info">
									<label for="namenatural">{$smarty.config.Subject}:</label>
								</li>
								<li class="field">					
									<input name="subject" value="{$subject}" id="subject" type="text" class="w240" maxlength="150"/>
								</li>
							</ul>
						</li>
						<!--  Start -->
						<li>
							<ul>
								<li class="info" > 
									<label for="startdate">{$smarty.config.Google_Start}:</label>
								</li>
						
								<li class="fields" >
									<input type="text" id="startdate" name="startdate"  class="mask" data-format="99/99/9999" style="width:60px;" size="8" maxlength="10" /> 
									<input type="text" id="starthour"  class="campo mask" data-format="99:99"  style="width:30px;" name="starthour"  size="3" maxlength="5" />
									<img src="{$path}/app/themes/orange/images/ico_calendario.gif" width="20" height="15" class="calendar" data-prev="startdate" align="absmiddle" id="f_date_startdate" style="cursor: pointer; " title="Escolha a data"/>										
								</li>
							</ul>
						</li>
						<!--      -->
						<!--  End -->
						<li>
							<ul>
								<li class="info" > 
									<label for="enddate">{$smarty.config.Google_End}:</label>
								</li>
						
								<li class="fields" >
									<input type="text" id="enddate" name="enddate"  class="mask" data-format="99/99/9999" style="width:60px;" size="8" maxlength="10" /> 
									<input type="text" id="endhour"  class="campo mask" data-format="99:99"  style="width:30px;" name="endhour"  size="3" maxlength="5" />
									<img src="{$path}/app/themes/orange/images/ico_calendario.gif" width="20" height="15" class="calendar" data-prev="enddate" align="absmiddle" id="f_date_enddate" style="cursor: pointer; " title="Escolha a data"/>
								</li>
							</ul>
						</li>
						<!--      -->
						
						<!-- where -->
						<li>
							<ul>
								<li class="info">
									<label for="where">{$smarty.config.Google_Where}:</label>
								</li>
								<li class="field">					
									<input name="where" id="where" type="text" class="w240" maxlength="150"/>
								</li>
							</ul>
						</li>					
						<!--       -->
						<!-- Description -->
						<li>
							<ul>
								<li class="info">
									<label for="description">{$smarty.config.Google_description}:</label>
								</li>
								<li class="field">	
									<TEXTAREA name="description" id="description" COLS=25 ROWS=8 class="w240" ></textarea>	
									
								</li>
							</ul>
						</li>					
						<!--            -->
						<!-- Invite -->
						<li>
							<ul>
								<li class="info">
									<label for="guest">{$smarty.config.Google_Guests}:</label>
								</li>
								<li class="field">					
									<input name="guest" id="guest" type="text" class="w200" maxlength="150"/>
									<a href="javascript:;" class="btnOrange tp1 min" id="addGuest">+</a>
								</li>
							</ul>
						</li>					
						<li>
							<ul>
								<li class="field">					
									<table id='tblGuests' class='tab-services pop none' width='40%' border='0' cellpadding='0' cellspacing='0'>
										<colgroup>
											<col width='95%'/>
											<col width='5%'/>				
										</colgroup>
										<tbody>
											<!-- -->
										</tbody>
									</table>				

								</li>
							</ul>
						</li>					
						<!-- Send notification -->
						<div id="notif">
							<li>
								<ul>
									<li class="info">
										<label for="description">{$smarty.config.Google_Notification}:</label>
									</li>
									<li class="field">	
										<input type="checkbox" name="notification" value="send"> {$smarty.config.Google_SendNotification}<br>
										
									</li>
								</ul>
							</li>					
						</div>
						<!--   <input type="checkbox" name="option1" value="Milk"> Milk<br>    -->

						<!-- Privacy  -->	
						<li>
							<ul>
								<li class="info">
									<label for="privacy">{$smarty.config.Google_Privacy}:</label>
								</li>
								<li class="field">
									<input type="radio" name="selPrivacy" id="url" value="Pri" checked /> <label for="privcacy">{$smarty.config.Google_Private}</label>
								</li>						
								<li class="field mr15">
									<input type="radio" name="selPrivacy" id="privacy" value="Pub" /> <label for="privacy">{$smarty.config.Google_Public}</label>
								</li>
								<li class="field mr15">
									<input type="radio" name="selPrivacy" id="privacy" value="Def" /> <label for="privacy">{$smarty.config.Google_Default}</label>
								</li>
								
							</ul>
						</li>

						<!-- Reminder -->
						<li>
							<ul>
								<li class="info">
									<label for="reminder">{$smarty.config.Google_Reminder}:</label>
								</li>
								<li class="field">
									<select name="reminder" class="w240" id="reminder">
										<option value="">{$smarty.config.Google_Choose_Reminder}</option>
										<option value="email">{$smarty.config.Google_email}</option>
										<option value="popup">{$smarty.config.Google_popup}</option>
									</select>
								</li>
							</ul>
						</li>
						<!-- Reminder Options -->
						<div id="rem_opt">
							<li>
								<ul>
									<li class="info">
										<label for="reminder">{$smarty.config.Google_Reminder}:</label>
									</li>
									<li class="field">
										<input name="time" id="time" type="text" class="w40"  maxlength="2" value="15"/> 
										&nbsp;
										<select name="rem_type" class="w90" id="rem_type">
											<option value="min" selected>{$smarty.config.Google_minutes}</option>
											<option value="hou">{$smarty.config.Google_hours}</option>
											<option value="day">{$smarty.config.Google_days}</option>
										</select>
									</li>
								</ul>
							</li>
						</div>
						<!--                  -->	
					</ul>	
					<div class="modalFooter">
						<div class="clearfix">
							<ul class="lst-btn">
								<li class="last">
									<input type='submit' name="submit" id="btnSendGoogleCalendar" class="btnOrange tp1" value="{$smarty.config.Send}" />
								</li>
							</ul>
						</div>
					</div>						
				</div>
			</form>				
		</div>
	</div>