{literal}
        <script>
            $(document).ready(function() {
                objDefault.init();
            });

            $(document.getElementById('form_google2fa')).submit(function(){
                //alert('here:'+$('#secret').val());
                //alert('here:'+$('#idperson').val());
                //alert('aqui'+hdk_url) ;
                //objDefault.notificationReload("success",aLang['google2FA_write_token_OK'].replace (/\"/g, ""),"modalGoogle2fa");

                $.post("{/literal}{$path}{literal}/helpdezk/google2fa/insertToken",
                        {
                            idperson: $('#idperson').val(),
                            secret:   $('#secret').val()
                        },
                        function(data){
                            console.log(data) ;
                            if (data){
                                objDefault.notificationRedirect("success",aLang['google2FA_write_token_OK'].replace (/\"/g, ""),"modalGoogle2fa", "home/logout");
                            }
                            else{
                                objDefault.notification("error",aLang['google2FA_write_token_Error'].replace (/\"/g, ""),"modalGoogle2fa");
                            }
                        }).complete(function(){
                            //alert('aquiiii') ;
                });

            });

            function logout(){
                url = "home/logout";
                $( location ).attr("href", url);
            }

        </script>
{/literal}
<div id="modalGoogle2fa" >
<form id="form_google2fa" action="javascript:;" method="post">
    <div class="modalHeader">
		<h2>{$smarty.config.btn_close}</h2>
		<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
	</div>
	<div class="modalContent">
		<div class="clearfix">
			<div class="google2fa info mb0">
				<p>{$smarty.config.google2FA_description}</p>
			</div>

			<ul >
				<li>
					<ul>
						<li align="center">
                            <br>
                            <img src={$qrCodeUrl} align="center">
                            <br>
						</li>
					</ul>
				</li>
			</ul>

			<input type="hidden" value="{$idperson}" id="idperson"/>
            <input type="hidden" value="{$secret}"   id="secret"/>
		</div>
	</div>
	<div class="modalFooter">
		<div class="clearfix">
			<ul class="lst-btn">
				<li class="last">
					<input type='submit' name="submit" id="btnSendClose" class="btnOrange tp1" value="{$smarty.config.google2FA_write_token}" />
					<a href="#" onclick="logout();" class="closeModal btnOrange tp1">{$smarty.config.Cancel_btn}</a>
				</li>
			</ul>
		</div>
	</div>

</form>
</div>
