{literal}
	<script>
		$(document.getElementById('modalWay')).find('form').live("submit",function(){
			var $self = $(this),
				$btn = $self.find(document.getElementById('btnSaveWay')),
				$valWay = $self.find("#txtWay").val();
			$.ajax({
				type: "POST",
				url: "operator/modalSaveWay",
				data: $(this).serialize(),
				error: function (ret) {
					objDefault.notification("error",aLang['Alert_failure'].replace (/\"/g, ""),"modalWay");
				},
				success: function(ret) {
					if(ret){
						$("#way").append("<option value='"+ret+"' selected='selected'>"+$valWay+"</option>");
						objDefault.notification("success",aLang['Alert_inserted'].replace (/\"/g, ""),"modalWay");
					}
					else
						objDefault.notification("error",aLang['Alert_failure'].replace (/\"/g, ""),"modalWay");
				},
				beforeSend: function(){
					objDefault.buttonAction($btn,'disabled');
				},
				complete: function(){
					objDefault.buttonAction($btn,'enabled');
				}
			});	
		});
		
	</script> 
{/literal}
<form action="javascript:;" method="post" id="formAddWay" name="form1">
    <div class="modalHeader">
		<h2>{$smarty.config.Att_way_new}</h2>
		<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
	</div>
	<div class="modalContent">
		<div class="clearfix">
			<ul class="lstForm clearfix">
				<li>
					<ul>
						<li class="info">
							<label for="txtWay">{$smarty.config.Att_way}:</label>
						</li>
						<li class="field ">
							<input type="text" name="txtWay" class="w240" id="txtWay"/>
						</li>
					</ul>
				</li>
			</ul>			
		</div>
	</div>
	<div class="modalFooter">
		<div class="clearfix">
			<ul class="lst-btn">
				<li class="last">						
					<input type='submit' name="submit"  class="btnOrange tp1" id="btnSaveWay" value="{$smarty.config.Save}"/>
				</li>
			</ul>
		</div>
	</div>
</form>