{literal}
    <script>
        //var default_lang = "{/literal}{$lang_default}{literal}",
        //path = "{/literal}{$path}{literal}";
        //var hdk_url = "{/literal}{$hdk_url}{literal}";
        $(document).ready(function() {
            $(document.getElementById('formSystemUpdate')).submit(function(){
                var $self = $(this),
                    $btn = $self.find(document.getElementById('btnSystemUpdate'));
                $.ajax({
                    type: "POST",
                    url: "home/systemUpdateGoLive",
                    data: $(this).serialize(),
                    error: function (ret) {
                        objDefault.notification("error",aLang['Alert_failure'].replace (/\"/g, ""),"modalSystemUpdate");
                    },
                    success: function(ret) {
                        if(ret){
                            objDefault.notification("success",aLang['Alert_inserted'].replace (/\"/g, ""),"modalSystemUpdate");
                        }
                        else
                            objDefault.notification("error",aLang['Alert_failure'].replace (/\"/g, ""),"modalSystemUpdate");
                    },
                    beforeSend: function(){
                        objDefault.buttonAction($btn,'disabled');
                    },
                    complete: function(){
                        objDefault.buttonAction($btn,'enabled');
                    }
                });
            });

            $.getJSON( "http://helpdezk.org/releases/checkfirewall.php?jsoncallback=?", { name: "John", time: "2pm" } )
                    .done(function( json ) {
                        console.log (json);
                        if(json['return'] != 'OK') {
                            $( "#msg" ).append('<div class="notification error"><p>'+aLang['Update_Bad_Response'].replace (/\"/g, "")    +'</p></div>');
                        } else {
                            $("#modalSystemUpdate").find(".lstForm").removeClass("none");
                            $("#modalSystemUpdate").find(".modalFooter").removeClass("none");
                        }
                    })
                    .fail(function( jqxhr, textStatus, error ) {
                        var err = textStatus + ", " + error;
                        console.log( "Request Failed: " + err );
                        $( "#msg" ).append('<div class="notification error"><p>'+aLang['Update_Not_Connect'].replace (/\"/g, "")    +'</p></div>');
                    });
        });


    </script>
{/literal}
<form action="javascript:;" method="post" id="formSystemUpdate">
    <div class="modalHeader">
		<h2>{$smarty.config.System_update}</h2>
		<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
	</div>
	<div class="modalContent">
		<div class="clearfix">

            <ul class="lstForm clearfix ">
                <li>
                        <li class="info">
                            <div id="msg"></div>
                        </li>

                </li>
            </ul>

            <ul class="lstForm clearfix none">
                <li>
                    <ul>
                        <li class="info">
                            <label for="nameEdit">{$smarty.config.Update_Last_Version}:</label>
                        </li>
                        <li class="field ">
                            <p>{$last_version}</p>

                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li class="info">
                            <label for="nameEdit">{$smarty.config.Update_Instaled_Version}:</label>
                        </li>
                        <li class="field ">
                            <p>{$instaled_version}</p>

                        </li>
                    </ul>
                </li>
            </ul>


        </div>
	</div>
	<div class="modalFooter none">
		<div class="clearfix">
			<ul class="lst-btn">
				<li class="last">				
					<input type='submit' name="submit" id="btnSystemUpdate" class="btnOrange tp1" value="{$smarty.config.Update}" />						
				</li>
			</ul>
		</div>
	</div>
</form>