<div class="row">
    <div class="footer">                    
        <div class="float-start">
            <strong>Copyright</strong> Pipegrep &copy; 2018-{date('Y')}
        </div>
        <div class="float-end">
            <strong>{$version}</strong>
        </div>
    </div>
</div>