<!doctype html>
<html lang="{$lang}">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>{block title}{/block}</title>
	
	<!-- bootstrap -->
	<link href="{$path}/public/assets/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<script src="{$path}/public/assets/css/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- helpdezk theme -->
	<link href="{$path}/public/assets/css/{!isset($theme) ? $_ENV['THEME'] : $theme}.css" rel="stylesheet">
	<link href="{$path}/public/assets/css/animate.css" rel="stylesheet">

	<!-- fontawesome -->
	<link rel="stylesheet" href="{$path}/public/assets/css/fontawesome/css/all.css" rel="stylesheet" />
	
	<!-- jquery -->
	<script src="{$path}/public/assets/js/jquery/jquery-3.6.0.min.js"></script>

	<!-- js -->
	<script src="{$path}/public/assets/js/default.js"></script>

	<style type="text/css">

		/* ============ desktop view ============ */
		@media all and (min-width: 992px) {

			.dropdown-menu li{
				position: relative;
			}
			.dropdown-menu .submenu{ 
				display: none;
				position: absolute;
				left:100%; top:-7px;
			}
			.dropdown-menu .submenu-left{ 
				right:100%; left:auto;
			}

			.dropdown-menu > li:hover{ background-color: #f1f1f1 }
			.dropdown-menu > li:hover > .submenu{
				display: block;
			}
		}	
		/* ============ desktop view .end// ============ */

		/* ============ small devices ============ */
		@media (max-width: 991px) {

		.dropdown-menu .dropdown-menu{
				margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
		}

		}	
		/* ============ small devices .end// ============ */

	</style>

	<script type="text/javascript">
		var default_lang   = "{$lang_default}",
			path           = "{$path}",
			timesession    = '{$timesession}',
			id_mask        = '{$id_mask}',
			ein_mask       = '{$ein_mask}',
			zip_mask       = '{$zip_mask}',
			phone_mask     = '{$phone_mask}',
			cellphone_mask = '{$cellphone_mask}',
			demoVersion    = '{$demoVersion}';
	</script>

</head>

{block content}{/block}

</html>