<!doctype html>
<html lang="{$lang}">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>{block title}{/block}</title>
	
	<!-- bootstrap -->
	<link href="{$path}/public/assets/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<script src="{$path}/public/assets/css/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- helpdezk theme -->
	<link href="{$path}/public/assets/css/{!isset($theme) ? $_ENV['THEME'] : $theme}.css" rel="stylesheet">
	<link href="{$path}/public/assets/css/animate.css" rel="stylesheet">

	<!-- fontawesome -->
	<link rel="stylesheet" href="{$path}/public/assets/css/fontawesome/css/all.css" rel="stylesheet" />
	
	<!-- jquery -->
	<script src="{$path}/public/assets/js/jquery/jquery-3.6.0.min.js"></script>

	<!-- js -->
	<script src="{$path}/public/assets/js/default.js"></script>

</head>

{block content}{/block}

</html>