* { margin:0; padding:0; }
html {
    /*overflow-x:hidden; */ /*Esconde barra de rolagem */
}


body {
    width:100%;
    height:100%;
    position:absolute;
    background-color: #fff ;

}
#site {
    width:98%;
    /*height:1000px;*/
    margin-left:-49%;
    position:absolute;
    left:50%;
    padding-bottom:10px;
}
#centro {
    width:98%;
    margin-left:-49%;
    /*background-color:#FFF;*/
    padding-top:10px;
    padding-bottom:10px;
    position:relative;
    left:50%;
}

#header {
    /*border: 1px dashed #000;*/
    width:100%;
    height:50px;
    text-align:center;
    background-color: #eee ;
    position:relative;	
    border-top: 1px solid #ddd;
    background:url(imagens/bg-header4.jpg) repeat-x ;	
}


#main {
    /*border: 1px dashed #000;*/
    width:99.90%;
    height:auto;
    min-height: 500px;    
    text-align:center;
    overflow: auto;
    background-color: #E9E9E9 ;
    border-left: 1px solid #FF951F;
    border-right: 1px solid #FF951F;
}

#menutreeview{
    /*border: 1px dashed #cc9933;*/
    width:15%;
    height:100%;
    min-height: 500px;
    background-color: #E9E9E9;

    float:left;
}
#content {
    /*border: 1px dashed #000;*/
    width:84.8%;
    height:auto;
    min-height: 500px;     
    background-color: #E9E9E9 ;
    float: left;        
    border-left: 1px dashed #bbb;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
#content2 {
    /*border: 1px dashed #000;*/
    width:100%;
    height:auto;
    min-height: 500px;     
    background-color: #E9E9E9;
    float: left;        
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}


#footer {
    /*border: 1px dashed #000;*/
    clear:both;
    width:99.9%;
    height:30px;     
    text-align:center;
    background-color: #E9E9E9 ;
    border-top: 1px dashed #bbb;
    padding-top: 13px;
    position:  relative;
    border-left: 1px solid #FF951F;    
    border-right: 1px solid #FF951F;
    border-bottom: 1px solid #FF951F;
    background:url(imagens/bg-footer.jpg) repeat-x ;	
}

#boxusuario{    
    width: 200px;    
    height:15px;    
    text-align: right;
    position:absolute;
    /**margin-left:0px;*/
    top:30%;
    right:20px;

}
#boxlogoff{    
    width: 180px;    
    height:15px;
    text-align: right;
    line-height: 1.2;
    position:absolute;
    /**margin-left:0px;*/
    top:60%;
    right:20px;
}
#boxlogo{    
    width: 163px;
    height:41px;
    position:absolute;
    /**margin-left:0px;*/
    top:20%;
    left:20px;

}

.mt7{margin-top: 7px !important;}
.mt15{margin-top: 15px !important;}
.mt20{margin-top: 20px !important;}
.mtb10{margin: 10px 0;}
.mr5{margin-right: 5px;}
.ml10{margin-left: 10px;}
.ml66{margin-left: 66px;}
.fr{float: right !important;}
.fl{float: left !important;}
.clr{clear: both !important;}
.no-clr{clear: none !important;}
.none{display: none;}
.w500{width: 500px !important;}
.w550{width: 550px !important;}
.w600{width: 600px !important;}


/* TELA DE SERVICES */
.tab-services a:link, .tab-services a:visited {
    text-decoration: none;
    color: #000000;
}
.tab-services a:hover {
    text-decoration: underline;
    color: #000000;
}
.tab-services a:active {
    text-decoration: none;
    color: #000000;
}

.tab-services {
    border-collapse: collapse;
    border-top: 0px;
    border-bottom: 0px;
}

.tab-services tr td,.tab-services tr th {
    padding: 5px 10px;
    font-size: 12px;
    border-bottom: 1px solid #ffdf9e;
}
.tab-services tbody tr td {
    font-size: 11px;
    background: url(bullet.png) no-repeat 5px;
}
.tab-services thead tr th {
    padding-left: 26px;
    background-repeat: no-repeat;
    background-position: 6px;
}
.tab-services tr th {
    font: small-caps bold Arial, Helvetica, sans-serif;
    color: #ff6600
}
.tab-services tfoot tr td {
    text-align: center;
}
.tab-services th[scope=row] {
    background: url(bullet-row.gif) no-repeat 0 1px;
}
/* Estilos CSS2.1 e CSS3 para navegadores standards */
.tab-services tr:hover {
    color: #ff6600;
}
.tab-services tbody tr td:last-child {
    background: #eee;
}           
#type {
    float: left;
    margin-right: 50px;
}
#items {
    float: left;
    margin-right: 50px;
}
#services {
    float: left;
}           

.lst-tp1{
    padding: 0 0 0 15px;
    list-style: none;
}
.lst-tp1 li{
    padding-bottom: 3px;
}

/* FIM TELA DE SERVICES */

/* NOVO PADRAO DOS MODAIS */
#pop {
    z-index: 10;
    background-color: #EEEEEE;
    display: none;
    position: absolute;
    top: 30%;
    *top: 35%;
    left: 30%;
    border: 1px solid #000000;
    width: 450px;
    *width: 1024px;
    margin-left: 0;
    margin-top: 0;
    height: auto;
}

#popperm {
    z-index: 10;
    background-color: #EEEEEE;
    display: none;
    position: absolute;
    top: 30%;
    *top: 35%;
    left: 30%;
    border: 1px solid #000000;
    width: 450px;
    *width: 1024px;
    margin-left: 0;
    margin-top: 0;
    height: auto;
}

.pop-tp2 {
    z-index: 10;
    background-color: #EEEEEE;
    display: none;
    position: absolute;
    top: 30%;
    left: 30%;
    border: 1px solid #000000;
    width: 450px;
    margin-left: 0;
    margin-top: 0;
    height: auto;
}
/* FIM NOVO PADRAO DOS MODAIS */


/* PADRAO FORMULARIO */



.titulo{
    float: left;
    margin: 5px 10px 0 0;
    text-align: right;
    width: 140px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    clear: both;
}

.titulo-tp2{
    background-color:#DDDDDD;
    width: 118px;
    height: 17px;
    float: left;
    margin: 5px 3px 0 10px ;
    padding: 3px 0 0 2px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 11px;
    clear: both;
}

#loginmessage {
    height: 20px;
    float: left;
    margin-left: 2px;
    margin-top: 5px;
}

.campos{
    float:left;     
    margin-top:5px;
}

.campos input[type=text],
.campos input[type=password],
 .legenda input[type=text]{
    border: solid 1px #CCCCCC;
    height: 18px;
}

.campos input[type=checkbox]{
    margin-right: 5px;
}

.campos select{
    width: 200px;
    height: 18px;
}

.legenda{
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: normal;
    margin-left: 2px;
    margin-top: 5px;
    font-size: 11px;
}

.operacoes{clear: both; text-align: center; margin-top: 20px; font-weight: bold; font-size: 12px; float: left; width: 100%;}
.operacoes-campos{float: left; width: 100%; text-align: center; margin-top: 10px;}

#buttonCadastrar {
    width: 100%;
    text-align: center;
    float: left;
    margin: 10px 0;
}

/* FIM PADRAO FORMULARIO */
#smallHeader {
    background: url("imagens/bg-header4.jpg") repeat-x scroll 0 0 transparent;
    height: 29px;
    *height: 40px;
    line-height: 19px;
    padding-top: 10px;
    position: relative;
    width: 100%;
}
#buttonClose{    
    width: 19px;    
    height:19px;
    text-align: right;
    line-height: 1.2;
    position:absolute;
    top:10px;
    right:10px;

}

.attendants, .services {
    height: 380px;
    width: auto;
    border: 1px solid;
    border-color: #cccccc;
    margin-right: 10px;
}
.attendants td, .services td {
    font-size: 12px;
    font-family: Verdana;
    font-weight: normal;
}

.btnVoltar{float: right; margin-right: 10px;}

#groups #nav {
    width: 100%;
    list-style: none;
    float: left;
    font: 0.8em Verdana, Arial, Helvetica, sans-serif;
    background: #ddd;
    margin-bottom: 5px;
}
#groups #nav li {
    float: left;
}
#groups #nav li a {
    display: block;
    text-decoration: none;
    margin-right: 2px;
    color: #000;
    padding: 0.25em 0.5em 0.25em 0.75em;
    background: #ddd;
}
#groups #nav li a:hover {
    background: #ccc;
}           
#groups #content3 {
    width: auto;
}

.tab-tp1 {
    border-collapse: collapse;
    border-top: 2px solid #336699;
    border-bottom: 2px solid #ff6600;
    margin: 5px 0;
}
.tab-tp1 tr td, .tab-tp1 tr th {
    padding: 5px 10px;
    font-size: 12px;
    border-bottom: 1px solid #ffdf9e;
}
.tab-tp1 tbody tr td {
    padding-left: 26px;
    background: url(bullet.png) no-repeat 5px;
}
.tab-tp1 thead tr th {
    padding-left: 26px;
    background-repeat: no-repeat;
    background-position: 6px;
}
.tab-tp1 tr th {
    font: small-caps bold 14px Arial, Helvetica, sans-serif;
    color: #ff6600
}
.tab-tp1 tfoot tr td {
    text-align: center;
}
.tab-tp1 th[scope=row] {
    background: url(bullet-row.gif) no-repeat 0 1px;
}
/* Estilos CSS2.1 e CSS3 para navegadores standards */
.tab-tp1 tr:hover {
    color: #ff6600;
}
.tab-tp1 tbody tr td:last-child {
    background: #eee;
}

.box-tp1 {
    width: 500px;               
    margin-left: 20px;
}

#accordion h3 {
    padding: 0;
    border: 1px solid #000;
    cursor: pointer;
    height: 25px;
    padding: 5px 0 0 10px;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    background: url(imagens/bg-header4.jpg) repeat-x;
}
#accordion h3 a {
    color: #000;
    font-size: 12px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
#accordion ul {
    border: solid 1px #000000;
    padding: 15px 0 15px 15px;
    list-style: none;
}               
#accordion ul input[type=checkbox]{
    margin: 2px 5px 0 0;
}

.texto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #000;    
}
.texto_12{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #000;    
}
.text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #000;    
}
.texto a{
    text-decoration: none;
    color: #000;
}

.textoRodape{

    color: #FF6600;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}

.textomenu{
    color: #000;
    font-family: Arial;
    font-size: 11px;      
}

.textomenu a {
    color: #000;    
}

.btn_cadastrar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: none;
    border: 1px solid #888888;
    background: #fd961f;
    background: -webkit-linear-gradient(top, #f1e0c6, #fd961f);
    background: -moz-linear-gradient(top, #f1e0c6, #fd961f);
    background: -ms-linear-gradient(top, #f1e0c6, #fd961f);
    background: -o-linear-gradient(top, #f1e0c6, #fd961f);
    cursor: hand;
}


/* LGOOS */

.minHeader {
    background: url("imagens/bg-header4.jpg") repeat-x scroll 0 -18px transparent;
     width:100%;
    text-align: center;
}


#panel{
    margin-top: 5px;
    margin-left: 5px;
    border: 1px solid #000;
    width: 600px;
    height: auto;
}

#panel .box{
    width: 599px;
    float: left;        
    border: 1px solid #000000;
    border-top: 0;
}

#panel .box .title,
#panel .box .logo,
#panel .box .btn{
    float: left !important;
    padding: 20px 0 20px 20px;
}

#panel .box .title{
    width: 130px;
}
#panel .box .logo{
    width: 310px;   
}

#panel .box .boxInt{
    float: left;
    padding-left: 20px;
}
/* //LOGOS */

.btnAtivo{
    background-color: #FEC075 !important;
}
.btnInativo{
    background-color: #E9E9E9 !important;
}

/* CSS DO CHECKBOX DA TELA DE CONFIGURAÇÕES */
.slideThree {
	width: 80px;
	height: 26px;
	background: #333;
	margin: 20px auto;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideThree:after {
	content: 'OFF';
	font: 12px/26px Arial, sans-serif;
	color: #000;
	position: absolute;
	right: 10px;
	z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slideThree:before {
	content: 'ON';
	font: 12px/26px Arial, sans-serif;
	color: #00bf00;
	position: absolute;
	left: 10px;
	z-index: 0;
	font-weight: bold;
}

.slideThree label {
	display: block;
	width: 34px;
	height: 20px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideThree input[type=checkbox]:checked + label {
	left: 43px;
}
