body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

strong{font-weight: bold;}

body{
	background: #e5e5e5;
	font-family: "Arial";
}

.wrapper{
	width: 1000px;
	margin: 0 auto;
}

.wrapper2{
	width: 230px;
	margin: 0 auto;
}

#header{
	height: 140px;
	background: #eeebeb; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeebeb 13%, #bbbbbb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(13%,#eeebeb), color-stop(100%,#bbbbbb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeebeb 13%,#bbbbbb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeebeb 13%,#bbbbbb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeebeb 13%,#bbbbbb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeebeb 13%,#bbbbbb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeebeb', endColorstr='#bbbbbb',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: -1px 2px 8px rgba(100, 91, 91, 0.65);
	-moz-box-shadow:    -1px 2px 8px rgba(100, 91, 91, 0.65);
	box-shadow:         -1px 2px 8px rgba(100, 91, 91, 0.65);
}

#header .box-01 {display: table;height: 140px;#position: relative;overflow: hidden;}
#footer .box-01.site {display: table;height: 70px;#position: relative;overflow: hidden; float:right;}
#footer .box-01.version {display: table;height: 70px;#position: relative;overflow: hidden; float:left;}
#footer .box-02, #header .box-02 {#position: absolute;#top: 50%;display: table-cell;vertical-align: middle;}
#footer .box-03, #header .box-03 {#position: relative;#top: -50%}

.content{
	margin-top: 50px;
	
}

.boxAvisos, .boxLogin, .boxDemo{
	background: url(images/textura-box.jpg) repeat;
	border: solid 1px #c9c9c9;
	border-radius: 8px;
	padding: 20px;
	min-height: 225px;
}

.boxAvisos{
	float: left;
	width: 660px;
	min-height: 245px;
	padding: 0 20px 20px 20px;
}

.boxLogin{
	float: right;
	width: 230px;
}

.boxDemo{
	width: 117px;
	position: absolute;
	min-height: 61px;
	right: 50px;
	top: 120px;
}
.boxDemo span{
	display: block;
	font-size: 12px;
}

.title{
	background: url(images/title.png) no-repeat;
	width: 184px;
	position: relative;
	top: -10px;
	left: 40px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	padding: 12px 0;
	text-transform: uppercase;
}

.boxAvisos table, .boxAvisos table a{
	color: #666666;
	font-size: 13px;
}

.boxAvisos table{
	width: 100%;
}

.boxAvisos table a{
	text-decoration: none;
}

.boxAvisos table th{
	font-weight: bold;
	padding: 8px 0;
}

.boxAvisos table tbody td{
	border-top: solid 1px #666666;
	padding: 8px 0;
}

.boxLogin label{
	display: block;
	font-size: 16px;
	font-weight: bold;
	text-transform:uppercase;
	color: #666666;
	margin-bottom: 10px;
}

.boxLogin input[type=text],.boxLogin input[type=password]{
	width: 100%;
	height: 40px;
	padding: 0 15px;
	font-size: 14px;
	color: #444444;
	background: #d3d3d3;
	border-radius: 5px;
	border: none;
	-webkit-box-shadow: inset 1px 2px 10px -3px rgba(0,0,0,0.654), 1px 4px 10px -3px rgba(255,255,255,1);
	-moz-box-shadow: inset 1px 2px 10px -3px rgba(0,0,0,0.654), 1px 4px 10px -3px rgba(255,255,255,1);
	box-shadow: inset 1px 2px 10px -3px rgba(0,0,0,0.654), 1px 4px 10px -3px rgba(255,255,255,1);
	outline: none;
	margin-bottom: 10px;
}

.ie9 .boxLogin input[type=text], .ie9 .boxLogin input[type=password]{
	width: 200px;
}

.ie8 .boxLogin input[type=text], .ie8 .boxLogin input[type=password],
.ie7 .boxLogin input[type=text], .ie7 .boxLogin input[type=password]{
	width: 190px;
	padding: 10px 20px;
	height: 20px;
}

.boxLogin input[type=password]{
	margin-bottom: 5px;
}

.boxLogin .lnkSenha, .lnkHD{
	float: right;
	margin-bottom: 10px;
	font-size: 11px;
	text-decoration: none;
	color: #666666;
	transition: color .1s ease-in-out;
   	-moz-transition: color .1s ease-in-out;
   	-webkit-transition: color .1s ease-in-out;
}

.boxLogin .lnkSenha:hover, .lnkHD:hover{
	color: #fb851e;
}

.boxLogin input[type=submit]{
	background: url(images/btn-login.png) no-repeat;
	width: 230px;
	height: 43px;
	cursor: pointer;
	font-size: 14px;
	border: none;
	color: #FFFFFF;
	-webkit-box-shadow: 1px 1px 10px -3px rgba(0,0,0,0.8);
	-moz-box-shadow: 1px 1px 10px -3px rgba(0,0,0,0.8);
	box-shadow: 1px 1px 10px -3px rgba(0,0,0,0.8);
	opacity: 1;
   	transition: opacity .25s ease-in-out;
   	-moz-transition: opacity .25s ease-in-out;
   	-webkit-transition: opacity .25s ease-in-out;
}

.boxLogin input[type=submit]:hover{
	opacity: 0.8;
}

.boxLogin .error{
	color: #e82a2a;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 10px;
}

#footer{
	width: 100%;
	height: 70px;
	position: fixed;
	bottom: 0;
	background: #bbbbbb; /* Old browsers */
	background: -moz-linear-gradient(top,  #bbbbbb 0%, #d8d0d0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bbbbbb), color-stop(100%,#d8d0d0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bbbbbb 0%,#d8d0d0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bbbbbb 0%,#d8d0d0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bbbbbb 0%,#d8d0d0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #bbbbbb 0%,#d8d0d0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbbbbb', endColorstr='#d8d0d0',GradientType=0 ); /* IE6-9 */
}

.lnkHD, .version{
	font-size: 12px;
	color: #666666;
	margin-bottom: 0;
}

.ie8 .effect2:before, .ie8 .effect2:after{
	background: none !important;
}

.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.boxLogin.effect2:before, .boxLogin.effect2:after{
	bottom: 13px;
}

.boxLogin .loaderLogin{
	background: url(images/ajax-loader-login.gif) no-repeat;
	display: inline-block;
	text-indent: -9999px;
	width: 16px;
	height: 16px;
	position: absolute;
	bottom: 34px;
	right: 30;
	display: none;
}


/* MODAL */

.window .modalHeader {
    background: url("images/bg-header4.jpg") repeat-x scroll 0 0 transparent;
    height: 19px;
    line-height: 19px;
    padding: 10px 0;
}

.window .modalHeader h2{
	margin-left: 10px;
}

.window .modalHeader a{
	margin-right: 10px;
}

.window .modalContent{
	background: #EEEEEE;
	padding: 10px 0;
}

.window .modalContent > div{
	margin: 0 10px;
}

.window .modalFooter{
	background: #EEEEEE;
}

.window .modalFooter > div{
	border-top: solid 2px #888888;
	padding: 10px 0;
	margin: 0 10px;
}

.modalPrintHeader{
	margin-bottom: 15px;
	padding: 20px 20px 0 20px;
}

.modalPrintHeader img{
	margin-right: 20px;
}

.modalPrintHeader img, .modalPrintHeader .ttl{
	display: inline-block;
}

.modalPrintHeader .ttl h2{
	float: left;
	display: block;
	font-size: 16px;
	font-weight: bold;
}

.modalPrintHeader .ttl span{
	float: left;
	clear: both;
}

.window .btnCloseModal{
    background: url(images/ico_close_button.gif);
    height: 19px;
    width: 19px;
    display: inline-block;
    text-indent: -9999px;	
}

/* LIST FORM*/

.lstForm li{
	list-style: none;
}

.lstForm > li{
	min-height: 18px;
	line-height: 18px;
	margin-bottom: 10px;
}	

.lstForm li.last{
	margin-bottom: 0;
}

.lstForm ul li{
	float: left;
}

.lstForm ul .info{
	width: 100px;
	text-align: right;
	font-weight: bold;
	margin-right: 15px;
	font-size: 12px;
}

.lstForm input[type=text], .lstForm select, .lstForm textarea{
	font-size: 11px;
	border: solid 1px #888888;
	height: 18px;
}

.lstForm textarea{
	height: 80px;
	width: 300px;
}

.lstForm select{
	height: 20px;
}

/* // LIST FORM*/

/* BUTTON */

.lst-btn{
	float: right;
}
.lst-btn li{
	float: left;
	list-style: none;
	margin-right: 10px;
}

.lst-btn li.last{
	margin-right: 0;
}

.btnOrange{
	border: solid 1px #888888;
	padding: 5px 10px;
	text-shadow: 0px 1px #eeeddd;
	font: bold 10px Verdana,sans-serif;
	cursor: pointer;
	text-transform: uppercase;
	color: #000000;
	text-decoration: none;
}

.btnOrange.tp1{
	background: #ffdcb4; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffdcb4 0%, #ffb562 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdcb4), color-stop(100%,#ffb562)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffdcb4 0%,#ffb562 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffdcb4 0%,#ffb562 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffdcb4 0%,#ffb562 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffdcb4 0%,#ffb562 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdcb4', endColorstr='#ffb562',GradientType=0 ); /* IE6-9 */
	margin-left: 10px;
}

.btnOrange.tp1:hover{
	color: #000000;
	background: #ffb562; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffb562 0%, #ffdcb4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb562), color-stop(100%,#ffdcb4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffb562 0%,#ffdcb4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffb562 0%,#ffdcb4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffb562 0%,#ffdcb4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffb562 0%,#ffdcb4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb562', endColorstr='#ffdcb4',GradientType=0 ); /* IE6-9 */
}

.btnOrange[disabled=disabled].tp1:hover{
	background: #ffdcb4; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffdcb4 0%, #ffb562 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdcb4), color-stop(100%,#ffb562)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffdcb4 0%,#ffb562 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffdcb4 0%,#ffb562 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffdcb4 0%,#ffb562 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffdcb4 0%,#ffb562 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdcb4', endColorstr='#ffb562',GradientType=0 ); /* IE6-9 */
}

.btnOrange[disabled=disabled]{
	opacity: 0.5;
	filter: alpha(opacity = 50);
}
/* // MODAL */

/* NOTIFICATIONS */
.notification { 
	height: 51px; overflow: hidden; position: relative; margin-bottom: 20px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; 
	-moz-box-shadow: 1px 1px 2px #ddd;
	font-family: Arial,Helvetica,sans-serif;
}
.notification p { margin: 17px 10px 0 75px; font-size: 13px; color: #333; }
.notification.alert { border: 1px solid #eac572; background: #ffe9ad url(images/notifications.png) no-repeat 0 -52px; }
.notification.info { border: 1px solid #99c4ea; background: #d1e4f3 url(images/notifications.png) no-repeat 0 -156px; }
.notification.success { border: 1px solid #c1d779; background: #effeb9 url(images/notifications.png) no-repeat 0 -104px; }
.notification.error { border: 1px solid #e18b7c; background: #fad5cf url(images/notifications.png) no-repeat 0 0; }
/* NOTIFICATIONS */
.warningDesc{
	font-size: 12px;
}
.validDate{
	font-size: 10px;
}
