* { margin:0; padding:0; }
html {
    /*overflow-x:hidden; */ /*Esconde barra de rolagem */
}
img{
    border:0px;
}


body {
    width:100%;
    height:100%;
    position:absolute;
    background-color: #E9E9E9;
    font-family: Arial, Helvetica, sans-serif;

}

option[disabled=disabled]{
	background: #CCCCCC;
	color: #000000;
}

#header {
    width:100%;
    height:49px;
    text-align:center;
    background:url(images/bg-header4.jpg) repeat-x ;	
}


#main {
    text-align:center;
    background-color: #E9E9E9 ;
    border-left: 1px solid #FF951F;
    border-right: 1px solid #FF951F;
}

#menutreeview{
    width:15%;
    height:100%;

    background-color: #E9E9E9;

    float:left;
}
#content {
    width:84.8%;
    height:auto;
 
    background-color: #E9E9E9 ;
    float: left;        
    border-left: 1px dashed #bbb;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
#content2 {
    width:100%;
    height:auto;

    background-color: #E9E9E9;
    float: left;        
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#footer {
    clear:both;
    height:30px;     
    text-align:center;
    background-color: #E9E9E9 ;
    border-top: 1px dashed #bbb;
    padding-top: 13px;
    position:  relative;
    border-left: 1px solid #FF951F;    
    border-right: 1px solid #FF951F;
    border-bottom: 1px solid #FF951F;
    background:url(images/bg-footer.jpg) repeat-x ;	
}

#opbackbuton{        
    float: right;
    margin: 8px 15px 0 0;

}
#boxlogoff{    
    float: right;
    margin: 19px 15px 0 0;
    text-align: right;
}


#boxlogoff .btnLogout{
	background: url(images/logoff.png) 100% 1px no-repeat;
	padding-right: 15px;	
}

#boxlogo{    
    float: left;
    margin: 8px 0 0 15px;
}

#sessExpire{
	float: left;
    margin: 33px 20px 0 0;
}

.tab-vars{
    border: 1px solid #ccc;
}

.tab-vars td{
    border: 1px solid #ccc;
    cursor: pointer;
}

/* TELA DE SERVICES */
.tab-services a:link, .tab-services a:visited {
    text-decoration: none;
    color: #000000;
}
.tab-services a:hover {
    text-decoration: underline;
    color: #000000;
}
.tab-services a:active {
    text-decoration: none;
    color: #000000;
}

.tab-services {
    width: 250px;
    border: solid 1px #000;
}

.tab-services.pop{
    width: 100%;
}

.tab-services tr td,
.tab-services tr th {
    padding: 5px 10px;
    font-size: 12px;
    border: 0;
    border-bottom: solid 1px #ffdf9e;
}

.tab-services tr:last-child td{
	border-bottom: 0;
}

.tab-services tbody tr td {
    font-size: 11px;
}

.tab-services tr th {
    font: small-caps bold Arial, Helvetica, sans-serif;
    color: #ff6600;
    text-align: left;
}
.tab-services tfoot tr td {
    text-align: center;
}

/* Estilos CSS2.1 e CSS3 para navegadores standards */
.tab-services td:hover {
    color: #ff6600;
}
         
#type, #items, #services {
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: auto;
	max-height: 450px;
	max-width: 268px;
}

#type-view {
    float: left;
}
      

.lst-tp1{
    padding: 0 0 0 15px;
    list-style: none;
}
.lst-tp1 li{
    padding-bottom: 3px;
}

/* FIM TELA DE SERVICES */

/* NOVO PADRAO DOS MODAIS */
#pop {
    z-index: 10;
    background-color: #EEEEEE;
    display: none;
    position: absolute;
    top: 30%;    
    left: 30%;
    border: 1px solid #000000;
    width: 450px;
    margin-left: 0;
    margin-top: 0;
    height: auto;
}

#popperm {
    z-index: 10;
    background-color: #EEEEEE;
    display: none;
    position: absolute;
    top: 30%;
    *top: 35%;
    left: 30%;
    border: 1px solid #000000;
    width: 450px;
    *width: 1024px;
    margin-left: 0;
    margin-top: 0;
    height: auto;
}

.pop-tp2 {
    z-index: 10;
    background-color: #EEEEEE;
    display: none;
    position: absolute;
    top: 30%;
    left: 30%;
    border: 1px solid #000000;
    width: 450px;
    margin-left: 0;
    margin-top: 0;
    height: auto;
}

.pop-tp3 {  
    top: 15% !important;
    left: 15% !important;
    width: 961px !important;
}
/* FIM NOVO PADRAO DOS MODAIS */


/* PADRAO FORMULARIO */

.titulo{
    float: left;
    margin: 5px 10px 0 0;
    text-align: right;
    width: 140px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    clear: both;
}

.titulo-tp2{
    background-color:#DDDDDD;
    width: 118px;
    height: 17px;
    float: left;
    margin: 5px 3px 0 10px ;
    padding: 3px 0 0 2px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 11px;
    clear: both;
}

#loginmessage {
    height: 20px;
    float: left;
    margin-left: 2px;
    margin-top: 5px;
}

.campos{
    float:left;     
    margin-top:5px;
}

.campos input[type=text],
.campos input[type=password],
.legenda input[type=text]{
    border: solid 1px #CCCCCC;
    height: 20px;
}

.campos input[type=checkbox]{
    margin-right: 5px;
}

.campos select{
    width: 200px;
    height: 19px;
    !height: 20px;
    font-size: 11px;
}

.campos select.cmb-tp2{
    width: 240px;
    height: 18px;
    !height: 20px;
    font-size: 11px;
}

.legenda{
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: normal;
    margin-left: 2px;
    margin-top: 5px;
    font-size: 11px;
}

.operacoes{clear: both; text-align: center; margin-top: 20px; font-weight: bold; font-size: 12px; float: left; width: 100%;}
.operacoes-campos{float: left; width: 100%; text-align: center; margin-top: 10px;}

#buttonCadastrar {
    width: 100%;
    text-align: center;
    float: left;
    margin: 10px 0;
}

/* FIM PADRAO FORMULARIO */
#smallHeader {
    background: url("images/bg-header4.jpg") repeat-x scroll 0 0 transparent;
    height: 19px;
    line-height: 19px;
    padding: 10px 0;
    position: relative;
    width: 100%;
}
#buttonClose{    
    width: 19px;    
    height:19px;
    text-align: right;
    line-height: 1.2;
    position:absolute;
    top:10px;
    right:10px;
}

.attendants, .services {
    max-height: 300px;
    width: auto;
    border: 1px solid;
    border-color: #cccccc;
    padding: 10px;
    overflow: auto;
}
.attendants td, .services td {
    font-size: 12px;
    font-family: Verdana;
    font-weight: normal;
}

.btnVoltar{float: right; margin-right: 10px;}

#groups #nav {
    width: 100%;
    list-style: none;
    float: left;
    font: 0.8em Verdana, Arial, Helvetica, sans-serif;
    background: #ddd;
}
#groups #nav li {
    float: left;
}
#groups #nav li a {
    display: block;
    text-decoration: none;
    margin-right: 2px;
    padding: 0.25em 0.5em 0.25em 0.75em;
    background: #ddd;
    font-family: Arial, Helvetica, sans-serif; 
    color: #000;
    font-size: 14px;
}
#groups #nav li a:hover {
    background: #ccc;
}           
#groups #content3 {
    width: auto;
}

.tab-tp1 {
    border-collapse: collapse;
    border-top: 2px solid #336699;
    border-bottom: 2px solid #ff6600;
    margin: 5px 0;
}
.tab-tp1 tr td, .tab-tp1 tr th {
    padding: 5px 10px;
    font-size: 12px;
    border-bottom: 1px solid #ffdf9e;
}

.tab-tp1 tr th {
    font: small-caps bold 14px Arial, Helvetica, sans-serif;
    color: #ff6600
}
.tab-tp1 tfoot tr td {
    text-align: center;
}
.tab-tp1 th[scope=row] {
    background: url(bullet-row.gif) no-repeat 0 1px;
}
/* Estilos CSS2.1 e CSS3 para navegadores standards */
.tab-tp1 tr:hover {
    color: #ff6600;
}
.tab-tp1 tbody tr td:last-child {
    background: #eee;
}

.box-tp1 {
    width: 500px; 
    margin-left: 20px;
}

.box-tp2{
    width: 365px;
    float: left;
}

.box-tp3{
    width: 100%;
    display: block;
}

.br-tp1{
    border-right: solid 1px #999999;
}

#accordion h3 {
    padding: 0;
    border: 1px solid #000;
    cursor: pointer;
    height: 25px;
    padding: 5px 0 0 10px;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    background: url(images/bg-header4.jpg) repeat-x;
}
#accordion h3 a {
    color: #000;
    font-size: 12px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
#accordion ul {
    border: solid 1px #000000;
    padding: 15px 0 15px 15px;
    list-style: none;
}               
#accordion ul input[type=checkbox]{
    margin: 2px 5px 0 0;
}

.texto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #000;    
}
.texto_normal{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000;    
}
.texto_12{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #000;    
}
.texto_14{
    font-family: Arial, cursive;
    font-size: 14px;
    color: #000;    
}
.texto_16{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000;    
}
.text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #000;    
}
.texto a{
    text-decoration: none;
    color: #000;
}

.textoRodape{

    color: #FF6600;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}

.textomenu{
    color: #000;
    font-family: Arial;
    font-size: 11px;      
}

.textomenu a {
    color: #000;    
}

.textomenu a.on {
    color: #FF6600;    
}


.btn_cadastrar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding: 1px;
    text-decoration: none;
    border: 1px solid #888888;
    background: #fd961f;    
    text-shadow: 0px 1px #eeeddd;
    background: -webkit-linear-gradient(top, #f1e0c6, #fd961f);
    background: -moz-linear-gradient(top, #f1e0c6, #fd961f);
    background: -ms-linear-gradient(top, #f1e0c6, #fd961f);
    background: -o-linear-gradient(top, #f1e0c6, #fd961f);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e0c6', endColorstr='#fd961f',GradientType=0 );
    cursor: pointer;
}

.btn_edit_features {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding: 1px;
    text-decoration: none;
    border: 1px solid #888888;
    background: #333333;    
    text-shadow: 0px 1px #eeeddd;
    color: #D3DACB;
    cursor: pointer;
}

.btn_cadastrar_down {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: none;
    padding: 1px;
    text-shadow: 0px 1px #eee;
    border: 1px solid #888888;
    background: #fd961f;
    background: -webkit-linear-gradient(top, #f1e0c6, #fd961f);
    background: -moz-linear-gradient(top, #f1e0c6, #fd961f);
    background: -ms-linear-gradient(top, #f1e0c6, #fd961f);
    background: -o-linear-gradient(top, #f1e0c6, #fd961f);
    cursor: help;
}

.btn_cadastrar_disabled {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: none;
    border: 1px solid #888888;
    padding: 1px;
    text-shadow: 0px 1px #eee;
    background: #fd961f;
    background: -webkit-linear-gradient(top, #ccc, #FFF);
    background: -moz-linear-gradient(top, #ccc, #FFF);
    background: -ms-linear-gradient(top, #ccc, #FFF);
    background: -o-linear-gradient(top, #ccc, #FFF);
    cursor: not-allowed;
}

.download-table{
    background-color: #dddddd;
}

.ind-spec{
    border: 1px solid #000;
    margin: 10px 0 0 10px;
    max-height: 300px;
    min-width: 280px;
    width: auto;
    float: left;
    line-height: 15px;
    padding:5px;
}
.ind-spec img{margin-right: 10px}

/* LGOOS */

.minHeader {
    background: url("images/bg-header4.jpg") repeat-x scroll 0 -18px transparent;
     width:100%;
    text-align: center;
}


#panel{
    margin-top: 5px;
    margin-left: 5px;
    border: 1px solid #000;
    width: 600px;
    height: auto;
}

#panel .box{
    width: 599px;
    float: left;        
    border: 1px solid #000000;
    border-top: 0;
}

#panel .box .title,
#panel .box .logo,
#panel .box .btn{
    float: left !important;
    padding: 20px 0 20px 20px;
}

#panel .box .title{
    width: 130px;
}
#panel .box .logo{
    width: 310px;   
}

#panel .box .boxInt{
    float: left;
    padding-left: 20px;
}
/* //LOGOS */



/* USER HELPDEZK*/
#user #nav { 
    width: 100%;
    list-style: none;
    float:left;
    font: 0.8em Verdana, Arial, Helvetica, sans-serif;
    background: rgb(238,238,238); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkN2Q3ZDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(215,215,215,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(215,215,215,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(215,215,215,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(215,215,215,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(215,215,215,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(215,215,215,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#d7d7d7',GradientType=0 ); /* IE6-8 */
    
}
#user #nav li {float: left; padding: 7px; margin: 0 !important;}
#user #nav li a {
    display:block;
    text-decoration: none;
    color: #000000;
    font: normal 11px "Verdana", sans-serif;
    padding-top: 30px;
    min-width: 65px;
}
#user #nav li:hover, #user #nav li.active {
    background: rgb(214,214,214); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q2ZDZkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNWI1YjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(214,214,214,1) 0%, rgba(181,181,181,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,214,214,1)), color-stop(100%,rgba(181,181,181,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(181,181,181,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(181,181,181,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(181,181,181,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(214,214,214,1) 0%,rgba(181,181,181,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#b5b5b5',GradientType=0 ); /* IE6-8 */
}

#user #nav li.new-request a{background: url(images/add_icon_25.png) top center no-repeat;}
#user #nav li.my-requests a{background: url(images/atendente_25.png) top center no-repeat;}
#user #nav li.attendance a{background: url(images/atendimento_25.png) top center no-repeat;}
#user #nav li.queryrequest a{background: url(images/search_25.png) top center no-repeat;}
#user #nav li.downloads a{background: url(images/download_25.png) top center no-repeat;}
#user #nav li.warnings a{background: url(images/warning_25.png) top center no-repeat;}
#user #nav li.dashboard a{background: url(images/dashboard_25.png) top center no-repeat;}
#user #nav li.settings a{background: url(images/settings_25.png) top center no-repeat;} 
#user #nav li.home a{background: url(images/home.png) top center no-repeat;}
#user #nav li.knowledge a{background: url(images/knowledge_base_25.png) top center no-repeat;}  
#user #nav li.faq a{background: url(images/faq_25.png) top center no-repeat;}
#user #nav li.erp a{background: url(images/money_bag.png) top center no-repeat;}
#user #nav li.tms a{background: url(images/tms-para-site.png) top center no-repeat;}

#user #nav .title{margin-top: 5px;}
#user #nav .numWarning{background: #D90000;	color: #FFF; font-weight: bold; font-size: 8px;	position: absolute;	top: 20px;	padding: 1px 2px; border-radius: 3px; left: 44px; display: none;}

#content2 .box-int-content2{
    width: 900px;
    margin: 10px auto;
}
.box-int-content2 .head{
    float:left;
    width: 900px;
    margin-bottom: 10px;
    font-weight: bold;
}
.box-int-content2 .date{
    float: right;
}
.box-int-content2 .user{
    float: left;
}

 #boxinf{
    float:left;
    height: 230px;
    width: 556px;
    padding: 10px;
    border: 1px #000 solid;
    background-color: #ddd;
    text-align: center;
}

#boxinf .texto, #requestinfo .texto{
    font-size: 12px;
    text-align: left;
}

#boxinf .uptodate{
    border-bottom: 2px #fd961f solid;
    margin-bottom: 10px;
}
#Submitat{
    -moz-transition: border-color 0.2s ease 0s;
    border: none;
    color: #000000;
    font: bold 11px/17px Helvetica,Arial,sans-serif;
    text-shadow: 0 1px 0 #FFFFFF;
}
.atualizarInfo, .novasolicitacao{
    -moz-transition: border-color 0.2s ease 0s;
    border: none;
    color: #000000;
    font: bold 11px/17px Helvetica,Arial,sans-serif;
    text-shadow: 0 1px 0 #FFFFFF;
}
.btnRemoverFile{
    -moz-transition: border-color 0.2s ease 0s;
    border: none;
    color: #000000;
    font: bold 11px/17px Helvetica,Arial,sans-serif;
    text-shadow: 0 1px 0 #FFFFFF;
}
.atualizarInfo{
    height: 30px;
    width: 200px;
    margin: 15px 0;
    cursor: pointer;
}

.novasolicitacao{
    width: 100%;
    text-align: left;
    line-height: 50px;
    cursor: pointer;
}

.novasolicitacao img{
    float: left;
}
.novasolicitacao span{
    float: left;
    font-size: 20px;
    margin-left: 20px;
}

.gradiente{
    background: #feccb1; /* Old browsers */
    background: -moz-linear-gradient(top,  #feccb1 3%, #fd961f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#feccb1), color-stop(100%,#fd961f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #feccb1 3%,#fd961f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #feccb1 3%,#fd961f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #feccb1 3%,#fd961f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #feccb1 3%,#fd961f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fd961f',GradientType=0 ); /* IE6-9 */
}

.gradiente:hover{
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 49%, rgba(219,219,219,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(49%,rgba(241,241,241,1)), color-stop(100%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 49%,rgba(219,219,219,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 49%,rgba(219,219,219,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 49%,rgba(219,219,219,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 49%,rgba(219,219,219,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}

#operationBox{
    float:right;
    height: 230px;
    width: 280px;
    padding: 10px;
    border: 1px #000 solid;
    background-color: #ddd;
}
#requestinfo{
    height: 164px;    
    float: left;
    background-color: #ddd;
}

#requestinfo .requestsInfo{
    border-bottom: 2px solid #FD961F;
    float: left;
    margin: 10px 0 5px 0;
    width: 278px;
}

#requestinfo table {
    border-collapse: collapse;
    width: 100%;
}
#requestinfo tr td{
    font-size: 12px; /* ajusta o tamanho de fonte nas cรฉlulas da tabela */
    padding: 5px;
}

#requestinfo td.last{
    text-align: right;
    font-weight: bold;
}

#bottonpanel{
    float: left;
    margin: 20px 0;
    height: 137px;
    width: 900px;
    border: 1px #000 solid;
    background-color: #ddd;
}

/* MODAL SOLICITAÇÃO */

#modalNewRequest .boxLeft{
	float: left;
	width: 287px;
	margin-right: 10px;
}
#modalNewRequest .boxInfo, #modalNewRequest .boxAction{
	border: solid 1px #CCCCCC;
	padding: 10px 10px 0 10px;
}

#modalNewRequest .boxEquip fieldset, #modalNewRequest .boxAttac fieldset{
	border: solid 1px #CCCCCC;
}

#modalNewRequest .boxEquip fieldset legend, #modalNewRequest .boxAttac fieldset legend{
	font-weight: bold;
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
	margin-left: 10px;
	padding: 10px 5px;
}

#modalNewRequest .boxAttac fieldset legend{
	padding-top: 0;
}

#modalNewRequest .boxCenter {
	float: left;
	width: 470px;
	border: solid 1px #CCCCCC;
	margin-right: 10px;
	padding: 10px 10px 0 10px;
}

#modalNewRequest .boxRight{
	float: left;
	width: 287px;
}

#modalNewRequest .boxAction{
	margin-top: 10px;
}

#modalNewRequest .boxTimer{
	background: #FFFFFF;
	border: solid 1px #000000;
	width: 132px;
	margin: 0 auto;
	margin-top: 10px;
	padding: 15px;
}

#modalNewRequest .boxTimer .titleTimer{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
}
#modalNewRequest .boxTimer #open_time{
	border: solid 1px #29691D;
	background: #EEEBEB;
	font-size: 13px;
	font-family: Arial,Helvetica,sans-serif;
	padding: 3px 5px;
	width: 70px;
	text-align: center;
	display: inline;
}

#modalNewRequest .boxTimer .txtTimer{
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
	margin: 0 5px;
}

#modalNewRequest .boxTime{
	margin-top: 10px;
	width: 132px;
}

#modalNewRequest .boxAction .boxButtons{
	margin: 21px 0;
	text-align: center;	
}

#modalNewRequest .lstForm li.error{
	margin-left: 85px;
}

.btn-green, .btn-blue, .btn-red{
    border-radius: 5px;
    height: 23px;
    width: 175px;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn-green{
    background-color: #3B9000;
    border: solid 1px #29691D;
}

.btn-blue{
    background-color: #4A8CF6;
    border: solid 1px #3079ED;    
}

.btn-red{
    background-color: #D64937;
    border: solid 1px #DC4A38;
}

.btn-green:hover, .btn-blue:hover, .btn-red:hover{
    filter: alpha(opacity=85);
    opacity: 0.85;
    -moz-opacity: 0.85;
}
.btn-green span, .btn-blue span, .btn-red span{
    color: #FFFFFF;
    font: bold 11px Helvetica,Arial,sans-serif;
    margin:0 25px; 
}

/* CSS UPLOAD ANEXO */
 .texto-regular{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000;    
}
 #div-input-file{
    background:url(images/att.png) no-repeat 100% 0px;
    *background:url(images/att.png) no-repeat 100% 1px;
    height:23px !important;
    *height: 22px;
    width:250px;
    margin:0px;    
    margin-top:30px;
    *margin:0px;
    cursor:text;
}
#div-input-file #file{
    opacity: 0.0;
    -moz-opacity: 0.0;
    filter: alpha(opacity=00);
    font-size:18px;
    width:250px;
    height:24px; 
    z-index:2; 
    position:absolute;
    cursor:text;
}
#div-input-falso{    
    margin-top:-28px;
    *margin-top:-27px;
    cursor:text;
}
#div-input-falso #file-falso{
    width:210px;
    /*!width:190px;*/
    height:21px;
    font-size:11px;
    font-family: Verdana;
    margin-left:5px;
    position: absolute; 
    *margin-top:28px; 
    z-index:1; 
    cursor:text;
}
.campo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    width:180px;
}
 #Submitat{
    height: 22px;
    width: 210px;    
    margin-left:5px; 
    *margin-left:5px;
    margin-top:5px;
    *margin-top:5px;
}

#upload-anexo button{
    cursor: pointer;
}
/* FIM CSS UPLOAD ANEXO */
/* //MODAL SOLICITAÇÃO */

.tb-download {
    font-family: Arial;
    font-size: 12px;
}
.tb-download tr td{
    border: 1px solid #fd961f;
} 
.tb-download th{
    font-size: 14px;
    background: #fd961f;
    background: -webkit-linear-gradient(top, #f1e0c6, #fd961f);
    background: -moz-linear-gradient(top, #f1e0c6, #fd961f);
    background: -ms-linear-gradient(top, #f1e0c6, #fd961f);
    background: -o-linear-gradient(top, #f1e0c6, #fd961f);
}
a.file:link, a.file:visited {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 12px;
}
a.file:hover {
    text-decoration: underline; 
    color: #fd961f;
}
a.file:active {
    text-decoration: none
}

 a.group:link, a.group:visited {
    text-decoration: none;
    color: #061fa0;
    font-weight: bold;
}
a.group:hover {
    text-decoration: underline; 
    color: #000;
}
a.group:active {
    text-decoration: none
}

a.person:link, a.person:visited {
    text-decoration: none;
    color: #b56b2c;
    font-weight: bold;
}
a.person:hover {
    text-decoration: underline; 
    color: #000;
}
a.person:active {
    text-decoration: underline overline
}
a.subject{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
a.subject:hover {
    text-decoration: underline; 
    color: #4C4C4C;
}

.requestorder{
    margin-top:-2px;
    *margin-top:-5px;
    font-size: 10px;
    width: 1.8em;
}


/* REQUEST */
 .box-buttons{
    width: 100%;
    background-color: #cccccc;
    
}
.notes{
    width: 100%;
    background-color: #cccccc;
    padding: 10px 0;
    float: left;
    margin-bottom: 10px;
}

#times{
    background-color: #fefee4;
    margin-bottom: 10px;
    padding: 10px;
    float: left;
    font-size: 11px;
}

#times input[type=text]{
	border: solid 1px #CCC;
	height: 18px;
	margin-right: 15px;
	width: 60px;
}

#times label{
	margin-right: 5px;
}

#times strong{
	display: block;
	margin-bottom: 10px;
}

#times .clock{
	background: url(images/ico_timer.gif) no-repeat;
	width: 19px;
	height: 19px;
	text-indent: -9999px;
	display: inline-block;
	float: left;
}

#times .clock.active{
	background: url(images/ico_timer_on.gif) no-repeat;
}

a.attach:link, a.attach:visited{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
a.attach:hover {
    text-decoration: underline; 
    color: #4c4c4c;
}
a.attach:active {
    text-decoration: underline overline
}

/* //FIM REQUEST */

/* //FIM USER HELPDEZK*/

/* SUBMENU ATIVO NO FLEXGRID */
.tDiv .ativo{background-color: #FEC075 !important;}
/* //FIM SUBMENU ATIVO NO FLEXGRID */



/* CSS DO CHECKBOX DA TELA DE CONFIGURAÇÕES */
.slideThree {
	width: 56px;
	height: 16px;
	background: #333;
	margin: 5px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideThree:after {
	content: 'OFF';
	font: 8px/16px Arial, sans-serif;      
	*font: 6px/18px Arial, sans-serif;
	color: #ddd;
	position: absolute;
	right: 6px;
	z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(1,1,1,.15);
}

.slideThree:before {
	content: 'ON';
	font: 8px/16px Arial, sans-serif;        
	*font: 8px/18px Arial, sans-serif;
	/*color: #00bf00;*/
        color:#02D802;
	position: absolute;
	left: 6px;
	z-index: 0;
	font-weight: bold;
}

.slideThree label {
	display: block;
	width: 22px;
	height: 12px;        
	*height: 14px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 1.5px;
	left: 2px;
	z-index: 1;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;
        *background-color: #dddddd;
	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );*/
}

.slideThree input[type=checkbox]:checked + label {
	left: 32px;
}

.text_config{
    color: #eee;
    font: 20px Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0px 1px black;
    text-align: center;    
}

/*
input:hover{
     background-color: #919090;
     color: #fff;
}
input:focus{
     background-color: #919090;
     color: #fff;
}
radio:focus{
     background-color: #919090;
     color: #fff;
}
*/
#reportsbox{
    height: 300px;
    width: 500px;
    border: #000 solid 1px;
}

#searchuser{
    z-index: 11;
    background-color: #EEEEEE;
    display: none;
    position: absolute;
    top: 15%;    
    left: 20%;
    border: 1px solid #000000;
    width: 600px;
    margin-left: 0;
    margin-top: 0;
    height: auto;
}

/* POP REPASS */
#repassRequest #colrepass select{
    padding: 5px;
}
#repassRequest #colrepass2 select{
    padding: 5px;
}
#repassRequest #colabilities{
    margin-left: 10px;
    height: 213px;
    width: 275px;
    overflow: scroll;
}
#repassRequest #colabilities2{
    margin-left: 10px;
    height: 213px;
    width: 275px;
    overflow: scroll;
}
#repassRequest #titlerep {
    margin-bottom: 10px;
    display: block;
}
#repassRequest #titlerep2 {
    margin-bottom: 10px;
    display: block;
}
#repassRequest #repbuttons {
   margin: 1px 0 11px 10px;
   !margin-top: 1px;
}
#repassRequest #repbuttons2 {
   margin: 1px 0 11px 10px;
   !margin-top: 1px;
}
#repassRequest .radiorep label{
    font-weight: bold;
    cursor: pointer !important;
    margin-right: 10px;
}
#repassRequest .radiorep2 label{
    font-weight: bold;
    cursor: pointer !important;
    margin-right: 10px;
}

#repassRequest .radioGroup {
    float: left;
    margin-top: 10px;
}
#repassRequest .radioGroup2 {
    float: left;
    margin-top: 10px;
}
#repassRequest .radioGroup label{
    display: block;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000;   
}
#repassRequest .radioGroup2 label{
    display: block;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000;   
}

#repassRequest .radioGroup input[type=radio]{
    margin-right: 5px;
}
#repassRequest .radioGroup2 input[type=radio]{
    margin-right: 5px;
}

#repassRequest a.aboptions{
    background-color: #999999;
    color: #000;
    border: 1px #000 solid;
    text-decoration: none;
    padding: 0 10px;
}
#repassRequest a.aboptions2{
    background-color: #999999;
    color: #000;
    border: 1px #000 solid;
    text-decoration: none;
    padding: 0 10px;
}
#repassRequest a.groptions{
    background-color: #EEEEEE;
    color: #000;
    border: 1px #000 solid;
    text-decoration: none;
    padding: 0 10px;
}
#repassRequest a.groptions2{
    background-color: #EEEEEE;
    color: #000;
    border: 1px #000 solid;
    text-decoration: none;
    padding: 0 10px;
}

#repassRequest a.aboptions:hover, #repassRequest a.groptions:hover{
    background-color: #999999;
    color: #000;
    border: 1px #000 solid;
}
#repassRequest a.aboptions2:hover, #repassRequest a.groptions2:hover{
    background-color: #999999;
    color: #000;
    border: 1px #000 solid;
}
#contentRelease{
    font-weight: bold;
    text-align: center;
    margin: 23.5% 0;
}
#contentRelease2{
    font-weight:  bold; margin-top: 20%; margin-left: 23%;
}
/* // POP REPASS */

.arrowDep{
    margin-top: 15px !important;
    margin-right: 23px;
}

.lst-si{
	clear:both;
	margin: 15px 0;
	float: right;
}

.lst-si li{
	float: left;
	list-style: none;
}

.lst-si .btn-print, 
.lst-si .btn-save, 
.lst-si .btn-font-less, 
.lst-si .btn-font-more{
	background: url(images/btn-print.png);
	width: 32px;
	height: 32px;
	display: inline-block;
	text-indent: -9999px;	
}

.lst-si .btn-save{
	background: url(images/btn-save.png);
	margin-right: 20px;
}

.lst-si .btn-font-less{
	background: url(images/font_less.png);
	margin-right: 20px;
}

.lst-si .btn-font-more{
	background: url(images/font_more.png);
	margin-right: 20px;
}


/* MODAL */

.window .modalHeader {
    background: url("images/bg-header4.jpg") repeat-x scroll 0 0 transparent;
    height: 19px;
    line-height: 19px;
    padding: 10px 0;
    font-family: Arial,Helvetica,sans-serif;
}

.window .modalHeader h2{
	margin-left: 10px;
}

.window .modalHeader a{
	margin-right: 10px;
}

.window .modalContent{
	background: #EEEEEE;
	padding: 10px 0;
}

.window .modalContent > div{
	margin: 0 10px;
}

.window .modalFooter{
	background: #EEEEEE;
}

.window .modalFooter > div{
	border-top: solid 2px #888888;
	padding: 10px 0;
	margin: 0 10px;
}

.modalPrintHeader{
	margin-bottom: 15px;
	padding: 20px 20px 0 20px;
}

.modalPrintHeader img{
	margin-right: 20px;
}

.modalPrintHeader img, .modalPrintHeader .ttl{
	display: inline-block;
}

.modalPrintHeader .ttl h2{
	float: left;
	display: block;
	font-size: 16px;
	font-weight: bold;
}

.modalPrintHeader .ttl span{
	float: left;
	clear: both;
}

.window .btnCloseModal{
    background: url(images/ico_close_button.gif);
    height: 19px;
    width: 19px;
    display: inline-block;
    text-indent: -9999px;	
}

.btnPrintModal{
	position: absolute;
    left: 560px;	
    border-radius: 10px;
    text-decoration: none;
    background: #707070; /* Old browsers */
	background: -moz-linear-gradient(top,  #707070 0%, #515151 46%, #5b5b5b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#707070), color-stop(46%,#515151), color-stop(100%,#5b5b5b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #707070 0%,#515151 46%,#5b5b5b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #707070 0%,#515151 46%,#5b5b5b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #707070 0%,#515151 46%,#5b5b5b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #707070 0%,#515151 46%,#5b5b5b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#5b5b5b',GradientType=0 ); /* IE6-9 */   
}

.btnPrintModal span{
	background: url(images/btn-print.png) no-repeat;
	height: 34px;
	display: block;
	margin: 10px 20px;
	font: normal 14px Verdana,sans-serif;	
	color: #FFFFFF;
	padding-left: 40px;
	line-height: 31px;
	text-transform: uppercase;
}

.btnPrintModal:hover{
	background: #b2b2b2; /* Old browsers */
	background: -moz-linear-gradient(top,  #b2b2b2 0%, #8e8e8e 47%, #9b9b9b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2b2b2), color-stop(47%,#8e8e8e), color-stop(100%,#9b9b9b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b2b2b2 0%,#8e8e8e 47%,#9b9b9b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b2b2b2 0%,#8e8e8e 47%,#9b9b9b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b2b2b2 0%,#8e8e8e 47%,#9b9b9b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b2b2b2 0%,#8e8e8e 47%,#9b9b9b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2b2b2', endColorstr='#9b9b9b',GradientType=0 ); /* IE6-9 */

}

#mask .maskLoader{
	background: url("images/loading_laranja.gif") center 0 no-repeat;
	height: 32px;
	display: none;
	position: relative;
}

.window .loader{
	background: url("images/loading_laranja.gif") center 20px no-repeat #EEEEEE;
	width: 100%;
	height: 32px;
	padding: 20px 0;
	display: none;
}


/* // MODAL */

/* LIST TYPE FILE */

.lstTypeFile{
	margin-top: 15px;
}

.lstTypeFile li{
	float: left;
	list-style: none;
	margin-right: 15px;
}

.lstTypeFile li input{
	height: 48px;
}

.lstTypeFile input:hover, .lstTypeFile input:focus{
     background: none; 
}

.lstTypeFile li input, .lstTypeFile span{
	float:left;
}

.lstTypeFile .filePDF,
.lstTypeFile .fileXLS,
.lstTypeFile .fileCSV{
	display: inline-block;
	text-indent: -9999px;
	height: 48px;
	width: 48px;
	cursor: pointer;
}

.lstTypeFile .filePDF{
	background: url(images/file_pdf.png);
}

.lstTypeFile .fileXLS{
	background: url(images/file_xls.png);
}

.lstTypeFile .fileCSV{
	background: url(images/file_csv.png);
}


/* //LIST TYPE FILE */

/* LIST FORM*/
.lstForm{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
}

.lstForm li{
	list-style: none;
}

.lstForm > li{
	min-height: 20px;
	line-height: 18px;	
	clear: both;
}	

.lstForm li.last{
	margin-bottom: 0;
}

.lstForm ul li{
	float: left;
}

.lstForm ul .info{
	width: 120px;
	text-align: right;
	font-weight: bold;
	margin-right: 15px;
	margin-bottom: 10px;	
}

.lstForm ul .field{
	margin-bottom: 10px;
}

.lstForm ul .field_even{
    margin-bottom: 0px;
    line-height: 20px;
    background: #EEEEEE;
}
.lstForm ul .field_odd{
    margin-bottom: 0px;
    line-height: 20px;
    background: #E0E0E0;

}


.lstForm ul .leg{
	margin-left: 135px;
	margin-bottom: 10px;
	font-size: 11px;
}

.lstForm input[type=text],.lstForm input[type=password], .lstForm select, .lstForm textarea{
	font-size: 11px;
	border: solid 1px #888888;
	height: 18px;
}

.lstForm textarea{
	height: 80px;
	width: 300px;
}

.lstForm select{
	height: 20px;
}

.lstForm li.error{
	color:#D64937;
    clear: both;
    margin-bottom: 5px;
    margin-left: 135px;
}

.lstForm li.nivel1{
	clear: both;
	margin-left: 135px;
	margin-top: 5px;
}

.lstNewRequest ul .info{
	width: 75px;
	text-align: right;
	font-weight: normal;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 11px;	
}

.lstForm .selectList{
	width: 300px;
	height: 180px;
}

.overflowTabAbGp{
	overflow: auto;
	max-height: 180px;
	height: 180px;
	width: 330px;
	clear: both;
	border: solid 1px #000000;
}
/* // LIST FORM*/

/* BUTTON */

.lst-btn{
	float: right;
}
.lst-btn li{
	float: left;
	list-style: none;
	margin-right: 10px;
}

.lst-btn li.last{
	margin-right: 0;
}

.btnOrange{
	border: solid 1px #888888;
	padding: 5px 10px;
	text-shadow: 0px 1px #eeeddd;
	font: bold 10px Verdana,sans-serif;
	cursor: pointer;
	text-transform: uppercase;
	color: #000000;
	text-decoration: none;
}

.btnOrange.min{padding: 2px 5px;}

.btnOrange.tp1{
	background: #ffdcb4; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffdcb4 0%, #ffb562 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdcb4), color-stop(100%,#ffb562)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffdcb4 0%,#ffb562 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffdcb4 0%,#ffb562 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffdcb4 0%,#ffb562 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffdcb4 0%,#ffb562 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdcb4', endColorstr='#ffb562',GradientType=0 ); /* IE6-9 */
	margin-left: 10px;
}

.btnOrange.tp1:hover{
	color: #000000;
	background: #ffb562; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffb562 0%, #ffdcb4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb562), color-stop(100%,#ffdcb4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffb562 0%,#ffdcb4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffb562 0%,#ffdcb4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffb562 0%,#ffdcb4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffb562 0%,#ffdcb4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb562', endColorstr='#ffdcb4',GradientType=0 ); /* IE6-9 */

}

.btnOrange[disabled=disabled].tp1:hover{
	background: #ffdcb4; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffdcb4 0%, #ffb562 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdcb4), color-stop(100%,#ffb562)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffdcb4 0%,#ffb562 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffdcb4 0%,#ffb562 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffdcb4 0%,#ffb562 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffdcb4 0%,#ffb562 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdcb4', endColorstr='#ffb562',GradientType=0 ); /* IE6-9 */
}

.btnOrange[disabled=disabled], .btnOrange.off{
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

.headerlinks.btnSmall{
	margin: 5px 30px 5px 0;
}

.btnSmall > .btnOrange{
	padding: 1px 5px;
}

/* //BUTTON */

/* REPORTS */
.reports{
	margin: 10px;
	width: 530px;
}

.reports h2{
	font-size: 14px;
	margin-bottom: 15px;
}

.reports option, .reports select{
	text-transform: capitalize;
}

.tbReports th{
	background: #CCC;
	padding: 5px;
}

.tbReports td{
	padding: 3px 5px;
	background: #EEEEEE;
}

.tbReports .odd > td{
	background: #E0E0E0;
}

.tbReports .valor{
	text-align: right;
}
/* //REPORTS */

/* lst eval */
.lstEval li{
    float: left;
    margin-right: 10px;
    list-style: none;
}
.lstEval li img{
    margin: 0 5px;
}
/*/ lst eval/ */

.calendar{
	cursor: pointer;
}


/* NOTIFICATIONS */
.notification { 
	height: 51px; overflow: hidden; position: relative; margin-bottom: 20px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; 
	-moz-box-shadow: 1px 1px 2px #ddd;
	font-family: Arial,Helvetica,sans-serif;
}
.notification p { margin: 17px 10px 0 75px; font-size: 13px; color: #333; text-align: left;}
.notification.alert { border: 1px solid #eac572; background: #ffe9ad url(images/notifications.png) no-repeat 0 -52px; }
.notification.info { border: 1px solid #99c4ea; background: #d1e4f3 url(images/notifications.png) no-repeat 0 -156px; }
.notification.success { border: 1px solid #c1d779; background: #effeb9 url(images/notifications.png) no-repeat 0 -104px; }
.notification.error { border: 1px solid #e18b7c; background: #fad5cf url(images/notifications.png) no-repeat 0 0; }
/* NOTIFICATIONS */

.google2fa {
    height: 195px; overflow: hidden; position: relative; margin-bottom: 20px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
    -moz-box-shadow: 1px 1px 2px #ddd;
    font-family: Arial,Helvetica,sans-serif;
}
.google2fa p { margin: 17px 10px 0 75px; font-size: 13px; color: #333; text-align: left;}
.google2fa.info { border: 1px solid #99c4ea; background: #d1e4f3 url(images/notifications.png) no-repeat 0 -156px; }


.lnk-tp1{
	background: url(images/lnk_arrow.png) no-repeat 2px 2px;
	padding-left: 12px;
	color: #FF8000;
	font-size: 11px;
	text-decoration: none;
}

.lnk-tp2{
	color: #FF8000;
	text-decoration: none;
}

.lnk-tp1:hover, .lnk-tp2:hover{
	text-decoration: underline;
}

.rmv{
	font-weight: bold;
	color: #FF2222;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: 2px;
	text-decoration: none;
}


.loading-tp1{
	background: url(images/loading.gif) no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: -4px;
	margin-left: 5px;
}

/* LIST ICONS SELECT */
.listSelectIcon{
	position: absolute;
}

.listSelectIcon .lstIcon{
	max-height: 100px;
	width: 238px;
	overflow-y: scroll;
	border-right: solid 1px #CCCCCC;
	border-left: solid 1px #CCCCCC;
	border-bottom: solid 1px #CCCCCC;
	position: relative;
	top: 20px;
	z-index: 9999;
	display: none;
}
.listSelectIcon .lstIcon li{
	float: none !important;
	background: #FFFFFF;
	width: 221px;
	text-align: center;
	padding: 2px 0;
}

.listSelectIcon .lstIcon li:hover{
	background:#BBBBBB;
}

.listSelectIcon .lstIcon img{
	height: 18px;
	line-height: 18px;
}

.listSelectIcon .lstIcon a{
	display: block;
}

.listSelectIcon .layer{
	height: 20px;
    position: absolute;
    width: 240px;
    z-index: 9999;
    background: url(images/blank.png) no-repeat;    
}

.listSelectIcon select{
	position: absolute;
}

/* // LIST ICONS SELECT */

#content .loader, #content2 .loader{
	background: url("images/loading_laranja.gif") center center no-repeat;
	width: 100%;
}

.btnEdit-tp1{
	background: url(images/edit_2.png) no-repeat;
	display: inline-block;
	text-indent: -9999px;
	width: 18px;
	height: 18px;
}

.btnDelete-tp1{
	background: url(images/user_delete_18x18.png) no-repeat;
	display: inline-block;
	text-indent: -9999px;
	width: 18px;
	height: 18px;
}

.btnSearch-tp1{
	background: url(images/magnifier.png) no-repeat;
	display: inline-block;
	text-indent: -9999px;
	width: 16px;
	height: 16px;
}

.btnSearch-tp2{
	background: url(images/search_user_new_request.png) no-repeat;
	display: inline-block;
	text-indent: -9999px;
	width: 18px;
	height: 18px;
}

.btnAdd-tp1{
	background: url(images/ico_add_15.png) no-repeat;
	padding-left: 20px;	
}



.arrow{
	background: url(images/arrows.png) no-repeat;
	display: inline-block;
	text-indent: -9999px;
}

.arrow.up{
	width: 17px;
	height: 20px; 
	margin-bottom: 5px;
}

.arrow.down{
	background-position: 0 -30px;
	width: 17px;
	height: 20px; 
}

.arrow.right{
	background-position: -30px -33px;
	width: 20px;
	height: 17px; 
}

.arrow.left{
	background-position: -30px 0;
	width: 20px;
	height: 17px; 
}

.boxArrowLR{
	width: 45px;
	display: inline-block;
	position: relative;
	top: -65px;
	margin: 0 7px 0 10px;
}

.boxArrowUD{
	width: 23px;
	display: inline-block;
	position: relative;
	top: -55px;
	margin-left: 10px;
}

.notetable{
	width: 100%;
	background: #FFFFFF;
	border: solid 1px #CCCCCC;
	border-bottom: 0;
	margin-bottom: 15px;
}
.notetable td{
	 border-bottom: solid 1px #CCCCCC;
	 border-left: solid 1px #CCCCCC;
	 padding: 5px;
}

.notetable .block p{
	margin-left: 0 !important;
}

.notetable .block ul, .notetable .block ol{
	margin-left: 30px;
}

.lstOpeAux{list-style: none;}

.btnGoogleCalendar, .btn-print-tp2{
	background: url(images/btnGoogleCalendar2.png) no-repeat;
	height: 24px;
	width: 26px;
	display: inline-block;
	text-indent: -999999px;
	margin-left: 10px;	
}

.btn-print-tp2{
	background: url(images/btn-print-tp2.png);
	width: 24px;
}

.btnGoogleCalendar:hover, .btn-print-tp2:hover{
	opacity: 0.7;
}

.tbWorkDay input[type=text]{
	font-size: 11px;
	border: solid 1px #888888;
	height: 18px;
	width: 55px;
}
.tbWorkDay a{
	color: #FF6600;
	text-decoration: none;
}
.tbWorkDay a:hover{
	text-decoration: underline;
}
