<form action="javascript:;" method="post" id="formDepartmentInsert" name="form1">
    <div class="modalHeader">
		<h2>{$smarty.config.Department_insert}</h2>
		<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
	</div>
	<div class="modalContent">
		<div class="clearfix">
			<ul class="lstForm clearfix">				
				<li>
					<ul>
						<li class="info">
							<label for="companyDep">{$smarty.config.Company}:</label>
						</li>
						<li class="field ">
							<select class="w240" name="company" id="companyDep">
								<option value="">{$smarty.config.Select_company}</option>
								{html_options values=$corpsids output=$corpsvals}
							</select>
						</li>
					</ul>
				</li>
				<li class="none">
					<ul>
						<li class="info">
							<label for="nameDepartment">{$smarty.config.Department_name}:</label>
						</li>
						<li class="field mt15">
							<input name="name" id="nameDepartment" type="text" class="w240" maxlength="120" />
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="modalFooter">
		<div class="clearfix">
			<ul class="lst-btn">
				<li class="last">
					<input type='submit' name="submit" id="btnSendDepartment" class="btnOrange tp1" value="{$smarty.config.Record_btn}" />						
				</li>
			</ul>
		</div>
	</div>
</form>