<form action="javascript:;" method="post" id="formCategoryInsert">
    <div class="modalHeader">
		<h2>{$smarty.config.Category_insert}</h2>
		<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
	</div>
	<div class="modalContent">
		<div class="clearfix">
			<ul class="lstForm clearfix">
				<li>
					<ul>
						<li class="info">
							<label for="name">{$smarty.config.Category_name}:</label>
						</li>
						<li class="field">
							<input name="name" id="name" type="text" class="w200" maxlength="30" />
						</li>
					</ul>
				</li>
			</ul>			
		</div>
	</div>
	<div class="modalFooter">
		<div class="clearfix">
			<ul class="lst-btn">
				<li class="last">				
					<input type='submit' name="submit" id="btnSendCategoryInsert" class="btnOrange tp1" value="{$smarty.config.Record_btn}" />						
				</li>
			</ul>
		</div>
	</div>
</form>