<form action="javascript:;" method="post" id="formGroupsEdit">
    <div class="modalHeader">
		<h2>{$smarty.config.Group_edit}</h2>
		<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
	</div>
	<div class="modalContent">
		<div class="clearfix">
			<ul class="lstForm clearfix">
				<li>
					<ul>
						<li class="info">
							<label for="nameEdit">{$smarty.config.Group_name}:</label>
						</li>
						<li class="field ">
							<input name="name" id="nameEdit" type="text" class="w240" maxlength="150" value="{$name}"/>
							<input name="oldName" id="oldName" type="hidden" value="{$name}"/>
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="levelEdit">{$smarty.config.Attend_level}:</label>
						</li>
						<li class="field ">
							<input name="level" id="levelEdit" type="text" class="w30 mt15" maxlength="3" value="{$level}"/>
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="costumerEdit">{$smarty.config.Company}:</label>
						</li>
						<li class="field ">
							<select name="costumer" id="costumerEdit">
								<option value="">{$smarty.config.Select_company}</option>
								{html_options values=$corpsids output=$corpsvals selected=$company}
							</select>
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="repass_onlyEdit">{$smarty.config.Repass_request_only}:</label>
						</li>
						<li class="field ">
							<input name="repass_only" type="checkbox" id="onlyEdit" value="Y" class="mt15" {if $repass == "Y"} checked="checked" {/if} />
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="modalFooter">
		<div class="clearfix">
			<ul class="lst-btn">
				<li class="last">
					<input type="hidden" id="id" name="id" value="{$id}"/>
					<input type="hidden" name="idperson" id="idperson" value="{$idperson}" />
					<input type='submit' name="submit" id="btnSendGroupsEdit" class="btnOrange tp1" value="{$smarty.config.Save}" />						
				</li>
			</ul>
		</div>
	</div>
</form>