<form action="javascript:;" method="post" id="formGroupsInsert" name="form1">
    <div class="modalHeader">
		<h2>{$smarty.config.Groups_by_service}</h2>
		<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
	</div>
	<div class="modalContent">
		<div class="clearfix">
			<ul class="lstForm clearfix">
				<li>
					<ul>
						<li class="info">
							<label for="service">{$smarty.config.Show_groups_serices_title}:</label>
						</li>
						<li class="field ">
							<select name='service' id='service' class='w200 mt15'>
								<option value="0">{$smarty.config.Select}</option>
								{$lista}
							</select>
						</li>
					</ul>
				</li>
			</ul>
			<div class="loader"><!-- --></div>
			<div class="attendants none"><!-- --></div>
		</div>
	</div>
</form>