
		.dash_select { 
			background-color: #EEE;
			font:10px verdana, arial, helvetica, sans-serif;
			color:#000;
			margin:0;
			padding:0;
			border:1px solid black;
		}
		.dash_groovybutton
		{
		   font:10px verdana, arial, helvetica, sans-serif;
		   color:#000;
		   width:40px;
		   border-style:solid;
		   border-color:#000;
		   border-width:1px;
		}
