<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
        <div id='smallHeader' style="margin-top:0px;  z-index: 99; position:relative;">

            <p><span class="texto" style="margin-top:12px; margin-left: 10px;">:: {$smarty.config.Install_instructions}</span><a 
                    href="#" id='buttonClose' onclick="ocultar('pop2');"><img src="{$path}/app/themes/{$theme}/images/ico_close_button.gif" border="0" 
                                                                         /></a></p>
        </div>    
        <div>
            <div id="campos">
            <textarea id="instruction" name="instruction" style="width: 225px; height: 140px" wrap="virtual">{$instructions}</textarea>
            {literal}
            <script type="text/javascript" language="javascript">
                if(CKEDITOR.instances['instruction'])
                    delete CKEDITOR.instances['instruction'];
                var editor = CKEDITOR.replace( 'instruction',
                {
                    toolbar : 'SOLICITA_DET',
                    skin: 'kama',
                    width : 600,
                    height : 220,
                    toolbarCanCollapse : false,
                    resize_enabled : false,
                    readOnly: true			
                });				
            </script>	
            {/literal}
        </div>
            
        </div>


    </body>
</html>
