<html>
    <head>
        <title>{$pagetitle}</title>
        <meta http-equiv="content-Type" content="text/html; charset=utf-8" />
        {literal}
           
        <script type="text/javascript">

            var $width = $(document.getElementById('content2')).width();
            $("#download-accordion").liteAccordion({
                                                    "theme":"stitch",
                                                    "containerWidth":$width -28,
                                                    "containerHeight":$(window).height()-184,
                                                    "pauseOnHover":true,
                                                    "rounded" : true
                                                });
    
            function ocultar(div){
                var div = div;
                var name = "#"+div+"";
                $(name).fadeOut();
            }
            function showinstruction(iddownload){
                $("#pop2").load('downloads/showinstruction/id/'+iddownload);
                $("#pop2").fadeIn();
            }
            function openDownloadPopUP(path,filename,downloadname){
                window.open('downloads/getFile/pathAt/'+path+'/nameAt/'+downloadname+'/filename/'+filename,'','height = 1, width = 1');
            }
        </script>
        {/literal}
    </head>
    <body>
        <div id="download-accordion" name="download-accordion">{$list}</div>
        <div id="pop2" class="pop-tp2 w600"></div>
    </body>
</html>
