<div class="flexigrid">
	<div class="mDiv"><div class="ftitle"> :: {$smarty.config.Faq}</div></div>
</div>
<div class="fl" style="width: 15%;">
	<ul id="faqCategories" class="textomenu">

	</ul>
</div>
<div class="fl" style="width: 85%;">
	<table id="flexigrid2"><!-- --></table>
</div>
{literal}
<script type="text/javascript" src="{/literal}{$path}{literal}/includes/classes/jquery-treeview/jquery.treeview.js"></script>
<script type="text/javascript" src="{/literal}{$path}{literal}/includes/classes/jquery-treeview/jquery.treeview.async.kbase.js"></script>
<script  src="{/literal}{$path}{literal}/includes/classes/ajax/faq.js"></script>
{/literal}
<div id="modalInfoArticle" class="window" style="width:600px;"><!-- --></div>