<div class="flexigrid">
	<div class="mDiv"><div class="ftitle"> :: {$smarty.config.pgr_knowledge_base}</div></div>
</div>
<div class="fl" style="width: 15%;">
	<ul id="klbCategories" class="textomenu">

	</ul>
</div>
<div class="fl" style="width: 85%;">
	<table id="flexigrid2"><!-- --></table>
</div>
{literal}
<script type="text/javascript" src="{/literal}{$path}{literal}/includes/classes/jquery-treeview/jquery.treeview.js"></script>
<script type="text/javascript" src="{/literal}{$path}{literal}/includes/classes/jquery-treeview/jquery.treeview.async.kbase.js"></script>
<script  src="{/literal}{$path}{literal}/includes/classes/ajax/knowledgebase.js"></script>
{/literal}
<div id="modalInsertCategory" class="window" style="width:435px;"><!-- --></div>
<div id="modalListEditCategory" class="window" style="width:435px;"><!-- --></div>
<div id="modalEditCategory" class="window" style="width:435px;"><!-- --></div>
<div id="modalInsertArticle" class="window" style="width:600px;"><!-- --></div>
<div id="modalEditArticle" class="window" style="width:600px;"><!-- --></div>
<div id="modalInfoArticle" class="window" style="width:600px;"><!-- --></div>
<div id="modalDeleteArticle" class="window" style="width:450px;"><!-- --></div>