{literal}
	<script>            
        $(document).ready(function() {            	
        	objDefault.init();
            {/literal}
            {if $displaynote == 1 }
            {literal}
				init_hour = "{/literal}{$smarty.now|date_format:'%H:%M:%S'}{literal}";
          	  
				$(document.getElementById('ico_timer2')).click(function(){
          	  		
          	  		if($("#started").val() == "")
          	  			$("#started").val(init_hour);
          	  		
					var $self = $(this);
          	  	
	          	  	if($self.hasClass('active')){
	          	  		$self.removeClass('active');
	                    clearInterval(clock);
	          	  	}
	          	  	else{
	          	  		$self.addClass('active');
	          	  		clock = setInterval(function() {
	                        var currentTime = new Date();
	                        var currentHours = currentTime.getHours();
	                        var currentMinutes = currentTime.getMinutes();
	                        var currentSeconds = currentTime.getSeconds();
	                        currentMinutes = (currentMinutes < 10 ? "0" : "") + currentMinutes;
							currentSeconds = (currentSeconds < 10 ? "0" : "") + currentSeconds;
							var currentTimeString = currentHours + ":" + currentMinutes + ":" + currentSeconds;
	
							$('#finished').attr('value', currentTimeString)
							calctotal();
						}, 1000); 
	          	  	}
          	  	});
				
				$(document.getElementById('addnotetokbase')).click(function(){
					var modalInsert = $(document.getElementById("modalInsertArticle"));
				    objDefault.maskLoaderShow();
				    modalInsert.load("knowledgebase/modalInsertArticle", function(){				    	
				    	var noteTxt  = CKEDITOR.instances['note'].getData();
				    		desctTxt = CKEDITOR.instances['descriptionRequest'].getData();

				    	objDefault.init();
				    	CKEDITOR.instances['txtDescPro'].setData(desctTxt);
				    	CKEDITOR.instances['txtSolPro'].setData(noteTxt);
				    	CKEDITOR.instances['note'].setData(noteTxt);
				    	
				    	$("#formInsertArticle").validate({
				    		ignore: "input:hidden:not(input:hidden.required)",
				    		wrapper: "li class='error'",            		
				    		errorPlacement: function(error, element) {
								error.appendTo(element.parent().parent());
							},
						  	rules: {
						  		cmbCategory: "required",
						  		txtTitle: "required",
						  		txtDescPro: {
						  			required: function(textarea){
										CKEDITOR.instances[textarea.id].updateElement(); // update textarea
										var editorcontent = textarea.value.replace(/<[^>]*>/gi, ''); // strip tags
										return editorcontent.length === 0;
						  			}
						  		},
						  		txtSolPro: {
						  			required: function(textarea){
										CKEDITOR.instances[textarea.id].updateElement(); // update textarea
										var editorcontent = textarea.value.replace(/<[^>]*>/gi, ''); // strip tags
										return editorcontent.length === 0;
						  			}
						  		} 
						 	}
						});    	
				    	objModal.openModal("modalInsertArticle");
				    	objDefault.maskLoaderHide();
				    })	
				});

				$(document.getElementById('modalInsertArticle')).find('form').live("submit",function(){
					var $self = $(this),
						$btn = $self.find(document.getElementById('btnInsertArticle'));		
					$.ajax({
						type: "POST",
						url: "knowledgebase/insertArticle",
						data: $(this).serialize(),
						error: function (ret) {
							objDefault.notification("error",aLang['Alert_failure'].replace (/\"/g, ""),"modalInsertArticle");
						},
						success: function(ret) {
							if(ret){
								objDefault.notification("success",aLang['Alert_inserted'].replace (/\"/g, ""),"modalInfo");
		                    	objModal.openModal("modalInfo",1);
							}
							else
								objDefault.notification("error",aLang['Alert_failure'].replace (/\"/g, ""),"modalInsertArticle");
						},
						beforeSend: function(){
							objDefault.buttonAction($btn,'disabled');
						},
						complete: function(){
							objDefault.buttonAction($btn,'enabled');
						}
					});		
				});
	

            {/literal}
            {/if}
            {if $displayreprove == 1 }
            {literal}

           	$(document.getElementById('btnApproveRequest')).click(function(){
				var $self = $(this),
            		code = $("#code_request").val(),
            		justApproval = CKEDITOR.instances['justApproval'].getData();
           		
           		if(justApproval.length == 0){
           			alert("{/literal}{$smarty.config.Alert_empty_justify}{literal}");
           			return false;
           		}

           		objDefault.buttonAction($self,'disabled');
                    $.post('{/literal}{$path}{literal}/helpdezk/operator/approveRequest', 
                    {
                        code: code,
                        justApproval: justApproval
                    }, function(resposta) {
                        if (resposta != false) {
                        	for(var i in CKEDITOR.instances) {
								CKEDITOR.instances[i].destroy(true); 
							}
                            $("#content2").load('operator/viewrequest/id/'+code,function(){
                            	objDefault.notification("success",aLang['Successfully_approved'].replace (/\"/g, ""),"modalInfo");
                        		objModal.openModal("modalInfo");
                            });
                        }
                        else {
                        	objDefault.notification("error",aLang['Error'].replace (/\"/g, ""),"modalInfo");
                        	objModal.openModal("modalInfo");
                        }
                    }).complete(function(){
                    	objDefault.buttonAction($self,'enabled');
                    });
           		
           	});
           	
           	$(document.getElementById('btnReproveRequest')).click(function(){
				var $self = $(this),
            		code = $("#code_request").val(),
            		justApproval = CKEDITOR.instances['justApproval'].getData();
           		
           		if(justApproval.length == 0){
           			alert("{/literal}{$smarty.config.Alert_empty_justify}{literal}");
           			return false;
           		}
           			
           		objDefault.buttonAction($self,'disabled');
                    $.post('{/literal}{$path}{literal}/helpdezk/operator/reproveRequest', 
                    {
                        code: code,
                        justApproval: justApproval
                    }, function(resposta) {
                        if (resposta != false) {
                        	for(var i in CKEDITOR.instances) {
								CKEDITOR.instances[i].destroy(true); 
							}
                            $("#content2").load('operator/viewrequest/id/'+code,function(){
                            	objDefault.notification("success",aLang['Request_rejected'].replace (/\"/g, ""),"modalInfo");
                        		objModal.openModal("modalInfo");
                            });
                        }
                        else {
                        	objDefault.notification("error",aLang['Error'].replace (/\"/g, ""),"modalInfo");
                        	objModal.openModal("modalInfo");
                        }
                    }).complete(function(){
                    	objDefault.buttonAction($self,'enabled');
                    });
           		
           	});
           
           	{/literal}
            {/if}
            
            {if $displayreturn == 1 }
            {literal}            
           		$(document.getElementById('btnReturnApprove')).click(function(){
				var $self = $(this),
            		code = $("#code_request").val(),
            		justApproval = CKEDITOR.instances['justApproval'].getData();
           		
           		if(justApproval.length == 0){
           			alert("{/literal}{$smarty.config.Alert_empty_justify}{literal}");
           			return false;
           		}
           		
           		objDefault.buttonAction($self,'disabled');
                    $.post('{/literal}{$path}{literal}/helpdezk/operator/returnRequest', 
                    {
                        code: code,
                        justApproval: justApproval
                    }, function(resposta) {
                        if (resposta != false) {
                        	for(var i in CKEDITOR.instances) {
								CKEDITOR.instances[i].destroy(true); 
							}
                            $("#content2").load('operator/viewrequest/id/'+code,function(){
                            	objDefault.notification("success",aLang['Alert_sucess_return'].replace (/\"/g, ""),"modalInfo");
                        		objModal.openModal("modalInfo");
                            });
                        }
                        else {
                        	objDefault.notification("error",aLang['Error'].replace (/\"/g, ""),"modalInfo");
                        	objModal.openModal("modalInfo");
                        }
                    }).complete(function(){
                    	objDefault.buttonAction($self,'enabled');
                    });           		
           	});
            
            {/literal}
            {/if}
            {literal}
            
            $(document.getElementById('saveStatus')).click(function(){
            	var $self = $(this),
            		valStatus = $(document.getElementById("changeStatus")).val(),
            		code = $(document.getElementById("code_request")).val(),
            		way = $(document.getElementById("way")).val();
            	
            	objDefault.maskLoaderShow();
            	objDefault.buttonAction($self,'disabled');
                $.post('{/literal}{$path}{literal}/helpdezk/operator/updateStatusRequest', 
                {
                    idstatus: valStatus,
                    code_request: code,
                    way: way
                }, function(resp) {
                	if(resp.success == 1){
                		objDefault.notification("success",aLang['Status_sucess'].replace (/\"/g, ""),"modalInfo");
                    	objModal.openModal("modalInfo",1);
                	}else{
                		if(resp.msg){
                			msg = resp.msg;
                		}else{
                			msg = aLang['Error'].replace (/\"/g, "");
                		}
                		objDefault.notification("error",msg,"modalInfo");
                    	objModal.openModal("modalInfo");
                	}
                }, "json").complete(function(){
                	objDefault.maskLoaderHide();
                	objDefault.buttonAction($self,'enabled');
                });
            	
            })
            
            $(document.getElementById('addWay')).click(function(){
	        	var $self = $(this);
				var modalWay = $(document.getElementById("modalWay"));
	            objDefault.maskLoaderShow();
	            modalWay.load(path+"/helpdezk/operator/modalWay", function(){
	            	$("#formAddWay").validate({
		        		wrapper: "li class='error'",            		
		        		errorPlacement: function(error, element) {
							error.appendTo(element.parent().parent());
						},
					  	rules: {
					  		txtWay: {
					  			required: true
					  		}
					 	}
					});
	            	objModal.openModal("modalWay");
	            	objDefault.maskLoaderHide();
	            });
	        });
            
            {/literal}
            {if $displaychanges == 1 }
            {literal}
	            $(document.getElementById('savechanges')).click(function(){
	            	var $self = $(this),
	            		code = $("#code_request").val(),
	                	idperson = $("#idperson").val(),
	                	date = '{/$literal}{$now}{literal}',
	                	expdateorig = $("#expdateorig").val(),
	                	expdate = $("#expdate").val(),
	                	exphourorig = $("#exphourorig").val(),
	                	exphour = $("#exphour").val(),
	                	type = $("#type-view").val(),
	                	item = $("#item").val(),
	                	service = $("#service").val(),
	                	reason = $("#reason").val(),
	                	way = $("#way").val(),
	                	priority = $("#priority").val();
	                
	                //inicio das validacoes
	                if(area =='' || area == 0){
	                    alert("{/literal}{$smarty.config.Alert_choose_area}{literal}");
	                    return false;
	                }
	                if(type =='' || type == 0){
	                    alert("{/literal}{$smarty.config.Alert_choose_type}{literal}");
	                    return false;
	                }
	                if(item =='' || item == 0){
	                    alert("{/literal}{$smarty.config.Alert_choose_item}{literal}");
	                    return false;
	                }
	                if(service =='' || service == 0){
	                    alert("{/literal}{$smarty.config.Alert_choose_service}{literal}");
	                    return false;
	                }
	                if(subject =='' || subject == 0){
	                    alert("{/literal}{$smarty.config.Alert_empty_subject}{literal}");
	                    return false;
	                }
	                if(reason == 0){
	                    reason = 'NULL';
	                }
	                if(way == 0){
	                    way = 'NULL';
	                }
	                objDefault.buttonAction($self,'disabled');
	                $.post('{/literal}{$path}{literal}/helpdezk/operator/editrequest', {code:code, type: type, item:item, service:service, 
	                    reason:reason, way:way, priority:priority
	                }, function(resposta3) {
	          
	                    if (resposta3 != false) {
	                        //alert(resposta3);
	                        for(var i in CKEDITOR.instances) {
								CKEDITOR.instances[i].destroy(true); 
							}
	                        $("#content2").load(path+'/helpdezk/operator/viewrequest/id/'+code,function(){
	                        	objDefault.notification("success",aLang['Save_changes_sucess'].replace (/\"/g, ""),"modalInfo");
	                        	objModal.openModal("modalInfo",1);
	                        });
	                    }
	                    // Se resposta for false, ou seja, nao ocorreu nenhum erro
	                    else {
	                    	objDefault.notification("error",aLang['Error'].replace (/\"/g, ""),"modalInfo");
	                        objModal.openModal("modalInfo");                                    
	                    }
	                })
	                .complete(function(){
	                	objDefault.buttonAction($self,'enabled');
	                });
	            })
            {/literal}
            {/if}
            
            {if $displayassume == 1 }
            {literal}
	            $(document.getElementById('assumeRequest')).click(function(){
					var code = $("#code_request").val(),
						idperson = $("#idperson").val(),
						typeincharge = $("#typeincharge").val(),
						incharge = $("#incharge").val(),
						groupAssume = $("#nameGroupAssume").val(),
						$self = $(this);
					
					if ($("#grpkeep").is(":checked")) var grpkeep = '1';
					else var grpkeep = '0';
					
					objDefault.buttonAction($self,'disabled');
					$.post("{/literal}{$path}{literal}/helpdezk/operator/assume", 
					{
						code: code, 
						person: idperson, 
						grpview: grpkeep,
						typeincharge: typeincharge,
						incharge: incharge,
						groupAssume: groupAssume
					},
						function(resp){
							if (resp == "OK"){
								for(var i in CKEDITOR.instances) {
									CKEDITOR.instances[i].destroy(true); 
								}
								$("#content2").load(path+'/helpdezk/operator/viewrequest/id/'+code,function(){
									objDefault.notification("success",aLang['Assumed_successfully'].replace (/\"/g, ""),"modalInfo");
	                        		objModal.openModal("modalInfo",1);
								});
							}
							else{
								objDefault.notification("error",aLang['Error'].replace (/\"/g, ""),"modalInfo");
	                        	objModal.openModal("modalInfo");
							}
						}
					).complete(function(){
						objDefault.buttonAction($self,'enabled');
					});
				});
				
				$(document.getElementById("grpkeep")).click(function(){
					var $grpAssume = $(document.getElementById("groupsAssume"));
					if($grpAssume.length){
						if(this.checked){
							$grpAssume.removeClass("none");
						}else{
							$grpAssume.addClass("none");
						}
						
					}
					
				})
			{/literal}
            {/if}
            
            {if $displaynote == 1 }
            {literal}
		        $(document.getElementById("times")).find("input").keypress(function(event){
		        	if (event.keyCode == 13){
					  $(document.getElementById('addnote')).trigger("click");
					}
		        })
		            
		        $(document.getElementById('addnote')).click(function(){
		        	pathform = document.AuxAttach;
		            //por algum motivo precisamos usar o caminho antes de testar o if, se  naõ ele faz reload do site, entao jogamos na variavel pra funcionar o resto 
		            var benzadesetedias2=noteanexo.document.formNAt.COD_NOTE_ATT2.value;
		            
		            if (noteanexo.document.formNAt.COD_NOTE_ATT2){   
		                pathform.COD_NOTE_ATT.value = noteanexo.document.formNAt.COD_NOTE_ATT2.value;                     
		            }
		            var $self = $(this),
		            	code = $("#code_request").val(),
		            	idperson = $("#idperson").val(),
		            	note = CKEDITOR.instances['note'].getData(),
		            	totalminutes = $("#totalminutes").val(),
		            	starthour = $("#started").val(),
		            	finishour = $("#finished").val(),
		            	execdate = $("#execdate").val(),
		            	typehour = $("#typehour").val(),
		            	typeNote = $("#typeNote").val(),		            	
		            	obtime = '{/literal}{$obrigatorytime}{literal}';
		            	
		            if(document.getElementById("callback").checked) callback = 1; else callback = 0;
		            	
		            if(obtime == 1){
		                if(totalminutes == 0 || totalminutes == ''){
		                    alert("{/literal}{$smarty.config.Obrigatory_time}{literal}!");
		                    return false;
		                }
		            }
		            var idanexo = $("#COD_NOTE_ATT").val();
		            if(idanexo<1)
		                idanexo = 'NULL';                
		            
		            {/literal}
		            {if $emptynote == 0}
		            {literal}                
						if(note == '' || note == 0){
		                    alert("{/literal}{$smarty.config.Alert_empty_note}{literal}!");
		                    return false;
		                }
		            {/literal}
		            {/if}
		            {literal}                
		            
		            objDefault.buttonAction($self,'disabled');
		            $.post("{/literal}{$path}{literal}/helpdezk/operator/addnote", 
		            {code: code, person: idperson, note: note, totalminutes: totalminutes, starthour: starthour, finishour: finishour, execdate: execdate, idanexo:idanexo, hourtype:typehour, callback: callback, typenote:typeNote },
		            function(resp){
		                if (resp != false && resp==='OK'){
		                	for(var i in CKEDITOR.instances) {
								CKEDITOR.instances[i].destroy(true); 
							}
		                    $('#content2').load(path+'/helpdezk/operator/viewrequest/id/'+code,function(){
		                    	objDefault.notification("success",aLang['Alert_note_sucess'].replace (/\"/g, ""),"modalInfo");
		                    	objModal.openModal("modalInfo",1);
		                    });
		                    return false;
		                    
		                }
		                else{
		                	objDefault.notification("error",aLang['Error_insert_note'].replace (/\"/g, ""),"modalInfo");
		                    objModal.openModal("modalInfo");
		                }
		            }).complete(function(){
		            	if(typeof clock != 'undefined') {
							clearInterval(clock);
						}
		            	objDefault.buttonAction($self,'enabled');
		            });
		        })
			{/literal}
            {/if}
            {if $displayopaux == 1}
			{literal}
		        $(document.getElementById('opeaux')).click(function(){
		        	var $self = $(this),
		        		code = $("#code_request").val();
						
					var modalOpenAux = $(document.getElementById("modalOpeAux"));
		            objDefault.maskLoaderShow();
		            modalOpenAux.load(path+"/helpdezk/operator/operatorauxmodal/code/"+code, function(){
		            	objModal.openModal("modalOpeAux");
		            	objDefault.maskLoaderHide();
		            });
		        });

			{/literal}
			{/if}
            {if $displayclose == 1 }
            {literal}
		        $(document.getElementById('close')).click(function(){
		        	var $self = $(this),
		        		code = $("#code_request").val();
						
					var modalClose = $(document.getElementById("modalClose"));
		            objDefault.maskLoaderShow();
		            modalClose.load(path+"/helpdezk/operator/closerequestmodal/code/"+code, function(){
		            	objModal.openModal("modalClose");
		            	objDefault.maskLoaderHide();
		            });
		        });
	            
		        $(document.getElementById('modalClose')).find('form').live("submit",function(){
					var $self = $(this),
						$btn = $self.find(document.getElementById('btnSendClose'));		
					$.ajax({
						type: "POST",
						url: "{/literal}{$path}{literal}/helpdezk/operator/closerequest",
						data: $(this).serialize(),
						error: function (ret) {
							objDefault.notification("error",aLang['Error'].replace (/\"/g, ""),"modalClose");
						},
						success: function(ret) {
							if(ret == "OK"){
								//objDefault.notificationReload("success",aLang['Alert_close_request'].replace (/\"/g, ""),"modalClose");
								window.location = "operator";
							}
							else
								objDefault.notification("error",aLang['Error'].replace (/\"/g, ""),"modalClose");
						},
						beforeSend: function(){
							objDefault.buttonAction($btn,'disabled');
						},
						complete: function(){
							objDefault.buttonAction($btn,'enabled');
						}
					});	
				});
			{/literal}
            {/if}
            
            {if $displayreopen == 1 }
            {literal}
		        $(document.getElementById('reopen')).click(function(){
		        	var $self = $(this),
		        		code = $("#code_request").val(),
		            	idperson = $("#idperson").val();
		            
		            objDefault.buttonAction($self,'disabled');
		            
		            $.post("{/literal}{$path}{literal}/helpdezk/operator/reopenrequest", 
		            {code: code, person: idperson},
		            function(resp){
		                if (resp != false){
		                	for(var i in CKEDITOR.instances) {
								CKEDITOR.instances[i].destroy(true); 
							}
		                    $("#content2").load(path+'/helpdezk/operator/viewrequest/id/'+code,function(){
		                    	objDefault.notification("success",aLang['Alert_reopen_sucess'].replace (/\"/g, ""),"modalInfo");
		                    	objModal.openModal("modalInfo");
		                    });
		                }
		                else{
		                	objDefault.notification("error",aLang['Error'].replace (/\"/g, ""),"modalInfo");
		                    objModal.openModal("modalInfo");
		                }
		            }).complete(function(){
		            	objDefault.buttonAction($self,'enabled');
		            });
		        })
			{/literal}
            {/if}
            {literal}
        
            
            $(document.getElementById('refresh')).click(function(){
            	objDefault.maskLoaderShow();
	        	$('#noteanexo').val(''); 
	        	for(var i in CKEDITOR.instances) {
					CKEDITOR.instances[i].destroy(true); 
				}
	        	$('#content2').load(path+'/helpdezk/operator/viewrequest/id/{/literal}{$request_code}{literal}',function(){
	        		objDefault.maskLoaderHideAll();
	        	});
	        })
	        
	        $(document.getElementById('googleCalendar')).click(function(){
	        	var $self = $(this),
	        		code = $("#code_request").val();
					
				var modalGoogleCalendarLogin = $(document.getElementById("modalGoogleCalendarLogin"));
	            objDefault.maskLoaderShow();
	            modalGoogleCalendarLogin.load(path+"/helpdezk/operator/modalGoogleCalendar/code/"+code, function(){
	            	objModal.openModal("modalGoogleCalendarLogin");
	            	objDefault.maskLoaderHide();
	            });
	        });
			
			/* under construction */	
			$(document.getElementById('btnPrintRequest')).click(function(){
				//alert('clicou');
	        	var $self = $(this),
	        		code = $("#code_request").val();				
				window.open(path + "/app/reports/relPrintRequest.php?code_request=" + code, "_blank");		
			});
			/* end under construction  */
			
			
	        
		});

        function openDownloadPopUP(path,filename,downloadname){
            //caso o path default tenha 2 diretorios, tem que tirar a / pq se não quebra a chamada do controller
            path = path.replace("/", "-");
            //alert('downloads/getFile/pathAt/'+path+'/nameAt/'+downloadname+'/filename/'+filename+'');
            winRef = window.open('downloads/getFile/filename/'+filename+'/nameAt/'+downloadname+'/pathAt/'+path+'','','height = 1, width = 1');
            setTimeout(function(){
            	winRef.close();
            },1000);
        }
            
        function change(val){
            $("select[name=type]").html('<option value="0">{/literal}{$smarty.config.Loading}{literal}</option>');
            var val = $("#area").val();
            $.post("{/literal}{$path}{literal}/helpdezk/operator/type",
                {area: val},
                function(valor){
                    $("select[name=type-view]").html(valor);
                    return reloadItens();
                }
            )
        }
        //reloadtypes eh usado somente 1 vez no load da pagina, depois os tipos sao mudados pelo onchange da area
        function  reloadtypes(){
            $("select[name=type-view]").html('<option value="0">{/literal}{$smarty.config.Loading}{literal}</option>');
            $.post("{/literal}{$path}{literal}/helpdezk/operator/type", 
	            {area:$('#area').val()},
	            function(valor){
	                $("select[name=type-view]").html(valor);
	                return reloadItens();
	            }
	    	)
        }
         
        function reloadItens() {
            $("select[name=item]").html('<option value="0">{/literal}{$smarty.config.Loading}{literal}</option>');
            $.post("{/literal}{$path}{literal}/helpdezk/operator/item", 
	            {type:$('#type-view').val()},
	            function(valor){
	                $("select[name=item]").html(valor);
	                return reloadServices();
	            }
	        )
        }
   
        function reloadServices() {
            $("select[name=service]").html('<option value="0">{/literal}{$smarty.config.Loading}{literal}</option>');
            $.post("{/literal}{$path}{literal}/helpdezk/operator/service", 
	            {item:$('#item').val()},
	            function(valor){
	                $("select[name=service]").html(valor);
	                return reloadReasons();
	            }
	        )
        }
    
        function reloadReasons() {
            $("select[name=reason]").html('<option value="0">{/literal}{$smarty.config.Loading}{literal}</option>');
            $.post("{/literal}{$path}{literal}/helpdezk/operator/reason", 
	            {type:$('#service').val()},
	            function(valor2){
	                $("select[name=reason]").html(valor2);
	            }
	        )
        }
            
        function calctotal(){
            var start = $("#started").val(),
            	finish = $("#finished").val();
            $(document.getElementById('totalminutes')).val(calcmin(start,finish));
        }   
            
        function calcmin(start,finish) {
	        if(start == '' || finish ==''){
	            return;
	        }
	        
	        split = new Array();
	        
	        split[2] = start.split(":");
	        split[1] = finish.split(":");
	        
	        hour1 = split[1][0];
	        minute1 = split[1][1];
	        second1 = split[1][2];
	
	        hour2 = split[2][0];
	        minute2 = split[2][1];
	        second2 = split[2][2];
	
	        total_minutes = (((hour1 * 60) - (hour2 * 60)) + (minute1 - minute2) + ((second1 / 60) - (second2 / 60)));
	        return total_minutes.toFixed(2);
	    }

        function deleteNote(note, idrequest, typeperson){
            var idnote = note;
            var idreq = idrequest;
            var type = typeperson;
            objDefault.maskLoaderShow();
            $.post('operator/deletenote', {
                idnote : idnote
            }, function(resposta) {
                if (resposta != false) {
                    for(var i in CKEDITOR.instances) {
						CKEDITOR.instances[i].destroy(true); 
					}
                    $("#content2").load(path+'/helpdezk/operator/viewrequest/id/'+idreq,function(){
                    	objDefault.notification("success",aLang['Alert_deleted_note'].replace (/\"/g, ""),"modalInfo");
                		objModal.openModal("modalInfo");
                    });
                    
                }
                else {
                    objDefault.notification("error",aLang['Error'].replace (/\"/g, ""),"modalInfo");
                    objModal.openModal("modalInfo");
                }
            }).complete(function(){
            	objDefault.maskLoaderHideAll();
            });
        }
    </script>
{/literal}

<input name="idperson" type="hidden" id="idperson" value="{$idperson}" />
<input name="incharge" type="hidden" id="incharge" value="{$incharge}" />
<input name="typeincharge" type="hidden" id="typeincharge" value="{$typeincharge}" />

<div class="fl w550">
    <div class="titulo" class="texto">{$smarty.config.Request_code}:</div>
    <div class="campos"><span style="font-weight: bold;">{$request_code}</span> </div><a href="javascript:;" id="refresh"><img style="margin-top: 4px; margin-left:3px;" src="{$path}/app/themes/{$theme}/images/load.png" border='0' title="{$smarty.config.reload_request}"/></a>
    <div class="clr"><!--  --></div>

    <input type="hidden" id="code_request" name="code_request" value="{$request_code}"/>
    <div class="titulo">{$smarty.config.Request_owner}:</div>
    <div class="campos">{$owner} ({$company}) &nbsp;</div> <div style="margin-top: 3px; float: left;"><a href="mailto:{$email}"><img src="{$path}/app/themes/{$theme}/images/email.png" height="20px" width="20px"/></a></div>
    <div class="clr"><!--  --></div>
	
	<!-- Equipment -->
	{if $show_phone}
			<div class="titulo">{$smarty.config.Phone}:</div>
			<div class="campos"> {$phone_number}              </div>        
			<div class="titulo">{$smarty.config.Branch}:</div>
			<div class="campos">{$branch_number} </div>    
			<div class="titulo">{$smarty.config.Mobile_phone}:</div>
			<div class="campos">{$cel_phone}</div>    
	{/if}	
	<!-- 		   -->
	
    <div class="titulo" style="clear: both;">{$smarty.config.Department}:</div>
    <div class="campos">{$department}</div>
    <div class="clr"><!--  --></div>

    <div class="titulo"> {$smarty.config.Area}: </div>
    <div class="campos">
        <select class="campo" name="area" id="area" onchange="change();">
            <option value="0">{$smarty.config.Select} </option>
            {html_options values=$areaids output=$areavals selected=$idarea}
        </select>
    </div>

    <div class="titulo"> {$smarty.config.Type}: </div>
    <div class="campos">
        <select class="campo" name="type-view" id="type-view" onchange="reloadItens();">
            <option value="0">{$smarty.config.Select} </option>
            {html_options values=$typeids output=$typevals selected=$idtype}
        </select>
    </div>

    <div class="titulo"> {$smarty.config.Item}: </div>
    <div class="campos">
        <select class="campo" name="item" id="item" onchange="reloadServices();">
            <option value="0">{$smarty.config.Select} </option>
            {html_options values=$itemids output=$itemvals selected=$iditem}
        </select>
    </div>

    <div class="titulo"> {$smarty.config.Service}: </div>
    <div class="campos">
        <select class="campo" name="service" id="service">
            <option value="0">{$smarty.config.Select} </option>
            {html_options values=$serviceids output=$servicevals selected=$idservice}
        </select>
    </div>

    <div class="titulo"> {$smarty.config.Reason}: </div>
    <div class="campos">
        <select class="campo" name="reason" id="reason">
            <option value="0">{$smarty.config.Select} </option>
            {html_options values=$reasonids output=$reasonvals selected=$idreason}
        </select>
    </div>
    
    {if $SES_REQUEST_ADDINFO == 1 and $addinfoname}
    	<div class="titulo"> {$smarty.config.Additional_information}: </div>
	    <div class="campos">
	        {$addinfoname}
	    </div>
    {/if}
    
    
    {if $numusersaux > 0}
    <div class="titulo"> {$smarty.config.btn_ope_aux}: </div>
    <div class="campos">
        <ul class="lstOpeAux">
		{foreach from=$usersaux item=foo}
		    <li>{$foo}</li>
		{/foreach}
		</ul>
    </div>
    {/if}
</div>
<div class="fl w550">
    <div class="titulo">{$smarty.config.Opened_by}:</div>
    <div class="campos">{$creator}</div>
    <div class="clr"><!--  --></div>

    <div class="titulo" >{$smarty.config.Source}:</div>
    <div class="campos">{$source}</div>
    <div class="clr"><!--  --></div>

    <div class="titulo">{$smarty.config.status}:</div>
    
    {if $idstatus_source == 3}
    	<div class="campos">
    		<select class="campo" name="changeStatus" id="changeStatus">
	            {html_options values=$stids output=$stvals selected=$idstatus}
	        </select>
	        <a href="javascript:;" class="btnOrange tp1 min" id="saveStatus">{$smarty.config.Save}</a>
    	</div>
    {else}
    	<div class="campos">{$status}</div>
    {/if}
    <div class="clr"><!--  --></div>

    <div class="titulo">{$smarty.config.Opening_date}:</div>
    <div class="campos">{$entry}</div>
    <div class="clr"><!--  --></div>

    <div class="titulo"> {$smarty.config.Priority}: </div>
    <div class="campos">
        <select class="campo" name="priority" id="priority">
            <option value="0">{$smarty.config.Select} </option>
            {html_options values=$priorityids output=$priorityvals selected=$idpriority}
        </select>
    </div>
    <div class="clr"><!--  --></div>

    <div class="titulo">{$smarty.config.Att_way}: </div>
    <div class="campos">
        <select class="campo" name="way" id="way">
            <option value="0">{$smarty.config.Select}</option>
            {html_options values=$wayids output=$wayvals selected=$idway}
        </select>
        <a href="javascript:;" class="btnOrange tp1 min" id="addWay">+</a>
    </div>
    <div class="clr"><!--  --></div>

    <div class="titulo"> {$smarty.config.Var_incharge}: </div>
    <div class="campos"> {$inchargename} </div>

   	<div class="titulo"> {$smarty.config.Expire_date}: </div>
   	<div class="campos"> 
   		{$expire_date} {$expire_hour}
   		{if $show_btn_change_expire == 1}
   			<a href='#modalChangeExpireDate' class='openModal btnOrange tp1 min'> {$smarty.config.Change_date} </a>
   		{/if}
   	</div>

	<!-- Equipment -->
	{if $have_equipment }
			<div class="titulo">{$smarty.config.Tag}:</div>
			<div class="campos"> {$label}              </div>        
			<div class="titulo">{$smarty.config.Service_order_number}:</div>
			<div class="campos">{$os_number} </div>    
			<div class="titulo">{$smarty.config.Serial_number}:</div>
			<div class="campos">{$serial_number}</div>    
	{/if}	
	<!-- 		   -->
</div>


<div class="clr"><!--  --></div>
<div class="titulo"> {$smarty.config.Subject}: </div>
<div class="campos">
    <input type="text" id="subject" name="subject" value="{$subject}" style="width: 960px;" class="campo" readonly="readonly" />
</div>

<div class="titulo"> {$smarty.config.Description}: </div>
<div class="campos">
    <textarea id="descriptionRequest" class="ckeditor" data-width="960" data-height="220" data-readonly="true" data-toolbar="SOLICITA_DET" name="descriptionRequest"  wrap="virtual">{$description}</textarea>
</div>
<div class="titulo" {$hasattach}> {$smarty.config.Attachments}: </div>
<div class="campos" id="campoattachs" {$hasattach}>{$attach1}</div>

{if $displayapprove != 0 || $displayreturn != 0 || $displayreprove != 0}
	<div class="titulo"> Justificativa de aprovação: </div>
    <div class="campos">
        <textarea id="justApproval" class="ckeditor" data-width="960" data-height="100" data-readonly="false" data-toolbar="SOLICITA_DET" name="justApproval"  wrap="virtual"></textarea>
    </div>
{/if}  
  

{if $displayprint != 0 || $displaychanges != 0 || $displayassume != 0 ||  $displayrepass != 0 || $displayreject != 0 || $displayclose != 0 || $displayreopen != 0 || $displayapprove != 0 || $displayreturn != 0 || $displayreprove != 0}
    <div class="notes mt10">
    	<div class="fl">
        {if $displaychanges == 1}
        	<input type="button" id="savechanges" class="btnOrange tp1 fl" value="{$smarty.config.btn_save_changes}"/>
        {/if}
        {if $displayassume == 1}
        	<a href="#modalAssume" class="openModal btnOrange tp1 fl">{$smarty.config.btn_assume}</a>
        {/if}
        {if $displayopaux == 1}
        	<a href="javascript:;" id="opeaux" class="btnOrange tp1 fl">{$smarty.config.btn_ope_aux}</a>
        {/if}
        {if $displayrepass == 1}
        	<a href="#modalRepass" class="openModal btnOrange tp1 fl">{$smarty.config.btn_repass}</a>    
        {/if}
        {if $displayreject == 1}
        	<a href="#modalReject" class="openModal btnOrange tp1 fl">{$smarty.config.btn_reject}</a>
        {/if}
        {if $displayclose == 1}
        	<a href="javascript:;" id="close" class="btnOrange tp1 fl">{$smarty.config.btn_close}</a>
        {/if}
        {if $displayreopen == 1}
        	<a href="javascript:;" id="reopen" class="btnOrange tp1 fl">{$smarty.config.btn_reopen}</a>
        {/if}      
        {if $displayapprove == 1}
        	<input type="button" id="btnApproveRequest" class="btnOrange tp1 fl" value="{$smarty.config.Request_approve_app}"/>
        {/if}
        {if $displayreturn == 1}
        	<input type="button" id="btnReturnApprove" class="btnOrange tp1 fl" value="{$smarty.config.Request_return_app}"/>
        {/if}
        {if $displayreprove == 1}
        	<input type="button" id="btnReproveRequest" class="btnOrange tp1 fl" value="{$smarty.config.Request_reprove_app}"/>
        {/if}
        </div>
        <div class="fl">
        {if $displayprint == 1}
			<a href="javascript:;" id="btnPrintRequest" class="btn-print-tp2 fl" title="{$smarty.config.Print}">{$smarty.config.Print}</a>
			<a href="javascript:;" id="googleCalendar" class="btnGoogleCalendar fl" title="{$smarty.config.Google_Calendar_Export}">{$smarty.config.Google_Calendar_Export}</a>
        	<!-- <a href="#modalPrint" class="btnOrange tp1">{$smarty.config.Print}</a> -->
        {/if}
        </div>
        
    </div> 
{/if}
		
		
<div class="clr"><!--  --></div>
<!-- aqui testamos se a solicitação nao é nova nem repassada, para permitir apontamentos -->
{if $displaynote == 1 }
    <div class="texto notes">  
        <span class="ml10">{$smarty.config.Insert_note}</span>
    </div>
    <div class="ml10">
        <div id="times">
        	<strong>{$smarty.config.Time_expended}:</strong>
        	<div class="fl">
                <label for="execdate">{$smarty.config.Execution_date}:</label>
                <input type="text" name="execdate" class="calendar campo" data-prev="execdate" id="execdate" value="{$now}"/>
                <label for="started">{$smarty.config.Started}:</label>
                <input type="text" name="started" id="started" maxlength="8" class='campo mask w50' data-format="99:99:99" value="{$smarty.now|date_format:'%H:%M:%S'}"/>
               	<label for="finished">{$smarty.config.Finished_alt}:</label>
                <input type="text" name="finished" id="finished" size="5" maxlength="8" class='campo mask w50' data-format="99:99:99" onchange="calctotal();" />
                <label for="totalminutes">{$smarty.config.Total_minutes}:</label>
                <input type="text" name="totalminutes" id="totalminutes" class='campo' style="width:30px;" readonly="readonly"/> 
            </div>
            <a href="javascript:;" id="ico_timer2" class="clock mr15" title="{$smarty.config.Timer_alt}">{$smarty.config.Timer_alt}</a>
            <div class="fl mr15">
            	<label for="typehour">{$smarty.config.Hour}:</label>
                <select class="campo w70" name="typehour" id="typehour">
                	<option value="1">Normal</option>
                	<option value="2">Extra</option>
                </select>
            </div>
            <div class="fl mr15">
            	<label for="typeNote">{$smarty.config.Visible}:</label>
                <select class="campo w70" name="typeNote" id="typeNote">
                	<option value="1">{$smarty.config.User}</option>
                	<option value="2">{$smarty.config.Only_operator}</option>
                </select>
            </div>
            <div class="fl">            	
            	<label for="callback"><input type="checkbox" name="callback" id="callback" value="1"/> {$smarty.config.Time_return}</label>
            </div>
            	
        </div>
        <div class="clr"><!--  --></div>
        <textarea id="note" name="note" class="ckeditor" data-height="150" data-width="1032" rows="4" cols="78" class="fl"></textarea>
    </div>
    <div id="boxAttch" class="ml10 mt15">
        <div class="titulo wAuto">{$smarty.config.Attachments}:</div> 
        <form name="AuxAttach"  action="" method="post" accept-charset=utf-8 >
            <input name="COD_NOTE_ATT" type="hidden" id="COD_NOTE_ATT"/>
        </form>
        <iframe src="{$path}/helpdezk/operator/managenoteattachments/" name="noteanexo" id="noteanexo" width="800" height="40" frameborder="0" scrolling="no">
        </iframe>
    </div>
    <div class="notes mt10">
    	<input type="button" id="addnote" class="btnOrange tp1" value="{$smarty.config.btn_add_note}"/>
    	<input type="button" id="addnotetokbase" class="btnOrange tp1" value="{$smarty.config.Insert_in_knowledgebase}"/>
    	<a href="#modalSearchKBase" class="btnOrange tp1 openModal">{$smarty.config.Search_in_knowledgebase}</a>
    </div>
{/if}

<div class="notes mb0">
	<strong class="ml10">{$smarty.config.Added_notes}</strong>
</div>
<div class="clr"><!--  --></div>
<div id="notetable">
	{$notetable}
</div>

<!-- INCLUDES MODAIS -->
<div id="modalWay" class="window" style="width:400px;"><!-- --></div>
{if $displayclose == 1}
	<div id="modalClose" class="window" style="width:400px;"><!-- --></div>
{/if}
{if $displayopaux == 1}
	<div id="modalOpeAux" class="window" style="width:400px;"><!-- --></div>
{/if}
{if $displayrepass == 1}
	{include file="modais/repass.tpl.html"}
{/if}
{if $displayreject == 1}
	{include file="modais/rejectreason.tpl.html"}
{/if}
{if $displayassume == 1}
	{include file="modais/assumeoptions.tpl.html"}
{/if}
{include file="modais/include/useredit.tpl.html"}

{include file="modais/changeexpiredate.tpl.html"}

<div id="modalInsertArticle" class="window" style="width:600px;"><!-- --></div>
<div id="modalGoogleCalendar" class="window" style="width:400px;"><!-- --></div>
<div id="modalGoogleCalendarLogin" class="window" style="width:400px;"><!-- --></div>

{include file="modais/knowledge_base/search_kbase.tpl.html"}
<div id="modalInfoArticle" class="window" style="width:600px;"><!-- --></div>




<!-- END INCLUDES MODAIS -->