<form action="javascript:;" method="post" id="formHolidayEdit">
    <input type="hidden" name="_token" id= "_token" value="{$token}">
    <div class="modalHeader">
		<h2>{$smarty.config.Holiday_edit}</h2>
		<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
	</div>
	<div class="modalContent">
		<div class="clearfix">
			<ul class="lstForm clearfix">
                <!-- Since April 26, 2017 -->
                <li>
                    <ul>
                        <li class="info">
                            <label for="company">{$smarty.config.Company}:</label>
                        </li>
                        <li class="field ">
                            <select name="company" id="company" disabled>
                                {html_options values=$corpId output=$corpVal selected=$corpSel }
                            </select>
                        </li>
                    </ul>
                </li>

                <!-- -->
				<li>
					<ul>
						<li class="info">
							<label for="holiday_description_edit">{$smarty.config.Holiday_des}:</label>
						</li>
						<li class="field">
							<input name="holiday_description" id="holiday_description_edit" type="text" class="campo" size="40" value="{$description}" maxlength="150" />
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="holiday_date_edit">{$smarty.config.Date}:</label>
						</li>
						<li class="field">
							<input name="holiday_date" id="holiday_date_edit" type="text" class="w70 mask" data-format="99/99/9999" maxlength="10" value="{$date}"/>
							<img src="{$path}/app/themes/{$theme}/images/ico_calendario.gif" align="absmiddle" class="calendar" id="f_holiday_date_edit" title="Escolha a Data"/>
						</li>
					</ul>
				</li>
			</ul>
			
		</div>
	</div>
	<div class="modalFooter">
		<div class="clearfix">
			<ul class="lst-btn">
				<li class="last">
					<input type="hidden" value="{$id}" name="id" id="id_edit" value="{$id}"/>						
					<input type='submit' name="submit" id="btnEnviarHolidayEdit" class="btnOrange tp1" value="{$smarty.config.Save}" />						
				</li>
			</ul>
		</div>
	</div>
</form>