<form action="javascript:;" method="post" id="formAlterPassword" name="form1">
	<input type="hidden" name="_token" id= "_token" value="{$token}">
    <div class="modalHeader">
		<h2>{$smarty.config.Change_password}</h2>
		<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
	</div>
	<div class="modalContent">
		<div class="clearfix">
			<ul class="lstForm clearfix">
				<li>
					<ul>
						<li class="info">
							<label for="password">{$smarty.config.New_password}:</label>
						</li>
						<li class="field mr15">
							<input name="password" id="password" type="password" class="w150" maxlength="20"/>
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="info">
							<label for="password">{$smarty.config.Confirm_password}:</label>
						</li>
						<li class="field mr15">
							<input name="cpassword" id="cpassword" type="password" class="w150" maxlength="20"/>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="modalFooter">
		<div class="clearfix">
			<ul class="lst-btn">
				<li class="last">
					<input type="hidden" id="id" name="id" value="{$id}">
					<a href="#modalPersonEdit" class="openModal btnOrange tp1">{$smarty.config.Back_btn}</a>
					<input type='submit' name="submit" id="btnSavePassword" class="btnOrange tp1" value="{$smarty.config.Save}" />						
				</li>
			</ul>
		</div>
	</div>
	
</form>