{literal}
<script>
	
	$(document.getElementById("addGroup")).click(function(){
		var $btn = $(document.getElementById('addGroup')),
			idgroup = document.getElementById("loadGroups").value,
			idperson = document.getElementById("idperson").value,
			_token = document.getElementById("_token").value;

		
		objDefault.buttonAction($btn,'disabled');
		$.post('person/groupinsert', {
                 idgroup : idgroup,
                idperson : idperson,
				_token: _token
            }, 
            function(response) {
                if (response != false) {
                	var modalAttendantGroup = $(document.getElementById("modalAttendantGroup"));
				    objDefault.maskLoaderShow();
				    modalAttendantGroup.load("person/modalAttendantGroup/id/"+idperson, function(data){
				    	if(data == "error"){
				    		objDefault.notification("error",aLang['Option_only_operator'].replace (/\"/g, ""),"modalInfo");
			    			objModal.openModal("modalInfo");
				    	}else{
				    		objModal.openModal("modalAttendantGroup");	
				    	}
				    	objDefault.maskLoaderHide();
				    });
                	
                } else {
                    objDefault.notification("error",aLang['Edit_failure'].replace (/\"/g, ""),"modalAttendantGroup");
                }
			}
		).complete(function(){
			objDefault.buttonAction($btn,'enabled');
		});
	})
	
	function deleteUserGroup(idgroup){
		var idperson = document.getElementById("idperson").value;
		var _token = document.getElementById("_token").value;
		$.post('person/groupdelete', {
                idgroup : idgroup,
                idperson : idperson,
				_token: _token
            }, 
            function(response) {
                if (response != false) {                	
                	var modalAttendantGroup = $(document.getElementById("modalAttendantGroup"));
				    objDefault.maskLoaderShow();
				    modalAttendantGroup.load("person/modalAttendantGroup/id/"+idperson, function(data){
				    	if(data == "error"){
				    		objDefault.notification("error",aLang['Option_only_operator'].replace (/\"/g, ""),"modalInfo");
			    			objModal.openModal("modalInfo");
				    	}else{
				    		objModal.openModal("modalAttendantGroup");	
				    	}
				    	objDefault.maskLoaderHide();
				    });
                	
                } else {
                    objDefault.notification("error",aLang['Edit_failure'].replace (/\"/g, ""),"modalAttendantGroup");
                }
			}
		);
	}
	
</script>
{/literal}

<form action="javascript:;" method="post" id="formAlterPassword" name="form1">
	<input type="hidden" name="_token" id= "_token" value="{$token}">
    <div class="modalHeader">
		<h2>{$smarty.config.View_groups}</h2>
		<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
	</div>
	<div class="modalContent">
		<div class="clearfix">
			<ul class="lstForm clearfix">
				<li>
					<ul>
						<li class="info">
							<label for="password">{$smarty.config.Groups}:</label>
						</li>
						<li class="field mr15">
							<select class="w200" name="groups" id="loadGroups">
						        <option value="0">{$smarty.config.Select_group}</option>
						        {html_options values=$groupsids output=$groupsvals}
						    </select>
						    <button class="btnOrange tp1 min" id="addGroup">{$smarty.config.Add}</button>
						</li>
					</ul>
				</li>				
			</ul>
			{if $listagroup|@count != 0}
			<div id="lstAreas" class="mb15" style="width: 100%; max-height: 300px; overflow: auto;">
				<table id='browser' class='tab-services pop' width='100%' border='0' cellpadding='0' cellspacing='0'>
					<colgroup>
						<col width='90%'/>
						<col width='5%'/>				
					</colgroup>
					<tbody>
						{foreach from=$listagroup key=idgrp item=i}
							<tr> 
								<td>{$i}</td>
								<td>
									{if $listagroup|@count != 1}
										<a href='javascript:;' class='btnDelete-tp1'onclick="deleteUserGroup({$idgrp});">Delete</a>
									{/if}
								</td>
							</tr>
						{/foreach}
					</tbody>
				</table>				
			</div>
			{/if}
			<input type="hidden" id="idperson" value="{$id}"/>
		</div>
	</div>
</form>