
<form action="javascript:;" method="post" name="form2" id="formPersonEdit" class="natural">
	<input type="hidden" name="_token" id= "_token" value="{$token}">
    <div class="modalHeader">
		<h2>{$smarty.config.Person_edit}</h2>
		<a href="javascript:;" class="closeModal btnCloseModal" title="{$smarty.config.Close}">{$smarty.config.Close}</a>
	</div>
	<div class="modalContent">
		<div class="clearfix">
			
			<div id="formnatural" >
				<ul class="lstForm clearfix">
					<li>
						<ul>
							<li class="info">
								<label for="login">Login:</label>
							</li>
							<li class="field">					
								<input name="login" id="login" type="text" class="w240" disabled="disabled" maxlength="40" value="{$login}"/>
							</li>
						</ul>
					</li>
					<li>
						<ul>
							<li class="info">
								<label for="namenatural">{$smarty.config.Name}:</label>
							</li>
							<li class="field">					
								<input name="namenatural" value="{$name}" id="namenatural" type="text" class="w240" maxlength="150"/>
							</li>
						</ul>
					</li>
					<li>
						<ul>
							<li class="info">
								<label for="cpf">{$smarty.config.cpf}:</label>
							</li>
							<li class="field">					
								<input name="cpf" id="cpf" type="text" value="{$ssn_cpf}" class="w130 mask" data-format="{$mask}" maxlength="14"/>
							</li>
						</ul>
					</li>
					<li>
						<ul>
							<li class="info">
								<label for="male">{$smarty.config.Gender}:</label>
							</li>
							<li class="field mr15">					
								<input name="gender" id="male" type="radio" value="M" {$genderM}/><label for="male"> {$smarty.config.Male}</label>
							</li>
							<li>
								<input name="gender" id="female" type="radio" value="F" {$genderF}/><label for="female"> {$smarty.config.Female}</label>
							</li>
						</ul>
					</li>
					<li>
						<ul>
							<li class="info">
								<label for="dtbirth">{$smarty.config.Birth_date}:</label>
							</li>
							<li class="field">					
								<input name="dtbirth" id="dtbirth" type="text" class="w70 mask" data-format="99/99/9999" value="{$dtbirth}" maxlength="10"/>
							</li>
						</ul>
					</li>
					<li>
						<ul>
							<li class="info">
								<label for="email">{$smarty.config.email}:</label>
							</li>
							<li class="field">					
								<input name="email" id="email" type="text" class="w240" maxlength="150" value="{$email}"/>
							</li>
						</ul>
					</li>
					<li>
						<ul>
							<li class="info">
								<label for="phone">{$smarty.config.Phone}:</label>
							</li>
							<li class="field mr15">
								<input name="phone" id="phone" type="text" class="mask w128" data-format="(99)9999-9999?99" maxlength="15" value="{$phone}"/>
							</li>
							<li class="info wAuto">
								<label for="branch">{$smarty.config.Branch}:</label>
							</li>
							<li class="field">
								<input name="branch" id="branch" type="text" maxlength="5" class="w40" value="{$branch}"/>
							</li>
						</ul>
					</li>
					<li>
						<ul>
							<li class="info">
								<label for="mobile">{$smarty.config.Mobile_phone}:</label>
							</li>
							<li class="field">
								<input name="mobile" id="mobile" class="mask w128" data-format="(99)9999-9999?99" type="text" maxlength="15" value="{$cellphone}"/>
							</li>
						</ul>
					</li>
				</ul>
				
				<div class="formAdress">
					
					
					<ul class="lstForm clearfix">
						<li>
							<ul>
								<li class="info">
									<label for="country">{$smarty.config.Country}:</label>
								</li>
								<li class="field">
									<select name="country" class="w240 country" id="country">
										<option value='1'>{$smarty.config.Select}</option>
					                    {html_options values=$countryids output=$countryvals selected = $country }
					                </select>
								</li>
							</ul>
						</li>
						<li {if $nostate == 1}class="none"{/if}>
							<ul>
								<li class="info">
									<label for="state">{$smarty.config.State}:</label>
								</li>
								<li class="field">
									 <select name="state" class="w240 mr5 state" id="state">
									 	{if $nostate == 1}
					                    	<option value="1">{$smarty.config.Select_country_first} </option>
					                    {else}
					                    	{html_options values=$stateids output=$statevals selected = $state}
					                    {/if}
					                </select>
								</li>
								<li>
									<a href="#modalPersonAddState" class="lnk-tp1 openModal" title="{$smarty.config.Add_State}">{$smarty.config.Add_State}</a>
								</li>
							</ul>
						</li>
						<li {if $nocity == 1}class="none"{/if}>
							<ul>
								<li class="info">
									<label for="city">{$smarty.config.City}:</label>
								</li>
								<li class="field">
									<select name="city" class="w240 mr5" id="city">
					                    {if $nocity == 1}
					                    	<option value="1">{$smarty.config.Select_state_first} </option>
					                    {else}
					                    	{html_options values=$cityids output=$cityvals selected = $city}
					                    {/if}
					                </select>
								</li>
								<li>
									<a href="#modalPersonAddCity" class="lnk-tp1 openModal" title="{$smarty.config.Add_City}">{$smarty.config.Add_City}</a>
								</li>
							</ul>
						</li>
						<li>
							<ul>
								<li class="info">
									<label for="neighborhood">{$smarty.config.Neighborhood}:</label>
								</li>
								<li class="field mr15">
									<input name="neighborhood" id="neighborhood" type="text" class="w100" maxlength="40" value="{$neighborhood}"/>
								</li>
								<li class="info wAuto">
									<label for="zipcode">{$smarty.config.Zipcode}:</label>
								</li>
								<li class="field">
									<input name="zipcode" id="zipcode" type="text" class="w80" maxlength="12" value="{$zipcode}"/>
								</li>
							</ul>
						</li>
						<li>
							<ul>
								<li class="info">
									<label for="type_street">{$smarty.config.Type_adress}:</label>
								</li>
								<li class="field mr15">
									<select name="type_street" class="campo w70" id="type_street">
					                    {html_options values=$typestreetids output=$typestreetvals selected = $idtypestreet }
					                </select>
								</li>
								<li class="info wAuto">
									<label for="address">{$smarty.config.Adress}:</label>
								</li>
								<li class="field ui-widget">
									<input name="address" id="address" type="text" class="campo w111" maxlength="200" value="{$street}"/>
								</li>
							</ul>
						</li>
						<li>
							<ul>
								<li class="info">
									<label for="number">{$smarty.config.Number}:</label>
								</li>
								<li class="field mr15">
									<input name="number" id="number" type="text" class="w50" maxlength="40" value="{$number}"/>
								</li>
								<li class="info wAuto">
									<label for="complement">{$smarty.config.Complement}:</label>
								</li>
								<li class="field">
									<input name="complement" id="complement" type="text" class="w74" maxlength="40" value="{$complement}"/>
								</li>
							</ul>
						</li>
					</ul>
					
				</div>
				
			</div>
			
		</div>
	</div>
	<div class="modalFooter">
		<div class="clearfix">
			<ul class="lst-btn">
				<li class="last">
					<input name="id" id="id" type="hidden" value="{$id}" />
					
					<a href="javascript:;" title="{$smarty.config.Change_password}" class="btnOrange tp1 changePassword">{$smarty.config.Change_password}</a>
					
					<input type='submit' name="submit" id="btnSendPersonEditNatural" class="btnOrange tp1" value="{$smarty.config.Save}" />						
				</li>
			</ul>
		</div>
	</div>
</form>